# Imports

In [1]:
import pandas as pd
import os
from dotenv import load_dotenv
load_dotenv()
import importlib

In [58]:
from vulcan.readers.csv import read_csv
import vulcan.generators.metadata as vgm
import vulcan.utils.llm_helpers as vuo
from vulcan.parsers.dependency import determine_table_creation_order
from vulcan.parsers.graph import create_query_dependent_graph, get_table_creation_order
from vulcan.database.core import initialize_database, execute_queries
from vulcan.database.load import push_data_in_db
from vulcan.database.validator import validate_content

# Parameters

In [3]:
file_name = "data/spotify.csv"
db_type = "postgres"
db_uri = "postgresql://vulcan_user:Zneelin12!@localhost/vulcandb"
single_table = True

# Read Data

In [4]:
csv_file = file_name

dataframe = read_csv(csv_file)

print(dataframe.head())
print(dataframe.info())

                            track_name       artist_name  artist_count  \
0  Seven (feat. Latto) (Explicit Ver.)  Latto, Jung Kook             2
1                                 LALA       Myke Towers             1
2                              vampire    Olivia Rodrigo             1
3                         Cruel Summer      Taylor Swift             1
4                       WHERE SHE GOES         Bad Bunny             1

   released_year  released_month  released_day  in_spotify_playlists  \
0           2023               7            14                   553
1           2023               3            23                  1474
2           2023               6            30                  1397
3           2019               8            23                  7858
4           2023               5            18                  3133

   in_spotify_charts    streams  in_apple_playlists  ...  key   mode  \
0                147  141381703                  43  ...    B  Major
1                 48  133716286                  48  ...   C#  Major
2                113  140003974                  94  ...    F  Major
3                100  800840817                 116  ...    A  Major
4                 50  303236322                  84  ...    A  Minor

   danceability_% valence_%  energy_% acousticness_% instrumentalness_%  \
0              80        89        83             31                  0
1              71        61        74              7                  0
2              51        32        53             17                  0
3              55        58        72             11                  0
4              65        23        80             14                 63

   liveness_%  speechiness_%  \
0           8              4
1          10              4
2          31              6
3          11             15
4          11              6

                                           cover_url
0                                          Not Found
1  https://i.scdn.co/image/ab67616d0000b2730656d5...
2  https://i.scdn.co/image/ab67616d0000b273e85259...
3  https://i.scdn.co/image/ab67616d0000b273e787cf...
4  https://i.scdn.co/image/ab67616d0000b273ab5c9c...

[5 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 952
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            817 non-null    object
 1   artist_name           817 non-null    object
 2   artist_count          817 non-null    int64
 3   released_year         817 non-null    int64
 4   released_month        817 non-null    int64
 5   released_day          817 non-null    int64
 6   in_spotify_playlists  817 non-null    int64
 7   in_spotify_charts     817 non-null    int64
 8   streams               817 non-null    object
 9   in_apple_playlists    817 non-null    int64
 10  in_apple_charts       817 non-null    int64
 11  in_deezer_playlists   817 non-null    object
 12  in_deezer_charts      817 non-null    int64
 13  in_shazam_charts      817 non-null    object
 14  bpm                   817 non-null    int64
 15  key                   817 non-null    object
 16  mode                  817 non-null    object
 17  danceability_%        817 non-null    int64
 18  valence_%             817 non-null    int64
 19  energy_%              817 non-null    int64
 20  acousticness_%        817 non-null    int64
 21  instrumentalness_%    817 non-null    int64
 22  liveness_%            817 non-null    int64
 23  speechiness_%         817 non-null    int64
 24  cover_url             817 non-null    object
dtypes: int64(17), object(8)
memory usage: 166.0+ KB
None

# Generate Schema, Constraints, and Queries

In [5]:
info = vgm.get_dataframe_description(dataframe)  # columns, non-null counts, dtypes
print(info)

Column             Non-Null             Dtype
----------------------------------------
track_name           non-null        object
artist_name          non-null        object
artist_count         non-null        int64
released_year        non-null        int64
released_month       non-null        int64
released_day         non-null        int64
in_spotify_playlists non-null        int64
in_spotify_charts    non-null        int64
streams              non-null        object
in_apple_playlists   non-null        int64
in_apple_charts      non-null        int64
in_deezer_playlists  non-null        object
in_deezer_charts     non-null        int64
in_shazam_charts     non-null        object
bpm                  non-null        int64
key                  non-null        object
mode                 non-null        object
danceability_%       non-null        int64
valence_%            non-null        int64
energy_%             non-null        int64
acousticness_%       non-null        int64
instrumentalness_%   non-null        int64
liveness_%           non-null        int64
speechiness_%        non-null        int64
cover_url            non-null        object

In [6]:
samples = vgm.get_dataframe_samples(dataframe, 30)  # 30-row sample
print(samples)

                                               track_name                                        artist_name  artist_count  released_year  released_month  released_day  in_spotify_playlists  in_spotify_charts   streams  in_apple_playlists  in_apple_charts in_deezer_playlists  in_deezer_charts in_shazam_charts  bpm key  mode  danceability_%  valence_%  energy_%  acousticness_%  instrumentalness_%  liveness_%  speechiness_%                                                        cover_url
                              Yo Voy (feat. Daddy Yankee)                                      Zion & Lennox             1           2004               5             4                  2954                  2 527033089                  18               82                   0                 0                5   95  A# Major              81         56        70               4                   0           5             24 https://i.scdn.co/image/ab67616d0000b27387d3146807ad53b05a7daaac
                                             Mejor Que Yo                    Mambo Kingz, DJ Luian, Anuel Aa             3           2023               5             4                   675                  1  50847624                   9               13                  11                 0                1  178  C# Minor              62         56        66              18                   0          12              5                                                        Not Found
                                                 Infinity                                       Jaymes Young             1           2017               6            23                  4375                  0 888046992                  24                0                 396                 0                0  122   B Minor              67         50        67              15                   0          30              4 https://i.scdn.co/image/ab67616d0000b273a9897f65d1ead1be10a51e3f
                                                 AM Remix                    J Balvin, Nio Garcia, Bad Bunny             3           2021               6            24                  6556                  0 528544703                  93                5                  67                 1                0  172  F# Minor              74         79        66              11                   0           8             16                                                        Not Found
                                                   Heaven                                        Niall Horan             1           2023               2            17                  1553                  2 144584800                  61                6                  48                 0              150   92   F Major              57         68        76               7                   0          33              3 https://i.scdn.co/image/ab67616d0000b2732a368fea49f5c489a9dc3949
                                       Ginseng Strip 2002                                          Yung Lean             1           2013               8            16                  4310                  0 240769997                  13                0                 113                 1                3  115  C# Major              60         37        71               8                   0          48              4 https://i.scdn.co/image/ab67616d0000b273581915272a4ffd12551c0202
                                              golden hour                                               JVKE             1           2022               7            15                  4511                 36 751134527                  70               58                 109                18              230   94  C# Minor              51         14        59              65                  18          25              3 https://i.scdn.co/image/ab67616d0000b273c2504e80ba2f258697ab2954
                                                    Shirt                                                SZA             1           2022              10            28                  3469                  0 309653982                  71               95                  31                 0                2  120  D# Minor              82         55        45              15                   3           9             10 https://i.scdn.co/image/ab67616d0000b27370dbc9f47669d120ad874ec1
                                                The Feels                                              TWICE             1           2021              10             1                  1150                  0 345903614                  20               99                  44                 0                2  120   A Major              81         92        90               9                   0           8              7 https://i.scdn.co/image/ab67616d0000b273d1961ecb307c9e05ec8f7e82
                                             Cruel Summer                                       Taylor Swift             1           2019               8            23                  7858                100 800840817                 116              207                 125                12              548  170   A Major              55         58        72              11                   0          11             15 https://i.scdn.co/image/ab67616d0000b273e787cffec20aa2a396a61647
                                                THE SHADE                                  Rex Orange County             1           2022               3            11                  1189                  6 244928911                  17               10                  16                 0                4  120   F Major              90         73        51              39                   0           9              6 https://i.scdn.co/image/ab67616d0000b2735b656d32ea6b0b9c54c2d2e0
                                               Sure Thing                                             Miguel             1           2010               5            25                 13801                 19 950906471                 137              125                 435                 6              285   81   B Minor              68         51        60               3                   0          19             10 https://i.scdn.co/image/ab67616d0000b273d5a8395b0d80b8c48a5d851c
                                                 Dua Lipa                                        Jack Harlow             1           2022               5             6                  1992                  0 150500965                  35                0                   3                 0                0  158   B Major              83         41        65               0                  10          11              8 https://i.scdn.co/image/ab67616d0000b2738e55edb69ca44a25b52b17bb
                                           Heart To Heart                                        Mac DeMarco             1           2019               5            10                  1640                  0 244658767                  27               27                  29                 1                1  150  G# Minor              90         64        14              67                  35          11             10 https://i.scdn.co/image/ab67616d0000b273fa1323bb50728c7489980672
           STAR WALKIN' (League of Legends Worlds Anthem)                                          Lil Nas X             1           2022               9            22                  2616                  0 332506354                 113               17                 208                 0              192  142   D Minor              64         31        72              15                   0           9              5 https://i.scdn.co/image/ab67616d0000b27304cd9a1664fb4539a55643fe
                                         Lost in the Fire                          The Weeknd, Gesaffelstein             2           2019               1            11                  7731                  2 686734357                 110              145                 447                 0               46  101   D Major              66         18        68               9                   0          12              4 https://i.scdn.co/image/ab67616d0000b273030e6a4145500730450e8794
Vegas (From the Original Motion Picture Soundtrack ELVIS)                                           Doja Cat             1           2022               5             6                  4576                  0 448500832                  79               13                  93                 0               17  160  G# Minor              80         74        60               8                   0          14             26 https://i.scdn.co/image/ab67616d0000b273cada88daf56a282fb18ecf7f
                                        Everything I Love                                      Morgan Wallen             1           2023               1            31                   579                  0  95623148                  11               54                   0                 0              103  104  G# Major              56         72        85               0                   0          15              3 https://i.scdn.co/image/ab67616d0000b273705079df9a25a28b452c1fc9
                                         The Color Violet                                         Tory Lanez             1           2021              12            10                  2585                 32 415932686                   3               79                  21                 1               54  105  F# Minor              65         46        53              16                   0           9              5 https://i.scdn.co/image/ab67616d0000b2730c5f23cbf0b1ab7e37d0dc67
                                                Moonlight                                         Kali Uchis             1           2023               2            24                  2649                 42 256483385                  67               79                  57                 1              615  137   G Minor              64         88        72              51                   0          17              5 https://i.scdn.co/image/ab67616d0000b27381fccd758776d16b87721b17
              It's Beginning To Look A Lot Like Christmas                                     Michael Bublï¿             1           2011              10            14                 12353                  0 807561936                  35                0                 549                 0                0   93   E Major              35         38        23              91                   0          29              3                                                        Not Found
                                  Thought You Should Know                                      Morgan Wallen             1           2022               5             6                   968                  4 203221468                  16               53                   1                 0               61  140  F# Major              53         51        70              49                   0          14              3 https://i.scdn.co/image/ab67616d0000b273705079df9a25a28b452c1fc9
                      La Llevo Al Cielo (Ft. ï¿½ï¿½engo F Nengo Flow, Anuel Aa, Chris Jedi, Chencho Corleone             4           2022               5            20                  3559                  3 333146475                  36                1                  31                 0                1  170   A Minor              80         77        85              11                   0          17             14                                                        Not Found
                                      Cool for the Summer                                        Demi Lovato             1           2015               1             1                  9243                  0 677389855                 155                5                 577                 0                6  114   F Minor              59         30        62               1                   0           8              4 https://i.scdn.co/image/ab67616d0000b273ed164cf1c10f028e8f528784
                                        Mas Rica Que Ayer                    Mambo Kingz, DJ Luian, Anuel Aa             3           2023               3             2                  1208                 34 146409671                  10               41                  20                 0                1   94   B Major              82         53        67              34                   0           9              8                                                        Not Found
                                      Casei Com a Putaria                 MC Ryan SP, Love Funk, Mc Paiva ZS             3           2022               7             1                   648                  4 187701588                   0                0                  30                 0                0  161  A# Minor              59         62        60              12                   0           5             44                                                        Not Found
Superhero (Heroes & Villains) [with Future & Chris Brown]                  Future, Chris Brown, Metro Boomin             3           2022              12             2                  2959                 16 401036314                  41               69                  38                 0               36  117   F Minor              72         45        59              14                   0          20             21 https://i.scdn.co/image/ab67616d0000b27313e54d6687e65678d60466c2
                                    Phantom Regret by Jim                                         The Weeknd             1           2022               1             7                   768                  0  31959571                   1                1                   3                 0                0  108   A Minor              46         23        48              75                  30          14              4 https://i.scdn.co/image/ab67616d0000b2734ab2520c2c77a1d66b9ee21d
                          One Right Now (with The Weeknd)                            The Weeknd, Post Malone             2           2021              11             5                  4771                  0 539595276                  68               18                  75                 0                1   97  C# Major              68         72        78               4                   0           7              5                                                        Not Found
                                                New Jeans                                           NewJeans             1           2023               7             7                    77                 35  29562220                   8              166                   4                 4               34  134   E Minor              81         53        72              51                   0          12              5 https://i.scdn.co/image/ab67616d0000b2733d98a0ae7c78a3a9babaf8af

In [7]:
data_dict = {
    "database": "postgres",
    "raw_data": samples,
    "structure": info,
    "single_table": single_table,
}

In [8]:
data_dict = vuo.generate_schema(data_dict)

>> GENERATED SCHEMA  #### High Level Explanation ####
The raw data represents music tracks with various attributes such as track name, artist details, release information, streaming statistics, and audio features. To efficiently organize this data, we will create a relational schema with two main tables: `tracks` and `artists`. The `tracks` table will store information specific to each track, while the `artists` table will consolidate unique artist names. This structure allows us to manage the data efficiently, especially when multiple tracks are associated with the same artist(s).

#### Table: tracks ####
## Traits:
- 1:1 with raw data
- depends on:
  - artists (which is 1:N with raw data)

## Columns:
- id: INTEGER PRIMARY KEY (1:1 row id)
- track_name: VARCHAR NOT NULL (direct mapping from raw$track_name)
- artist_id: INTEGER FOREIGN KEY REFERENCES artists(artist_id) (foreign key to 1:N table artists)
- released_year: INTEGER (direct mapping from raw$released_year)
- released_month: INTEGER (direct mapping from raw$released_month)
- released_day: INTEGER (direct mapping from raw$released_day)
- in_spotify_playlists: INTEGER (direct mapping from raw$in_spotify_playlists)
- in_spotify_charts: INTEGER (direct mapping from raw$in_spotify_charts)
- streams: BIGINT (converted from object to integer for raw$streams)
- in_apple_playlists: INTEGER (direct mapping from raw$in_apple_playlists)
- in_apple_charts: INTEGER (direct mapping from raw$in_apple_charts)
- in_deezer_playlists: INTEGER (converted from object to integer for raw$in_deezer_playlists)
- in_deezer_charts: INTEGER (direct mapping from raw$in_deezer_charts)
- in_shazam_charts: INTEGER (converted from object to integer for raw$in_shazam_charts)
- bpm: INTEGER (direct mapping from raw$bpm)
- key: VARCHAR (direct mapping from raw$key)
- mode: VARCHAR (direct mapping from raw$mode)
- danceability: INTEGER (renamed from raw$danceability_% for clarity)
- valence: INTEGER (renamed from raw$valence_% for clarity)
- energy: INTEGER (renamed from raw$energy_% for clarity)
- acousticness: INTEGER (renamed from raw$acousticness_% for clarity)
- instrumentalness: INTEGER (renamed from raw$instrumentalness_% for clarity)
- liveness: INTEGER (renamed from raw$liveness_% for clarity)
- speechiness: INTEGER (renamed from raw$speechiness_% for clarity)
- cover_url: VARCHAR (direct mapping from raw$cover_url)

## Explanation:
The `tracks` table captures all the track-specific information, including the track's name, release date, streaming statistics, and audio features. The `artist_id` column serves as a foreign key linking to the `artists` table, which allows us to manage artist information separately. The renaming of percentage columns (e.g., `danceability_%` to `danceability`) is done for clarity and consistency in naming conventions.

#### Table: artists ####
## Traits:
- 1:N with raw data
- dependency free

## Columns:
- artist_id: INTEGER PRIMARY KEY (surrogate key for natural key artist_name)
- artist_name: VARCHAR NOT NULL UNIQUE (natural key, direct mapping from raw$artist_name)

## Explanation:
The `artists` table consolidates unique artist names from the raw data. Each artist is assigned a unique `artist_id`, which serves as a surrogate key. This table allows us to efficiently manage and reference artist information across multiple tracks, especially when an artist is associated with multiple tracks. The `artist_name` column is the natural key and is directly mapped from the raw data.

In [9]:
data_dict = vuo.generate_table_list(data_dict)

>> GENERATED TABLE LIST  ['tracks', 'artists']

In [10]:
data_dict = vuo.generate_table_traits(data_dict)

>> GENERATED TRAITS FOR TABLE: tracks
>> GENERATED TRAITS FOR TABLE: artists
>> ALL TABLE TRAITS GENERATED:  ['{\n  "relation_to_raw": "1:1",\n  "mapping": [\n    {\n      "raw_csv_col": "danceability_%",\n      "table_col": "danceability"\n    },\n    {\n      "raw_csv_col": "valence_%",\n      "table_col": "valence"\n    },\n    {\n      "raw_csv_col": "energy_%",\n      "table_col": "energy"\n    },\n    {\n      "raw_csv_col": "acousticness_%",\n      "table_col": "acousticness"\n    },\n    {\n      "raw_csv_col": "instrumentalness_%",\n      "table_col": "instrumentalness"\n    },\n    {\n      "raw_csv_col": "liveness_%",\n      "table_col": "liveness"\n    },\n    {\n      "raw_csv_col": "speechiness_%",\n      "table_col": "speechiness"\n    }\n  ],\n  "one_to_n": null,\n  "dependencies": [\n    {\n      "parent_table_name": "artists",\n      "local_fk_col": "artist_id"\n    }\n  ],\n  "name": "tracks"\n}', '{\n  "relation_to_raw": "1:n",\n  "mapping": [],\n  "one_to_n": {\n    "surrogate_pk_col": "artist_id",\n    "natural_key_col": "artist_name"\n  },\n  "dependencies": [],\n  "name": "artists"\n}']

In [11]:
data_dict = vuo.generate_constraints(data_dict)

>> GENERATED CONSTRAINTS  ### Constrained Schema ###

#### Table: tracks ####
- **id**: INTEGER PRIMARY KEY
  - This is a surrogate key for uniquely identifying each track.

- **track_name**: VARCHAR NOT NULL
  - This column stores the name of the track and cannot be null.

- **artist_id**: INTEGER NOT NULL
  - FOREIGN KEY REFERENCES `artists(artist_id)`
  - This column links each track to an artist in the `artists` table and cannot be null.

- **released_year**: INTEGER CHECK (released_year >= 1900 AND released_year <= EXTRACT(YEAR FROM CURRENT_DATE))
  - This column stores the year the track was released. It must be a valid year between 1900 and the current year.

- **released_month**: INTEGER CHECK (released_month >= 1 AND released_month <= 12)
  - This column stores the month the track was released. It must be a valid month between 1 and 12.

- **released_day**: INTEGER CHECK (released_day >= 1 AND released_day <= 31)
  - This column stores the day the track was released. It must be a valid day between 1 and 31.

- **in_spotify_playlists**: INTEGER CHECK (in_spotify_playlists >= 0)
  - This column stores the number of Spotify playlists the track is in. It must be a non-negative integer.

- **in_spotify_charts**: INTEGER CHECK (in_spotify_charts >= 0)
  - This column stores the number of times the track has appeared in Spotify charts. It must be a non-negative integer.

- **streams**: BIGINT CHECK (streams >= 0)
  - This column stores the number of streams the track has. It must be a non-negative integer.

- **in_apple_playlists**: INTEGER CHECK (in_apple_playlists >= 0)
  - This column stores the number of Apple playlists the track is in. It must be a non-negative integer.

- **in_apple_charts**: INTEGER CHECK (in_apple_charts >= 0)
  - This column stores the number of times the track has appeared in Apple charts. It must be a non-negative integer.

- **in_deezer_playlists**: INTEGER CHECK (in_deezer_playlists >= 0)
  - This column stores the number of Deezer playlists the track is in. It must be a non-negative integer.

- **in_deezer_charts**: INTEGER CHECK (in_deezer_charts >= 0)
  - This column stores the number of times the track has appeared in Deezer charts. It must be a non-negative integer.

- **in_shazam_charts**: INTEGER CHECK (in_shazam_charts >= 0)
  - This column stores the number of times the track has appeared in Shazam charts. It must be a non-negative integer.

- **bpm**: INTEGER CHECK (bpm > 0)
  - This column stores the beats per minute of the track. It must be a positive integer.

- **key**: VARCHAR NOT NULL
  - This column stores the musical key of the track and cannot be null.

- **mode**: VARCHAR NOT NULL
  - This column stores the mode of the track and cannot be null.

- **danceability**: INTEGER CHECK (danceability >= 0 AND danceability <= 100)
  - This column stores the danceability percentage of the track. It must be between 0 and 100.

- **valence**: INTEGER CHECK (valence >= 0 AND valence <= 100)
  - This column stores the valence percentage of the track. It must be between 0 and 100.

- **energy**: INTEGER CHECK (energy >= 0 AND energy <= 100)
  - This column stores the energy percentage of the track. It must be between 0 and 100.

- **acousticness**: INTEGER CHECK (acousticness >= 0 AND acousticness <= 100)
  - This column stores the acousticness percentage of the track. It must be between 0 and 100.

- **instrumentalness**: INTEGER CHECK (instrumentalness >= 0 AND instrumentalness <= 100)
  - This column stores the instrumentalness percentage of the track. It must be between 0 and 100.

- **liveness**: INTEGER CHECK (liveness >= 0 AND liveness <= 100)
  - This column stores the liveness percentage of the track. It must be between 0 and 100.

- **speechiness**: INTEGER CHECK (speechiness >= 0 AND speechiness <= 100)
  - This column stores the speechiness percentage of the track. It must be between 0 and 100.

- **cover_url**: VARCHAR
  - This column stores the URL of the track's cover image.

#### Table: artists ####
- **artist_id**: INTEGER PRIMARY KEY
  - This is a surrogate key for uniquely identifying each artist.

- **artist_name**: VARCHAR NOT NULL UNIQUE
  - This column stores the name of the artist. It must be unique and cannot be null.

In [12]:
data_dict = vuo.generate_sql_queries(data_dict)

>> GENERATED QUERIES  ['CREATE TABLE "artists" (\n    "artist_id" INTEGER PRIMARY KEY,\n    "artist_name" VARCHAR NOT NULL UNIQUE\n);', 'CREATE TABLE "tracks" (\n    "id" INTEGER PRIMARY KEY,\n    "track_name" VARCHAR NOT NULL,\n    "artist_id" INTEGER NOT NULL REFERENCES "artists"("artist_id"),\n    "released_year" INTEGER CHECK ("released_year" >= 1900 AND "released_year" <= EXTRACT(YEAR FROM CURRENT_DATE)),\n    "released_month" INTEGER CHECK ("released_month" >= 1 AND "released_month" <= 12),\n    "released_day" INTEGER CHECK ("released_day" >= 1 AND "released_day" <= 31),\n    "in_spotify_playlists" INTEGER CHECK ("in_spotify_playlists" >= 0),\n    "in_spotify_charts" INTEGER CHECK ("in_spotify_charts" >= 0),\n    "streams" BIGINT CHECK ("streams" >= 0),\n    "in_apple_playlists" INTEGER CHECK ("in_apple_playlists" >= 0),\n    "in_apple_charts" INTEGER CHECK ("in_apple_charts" >= 0),\n    "in_deezer_playlists" INTEGER CHECK ("in_deezer_playlists" >= 0),\n    "in_deezer_charts" INTEGER CHECK ("in_deezer_charts" >= 0),\n    "in_shazam_charts" INTEGER CHECK ("in_shazam_charts" >= 0),\n    "bpm" INTEGER CHECK ("bpm" > 0),\n    "key" VARCHAR NOT NULL,\n    "mode" VARCHAR NOT NULL,\n    "danceability" INTEGER CHECK ("danceability" >= 0 AND "danceability" <= 100),\n    "valence" INTEGER CHECK ("valence" >= 0 AND "valence" <= 100),\n    "energy" INTEGER CHECK ("energy" >= 0 AND "energy" <= 100),\n    "acousticness" INTEGER CHECK ("acousticness" >= 0 AND "acousticness" <= 100),\n    "instrumentalness" INTEGER CHECK ("instrumentalness" >= 0 AND "instrumentalness" <= 100),\n    "liveness" INTEGER CHECK ("liveness" >= 0 AND "liveness" <= 100),\n    "speechiness" INTEGER CHECK ("speechiness" >= 0 AND "speechiness" <= 100),\n    "cover_url" VARCHAR\n);']

In [13]:
table_order = determine_table_creation_order(data_dict["table_traits"], data_dict["table_list"])
print(table_order)

['artists', 'tracks']

In [14]:
queries = data_dict["queries"]

# Create the dependent graph
dependent_graph, tables = create_query_dependent_graph(queries)

print("Dependent Graph:", dependent_graph)
print("Tables Dict:", tables)

Dependent Graph: {'artists': ['tracks'], 'tracks': []}
Tables Dict: {'artists': {'query': 'CREATE TABLE "artists" (\n    "artist_id" INTEGER PRIMARY KEY,\n    "artist_name" VARCHAR NOT NULL UNIQUE\n);', 'name': 'artists', 'columns': ['artist_id', 'artist_name'], 'foreign_keys': []}, 'tracks': {'query': 'CREATE TABLE "tracks" (\n    "id" INTEGER PRIMARY KEY,\n    "track_name" VARCHAR NOT NULL,\n    "artist_id" INTEGER NOT NULL REFERENCES "artists"("artist_id"),\n    "released_year" INTEGER CHECK ("released_year" >= 1900 AND "released_year" <= EXTRACT(YEAR FROM CURRENT_DATE)),\n    "released_month" INTEGER CHECK ("released_month" >= 1 AND "released_month" <= 12),\n    "released_day" INTEGER CHECK ("released_day" >= 1 AND "released_day" <= 31),\n    "in_spotify_playlists" INTEGER CHECK ("in_spotify_playlists" >= 0),\n    "in_spotify_charts" INTEGER CHECK ("in_spotify_charts" >= 0),\n    "streams" BIGINT CHECK ("streams" >= 0),\n    "in_apple_playlists" INTEGER CHECK ("in_apple_playlists" >= 0),\n    "in_apple_charts" INTEGER CHECK ("in_apple_charts" >= 0),\n    "in_deezer_playlists" INTEGER CHECK ("in_deezer_playlists" >= 0),\n    "in_deezer_charts" INTEGER CHECK ("in_deezer_charts" >= 0),\n    "in_shazam_charts" INTEGER CHECK ("in_shazam_charts" >= 0),\n    "bpm" INTEGER CHECK ("bpm" > 0),\n    "key" VARCHAR NOT NULL,\n    "mode" VARCHAR NOT NULL,\n    "danceability" INTEGER CHECK ("danceability" >= 0 AND "danceability" <= 100),\n    "valence" INTEGER CHECK ("valence" >= 0 AND "valence" <= 100),\n    "energy" INTEGER CHECK ("energy" >= 0 AND "energy" <= 100),\n    "acousticness" INTEGER CHECK ("acousticness" >= 0 AND "acousticness" <= 100),\n    "instrumentalness" INTEGER CHECK ("instrumentalness" >= 0 AND "instrumentalness" <= 100),\n    "liveness" INTEGER CHECK ("liveness" >= 0 AND "liveness" <= 100),\n    "speechiness" INTEGER CHECK ("speechiness" >= 0 AND "speechiness" <= 100),\n    "cover_url" VARCHAR\n);', 'name': 'tracks', 'columns': ['id', 'track_name', 'artist_id', 'released_year', 'released_month', 'released_day', 'in_spotify_playlists', 'in_spotify_charts', 'streams', 'in_apple_playlists', 'in_apple_charts', 'in_deezer_playlists', 'in_deezer_charts', 'in_shazam_charts', 'bpm', 'key', 'mode', 'danceability', 'valence', 'energy', 'acousticness', 'instrumentalness', 'liveness', 'speechiness', 'cover_url'], 'foreign_keys': ['artists']}}

# Create Tables in the Database

In [59]:
# 5.1: Database connection info

# 5.2: Initialize the engine
engine = initialize_database(db_uri=db_uri, db_type=db_type)

Initializing POSTGRESQL Database

In [60]:
# 5.3: Create tables by executing the CREATE statements in the correct order
success, error = execute_queries(engine, table_order, tables)
if not success:
    print("Table creation error:", error)
else:
    print("Tables created successfully!")

2025-05-14 15:19:45,552 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-05-14 15:19:45,553 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-14 15:19:45,555 INFO sqlalchemy.engine.Engine select current_schema()
2025-05-14 15:19:45,556 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-14 15:19:45,557 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-05-14 15:19:45,558 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-14 15:19:45,559 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:19:45,559 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS "tracks" CASCADE
2025-05-14 15:19:45,561 INFO sqlalchemy.engine.Engine [generated in 0.00049s] {}
Table tracks dropped
2025-05-14 15:19:45,595 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS "artists" CASCADE
2025-05-14 15:19:45,595 INFO sqlalchemy.engine.Engine [generated in 0.00047s] {}
Table artists dropped
2025-05-14 15:19:45,601 INFO sqlalchemy.engine.Engine CREATE TABLE "artists" (
    "artist_id" INTEGER PRIMARY KEY,
    "artist_name" VARCHAR NOT NULL UNIQUE
);
2025-05-14 15:19:45,601 INFO sqlalchemy.engine.Engine [generated in 0.00035s] {}
2025-05-14 15:19:45,628 INFO sqlalchemy.engine.Engine CREATE TABLE "tracks" (
    "id" INTEGER PRIMARY KEY,
    "track_name" VARCHAR NOT NULL,
    "artist_id" INTEGER NOT NULL REFERENCES "artists"("artist_id"),
    "released_year" INTEGER CHECK ("released_year" >= 1900 AND "released_year" <= EXTRACT(YEAR FROM CURRENT_DATE)),
    "released_month" INTEGER CHECK ("released_month" >= 1 AND "released_month" <= 12),
    "released_day" INTEGER CHECK ("released_day" >= 1 AND "released_day" <= 31),
    "in_spotify_playlists" INTEGER CHECK ("in_spotify_playlists" >= 0),
    "in_spotify_charts" INTEGER CHECK ("in_spotify_charts" >= 0),
    "streams" BIGINT CHECK ("streams" >= 0),
    "in_apple_playlists" INTEGER CHECK ("in_apple_playlists" >= 0),
    "in_apple_charts" INTEGER CHECK ("in_apple_charts" >= 0),
    "in_deezer_playlists" INTEGER CHECK ("in_deezer_playlists" >= 0),
    "in_deezer_charts" INTEGER CHECK ("in_deezer_charts" >= 0),
    "in_shazam_charts" INTEGER CHECK ("in_shazam_charts" >= 0),
    "bpm" INTEGER CHECK ("bpm" > 0),
    "key" VARCHAR NOT NULL,
    "mode" VARCHAR NOT NULL,
    "danceability" INTEGER CHECK ("danceability" >= 0 AND "danceability" <= 100),
    "valence" INTEGER CHECK ("valence" >= 0 AND "valence" <= 100),
    "energy" INTEGER CHECK ("energy" >= 0 AND "energy" <= 100),
    "acousticness" INTEGER CHECK ("acousticness" >= 0 AND "acousticness" <= 100),
    "instrumentalness" INTEGER CHECK ("instrumentalness" >= 0 AND "instrumentalness" <= 100),
    "liveness" INTEGER CHECK ("liveness" >= 0 AND "liveness" <= 100),
    "speechiness" INTEGER CHECK ("speechiness" >= 0 AND "speechiness" <= 100),
    "cover_url" VARCHAR
);
2025-05-14 15:19:45,628 INFO sqlalchemy.engine.Engine [generated in 0.00057s] {}
2025-05-14 15:19:45,651 INFO sqlalchemy.engine.Engine COMMIT
Tables created successfully!

In [61]:
try:
    validate_content(engine, dataframe, table_order, data_dict["table_traits"])
    print("Schema validation passed!")
except ValueError as e:
    print(f"Schema validation failed: {e}")
    raise e
    # Potentially halt execution or handle the error
else:
    # Proceed with push_data_in_db if validation passes
    lookup = push_data_in_db(engine, dataframe, table_order, data_dict["table_traits"])
    # ... rest of your data loading and reportin

Starting content validation...
2025-05-14 15:20:14,710 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:20:14,712 INFO sqlalchemy.engine.Engine
                    SELECT column_name, column_default, is_identity, identity_generation
                    FROM information_schema.columns
                    WHERE table_schema = 'public'  -- Assuming public schema for now
                      AND table_name   = %(table_name)s
                      AND column_name  = %(column_name)s;

2025-05-14 15:20:14,713 INFO sqlalchemy.engine.Engine [generated in 0.00234s] {'table_name': 'artists', 'column_name': 'artist_id'}
2025-05-14 15:20:14,737 INFO sqlalchemy.engine.Engine ROLLBACK
Schema validation failed: Validation Error for 1:n table 'artists': Surrogate PK column 'artist_id' is not configured for auto-increment. Details: column_default='None', is_identity='NO'

In [57]:
from sqlalchemy import create_engine, text
import pandas as pd

# --- Start of code block to inspect table schema ---

print("\nInspecting 'artists' table schema for 'artist_id' auto-increment properties:")
engine_inspector = create_engine(db_uri)

query_inspect_artist_id = """
SELECT column_name, column_default, is_identity, identity_generation
FROM information_schema.columns
WHERE table_schema = 'public'  -- Or your specific schema if not public
  AND table_name   = 'artists'
  AND column_name  = 'artist_id';
"""

with engine_inspector.connect() as connection:
    result = connection.execute(text(query_inspect_artist_id))
    column_info = result.fetchone()
    if column_info:
        print(pd.DataFrame([column_info], columns=result.keys()))
    else:
        print(
            "Could not find 'artist_id' column in 'artists' table or the table does not exist."
        )

print("--- End of schema inspection ---\n")

# Your existing code to reload vulcan.database.load and call push_data_in_db would follow here
# import vulcan.database.load
# importlib.reload(vulcan.database.load)
# from vulcan.database.load import push_data_in_db
# ... etc.

Inspecting 'artists' table schema for 'artist_id' auto-increment properties:
  column_name column_default is_identity identity_generation
0   artist_id           None          NO                None
--- End of schema inspection ---

# Populate Tables with CSV Data

In [53]:
import vulcan.database.load
importlib.reload(vulcan.database.load)
from vulcan.database.load import push_data_in_db

In [54]:
# import logging

# # Suppress SQLAlchemy debug logs
# logging.getLogger("sqlalchemy.engine").setLevel(logging.WARNING)

lookup = push_data_in_db(engine, dataframe, table_order, data_dict["table_traits"])
print("Data insertion complete!")

2025-05-14 15:05:41,083 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,084 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s]) AND pg_catalog.pg_class.relpersistence != %(relpersistence_1)s AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-05-14 15:05:41,085 INFO sqlalchemy.engine.Engine [cached since 3338s ago] {'param_1': 'r', 'param_2': 'p', 'relpersistence_1': 't', 'nspname_1': 'pg_catalog'}
2025-05-14 15:05:41,089 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_attribute.attname AS name, pg_catalog.format_type(pg_catalog.pg_attribute.atttypid, pg_catalog.pg_attribute.atttypmod) AS format_type, (SELECT pg_catalog.pg_get_expr(pg_catalog.pg_attrdef.adbin, pg_catalog.pg_attrdef.adrelid) AS pg_get_expr_1
FROM pg_catalog.pg_attrdef
WHERE pg_catalog.pg_attrdef.adrelid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_attrdef.adnum = pg_catalog.pg_attribute.attnum AND pg_catalog.pg_attribute.atthasdef) AS "default", pg_catalog.pg_attribute.attnotnull AS not_null, pg_catalog.pg_class.relname AS table_name, pg_catalog.pg_description.description AS comment, pg_catalog.pg_attribute.attgenerated AS generated, (SELECT json_build_object(%(json_build_object_2)s, pg_catalog.pg_attribute.attidentity = %(attidentity_1)s, %(json_build_object_3)s, pg_catalog.pg_sequence.seqstart, %(json_build_object_4)s, pg_catalog.pg_sequence.seqincrement, %(json_build_object_5)s, pg_catalog.pg_sequence.seqmin, %(json_build_object_6)s, pg_catalog.pg_sequence.seqmax, %(json_build_object_7)s, pg_catalog.pg_sequence.seqcache, %(json_build_object_8)s, pg_catalog.pg_sequence.seqcycle) AS json_build_object_1
FROM pg_catalog.pg_sequence
WHERE pg_catalog.pg_attribute.attidentity != %(attidentity_2)s AND pg_catalog.pg_sequence.seqrelid = CAST(CAST(pg_catalog.pg_get_serial_sequence(CAST(CAST(pg_catalog.pg_attribute.attrelid AS REGCLASS) AS TEXT), pg_catalog.pg_attribute.attname) AS REGCLASS) AS OID)) AS identity_options
FROM pg_catalog.pg_class LEFT OUTER JOIN pg_catalog.pg_attribute ON pg_catalog.pg_class.oid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_attribute.attnum > %(attnum_1)s AND NOT pg_catalog.pg_attribute.attisdropped LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_description.objsubid = pg_catalog.pg_attribute.attnum JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s AND pg_catalog.pg_class.relname IN (%(filter_names_1)s, %(filter_names_2)s, %(filter_names_3)s, %(filter_names_4)s) ORDER BY pg_catalog.pg_class.relname, pg_catalog.pg_attribute.attnum
2025-05-14 15:05:41,089 INFO sqlalchemy.engine.Engine [cached since 3338s ago] {'json_build_object_2': 'always', 'attidentity_1': 'a', 'json_build_object_3': 'start', 'json_build_object_4': 'increment', 'json_build_object_5': 'minvalue', 'json_build_object_6': 'maxvalue', 'json_build_object_7': 'cache', 'json_build_object_8': 'cycle', 'attidentity_2': '', 'attnum_1': 0, 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'nspname_1': 'pg_catalog', 'filter_names_1': 'track_artists', 'filter_names_2': 'streaming_data', 'filter_names_3': 'artists', 'filter_names_4': 'tracks'}
2025-05-14 15:05:41,093 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_type.typname AS name, pg_catalog.format_type(pg_catalog.pg_type.typbasetype, pg_catalog.pg_type.typtypmod) AS attype, NOT pg_catalog.pg_type.typnotnull AS nullable, pg_catalog.pg_type.typdefault AS "default", pg_catalog.pg_type_is_visible(pg_catalog.pg_type.oid) AS visible, pg_catalog.pg_namespace.nspname AS schema, domain_constraints.condefs, domain_constraints.connames, pg_catalog.pg_collation.collname
FROM pg_catalog.pg_type JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_type.typnamespace LEFT OUTER JOIN pg_catalog.pg_collation ON pg_catalog.pg_type.typcollation = pg_catalog.pg_collation.oid LEFT OUTER JOIN (SELECT pg_catalog.pg_constraint.contypid AS contypid, array_agg(pg_catalog.pg_get_constraintdef(pg_catalog.pg_constraint.oid, %(pg_get_constraintdef_1)s)) AS condefs, array_agg(CAST(pg_catalog.pg_constraint.conname AS TEXT)) AS connames
FROM pg_catalog.pg_constraint
WHERE pg_catalog.pg_constraint.contypid != %(contypid_1)s GROUP BY pg_catalog.pg_constraint.contypid) AS domain_constraints ON pg_catalog.pg_type.oid = domain_constraints.contypid
WHERE pg_catalog.pg_type.typtype = %(typtype_1)s ORDER BY pg_catalog.pg_namespace.nspname, pg_catalog.pg_type.typname
2025-05-14 15:05:41,094 INFO sqlalchemy.engine.Engine [cached since 3338s ago] {'pg_get_constraintdef_1': True, 'contypid_1': 0, 'typtype_1': 'd'}
2025-05-14 15:05:41,097 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_type.typname AS name, pg_catalog.pg_type_is_visible(pg_catalog.pg_type.oid) AS visible, pg_catalog.pg_namespace.nspname AS schema, lbl_agg.labels AS labels
FROM pg_catalog.pg_type JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_type.typnamespace LEFT OUTER JOIN (SELECT pg_catalog.pg_enum.enumtypid AS enumtypid, array_agg(CAST(pg_catalog.pg_enum.enumlabel AS TEXT) ORDER BY pg_catalog.pg_enum.enumsortorder) AS labels
FROM pg_catalog.pg_enum GROUP BY pg_catalog.pg_enum.enumtypid) AS lbl_agg ON pg_catalog.pg_type.oid = lbl_agg.enumtypid
WHERE pg_catalog.pg_type.typtype = %(typtype_1)s ORDER BY pg_catalog.pg_namespace.nspname, pg_catalog.pg_type.typname
2025-05-14 15:05:41,097 INFO sqlalchemy.engine.Engine [cached since 3338s ago] {'typtype_1': 'e'}
2025-05-14 15:05:41,099 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.oid, pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s AND pg_catalog.pg_class.relname IN (%(filter_names_1)s, %(filter_names_2)s, %(filter_names_3)s, %(filter_names_4)s)
2025-05-14 15:05:41,099 INFO sqlalchemy.engine.Engine [cached since 3338s ago] {'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'nspname_1': 'pg_catalog', 'filter_names_1': 'track_artists', 'filter_names_2': 'streaming_data', 'filter_names_3': 'artists', 'filter_names_4': 'tracks'}
2025-05-14 15:05:41,101 INFO sqlalchemy.engine.Engine SELECT attr.conrelid, array_agg(CAST(attr.attname AS TEXT) ORDER BY attr.ord) AS cols, attr.conname, min(attr.description) AS description, NULL AS extra
FROM (SELECT con.conrelid AS conrelid, con.conname AS conname, con.conindid AS conindid, con.description AS description, con.ord AS ord, pg_catalog.pg_attribute.attname AS attname
FROM pg_catalog.pg_attribute JOIN (SELECT pg_catalog.pg_constraint.conrelid AS conrelid, pg_catalog.pg_constraint.conname AS conname, pg_catalog.pg_constraint.conindid AS conindid, unnest(pg_catalog.pg_constraint.conkey) AS attnum, generate_subscripts(pg_catalog.pg_constraint.conkey, %(generate_subscripts_1)s) AS ord, pg_catalog.pg_description.description AS description
FROM pg_catalog.pg_constraint LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_constraint.oid
WHERE pg_catalog.pg_constraint.contype = %(contype)s AND pg_catalog.pg_constraint.conrelid IN (%(oids_1)s, %(oids_2)s, %(oids_3)s, %(oids_4)s)) AS con ON pg_catalog.pg_attribute.attnum = con.attnum AND pg_catalog.pg_attribute.attrelid = con.conrelid
WHERE con.conrelid IN (%(oids_1)s, %(oids_2)s, %(oids_3)s, %(oids_4)s)) AS attr GROUP BY attr.conrelid, attr.conname ORDER BY attr.conrelid, attr.conname
2025-05-14 15:05:41,101 INFO sqlalchemy.engine.Engine [cached since 3338s ago] {'generate_subscripts_1': 1, 'contype': 'p', 'oids_1': 25800, 'oids_2': 25856, 'oids_3': 26011, 'oids_4': 26020}
2025-05-14 15:05:41,105 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname, pg_catalog.pg_constraint.conname, CASE WHEN (pg_catalog.pg_constraint.oid IS NOT NULL) THEN pg_catalog.pg_get_constraintdef(pg_catalog.pg_constraint.oid, %(pg_get_constraintdef_1)s) END AS anon_1, nsp_ref.nspname, pg_catalog.pg_description.description
FROM pg_catalog.pg_class LEFT OUTER JOIN pg_catalog.pg_constraint ON pg_catalog.pg_class.oid = pg_catalog.pg_constraint.conrelid AND pg_catalog.pg_constraint.contype = %(contype_1)s LEFT OUTER JOIN pg_catalog.pg_class AS cls_ref ON cls_ref.oid = pg_catalog.pg_constraint.confrelid LEFT OUTER JOIN pg_catalog.pg_namespace AS nsp_ref ON cls_ref.relnamespace = nsp_ref.oid LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_constraint.oid JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s AND pg_catalog.pg_class.relname IN (%(filter_names_1)s, %(filter_names_2)s, %(filter_names_3)s, %(filter_names_4)s) ORDER BY pg_catalog.pg_class.relname, pg_catalog.pg_constraint.conname
2025-05-14 15:05:41,105 INFO sqlalchemy.engine.Engine [cached since 3338s ago] {'pg_get_constraintdef_1': True, 'contype_1': 'f', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'nspname_1': 'pg_catalog', 'filter_names_1': 'track_artists', 'filter_names_2': 'streaming_data', 'filter_names_3': 'artists', 'filter_names_4': 'tracks'}
2025-05-14 15:05:41,107 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_index.indrelid, cls_idx.relname AS relname_index, pg_catalog.pg_index.indisunique, pg_catalog.pg_constraint.conrelid IS NOT NULL AS has_constraint, pg_catalog.pg_index.indoption, cls_idx.reloptions, pg_catalog.pg_am.amname, CASE WHEN (pg_catalog.pg_index.indpred IS NOT NULL) THEN pg_catalog.pg_get_expr(pg_catalog.pg_index.indpred, pg_catalog.pg_index.indrelid) END AS filter_definition, pg_catalog.pg_index.indnkeyatts, false AS indnullsnotdistinct, idx_cols.elements, idx_cols.elements_is_expr
FROM pg_catalog.pg_index JOIN pg_catalog.pg_class AS cls_idx ON pg_catalog.pg_index.indexrelid = cls_idx.oid JOIN pg_catalog.pg_am ON cls_idx.relam = pg_catalog.pg_am.oid LEFT OUTER JOIN (SELECT idx_attr.indexrelid AS indexrelid, min(idx_attr.indrelid) AS min_1, array_agg(idx_attr.element ORDER BY idx_attr.ord) AS elements, array_agg(idx_attr.is_expr ORDER BY idx_attr.ord) AS elements_is_expr
FROM (SELECT idx.indexrelid AS indexrelid, idx.indrelid AS indrelid, idx.ord AS ord, CASE WHEN (idx.attnum = %(attnum_1)s) THEN pg_catalog.pg_get_indexdef(idx.indexrelid, idx.ord + %(ord_1)s, %(pg_get_indexdef_1)s) ELSE CAST(pg_catalog.pg_attribute.attname AS TEXT) END AS element, idx.attnum = %(attnum_2)s AS is_expr
FROM (SELECT pg_catalog.pg_index.indexrelid AS indexrelid, pg_catalog.pg_index.indrelid AS indrelid, unnest(pg_catalog.pg_index.indkey) AS attnum, generate_subscripts(pg_catalog.pg_index.indkey, %(generate_subscripts_1)s) AS ord
FROM pg_catalog.pg_index
WHERE NOT pg_catalog.pg_index.indisprimary AND pg_catalog.pg_index.indrelid IN (%(oids_1)s, %(oids_2)s, %(oids_3)s, %(oids_4)s)) AS idx LEFT OUTER JOIN pg_catalog.pg_attribute ON pg_catalog.pg_attribute.attnum = idx.attnum AND pg_catalog.pg_attribute.attrelid = idx.indrelid
WHERE idx.indrelid IN (%(oids_1)s, %(oids_2)s, %(oids_3)s, %(oids_4)s)) AS idx_attr GROUP BY idx_attr.indexrelid) AS idx_cols ON pg_catalog.pg_index.indexrelid = idx_cols.indexrelid LEFT OUTER JOIN pg_catalog.pg_constraint ON pg_catalog.pg_index.indrelid = pg_catalog.pg_constraint.conrelid AND pg_catalog.pg_index.indexrelid = pg_catalog.pg_constraint.conindid AND pg_catalog.pg_constraint.contype = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s])
WHERE pg_catalog.pg_index.indrelid IN (%(oids_1)s, %(oids_2)s, %(oids_3)s, %(oids_4)s) AND NOT pg_catalog.pg_index.indisprimary ORDER BY pg_catalog.pg_index.indrelid, cls_idx.relname
2025-05-14 15:05:41,108 INFO sqlalchemy.engine.Engine [cached since 3338s ago] {'attnum_1': 0, 'ord_1': 1, 'pg_get_indexdef_1': True, 'attnum_2': 0, 'generate_subscripts_1': 1, 'param_1': 'p', 'param_2': 'u', 'param_3': 'x', 'oids_1': 25800, 'oids_2': 25856, 'oids_3': 26011, 'oids_4': 26020}
2025-05-14 15:05:41,112 INFO sqlalchemy.engine.Engine SELECT attr.conrelid, array_agg(CAST(attr.attname AS TEXT) ORDER BY attr.ord) AS cols, attr.conname, min(attr.description) AS description, false AS indnullsnotdistinct
FROM (SELECT con.conrelid AS conrelid, con.conname AS conname, con.conindid AS conindid, con.description AS description, con.ord AS ord, pg_catalog.pg_attribute.attname AS attname
FROM pg_catalog.pg_attribute JOIN (SELECT pg_catalog.pg_constraint.conrelid AS conrelid, pg_catalog.pg_constraint.conname AS conname, pg_catalog.pg_constraint.conindid AS conindid, unnest(pg_catalog.pg_constraint.conkey) AS attnum, generate_subscripts(pg_catalog.pg_constraint.conkey, %(generate_subscripts_1)s) AS ord, pg_catalog.pg_description.description AS description
FROM pg_catalog.pg_constraint LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_constraint.oid
WHERE pg_catalog.pg_constraint.contype = %(contype)s AND pg_catalog.pg_constraint.conrelid IN (%(oids_1)s, %(oids_2)s, %(oids_3)s, %(oids_4)s)) AS con ON pg_catalog.pg_attribute.attnum = con.attnum AND pg_catalog.pg_attribute.attrelid = con.conrelid
WHERE con.conrelid IN (%(oids_1)s, %(oids_2)s, %(oids_3)s, %(oids_4)s)) AS attr GROUP BY attr.conrelid, attr.conname ORDER BY attr.conrelid, attr.conname
2025-05-14 15:05:41,113 INFO sqlalchemy.engine.Engine [cached since 3338s ago] {'generate_subscripts_1': 1, 'contype': 'u', 'oids_1': 25800, 'oids_2': 25856, 'oids_3': 26011, 'oids_4': 26020}
2025-05-14 15:05:41,116 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname, pg_catalog.pg_description.description
FROM pg_catalog.pg_class LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_class.oid = pg_catalog.pg_description.objoid AND pg_catalog.pg_description.objsubid = %(objsubid_1)s JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s AND pg_catalog.pg_class.relname IN (%(filter_names_1)s, %(filter_names_2)s, %(filter_names_3)s, %(filter_names_4)s)
2025-05-14 15:05:41,116 INFO sqlalchemy.engine.Engine [cached since 3338s ago] {'objsubid_1': 0, 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'nspname_1': 'pg_catalog', 'filter_names_1': 'track_artists', 'filter_names_2': 'streaming_data', 'filter_names_3': 'artists', 'filter_names_4': 'tracks'}
2025-05-14 15:05:41,117 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname, pg_catalog.pg_constraint.conname, CASE WHEN (pg_catalog.pg_constraint.oid IS NOT NULL) THEN pg_catalog.pg_get_constraintdef(pg_catalog.pg_constraint.oid, %(pg_get_constraintdef_1)s) END AS anon_1, pg_catalog.pg_description.description
FROM pg_catalog.pg_class LEFT OUTER JOIN pg_catalog.pg_constraint ON pg_catalog.pg_class.oid = pg_catalog.pg_constraint.conrelid AND pg_catalog.pg_constraint.contype = %(contype_1)s LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_constraint.oid JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s AND pg_catalog.pg_class.relname IN (%(filter_names_1)s, %(filter_names_2)s, %(filter_names_3)s, %(filter_names_4)s) ORDER BY pg_catalog.pg_class.relname, pg_catalog.pg_constraint.conname
2025-05-14 15:05:41,117 INFO sqlalchemy.engine.Engine [cached since 3338s ago] {'pg_get_constraintdef_1': True, 'contype_1': 'c', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'nspname_1': 'pg_catalog', 'filter_names_1': 'track_artists', 'filter_names_2': 'streaming_data', 'filter_names_3': 'artists', 'filter_names_4': 'tracks'}
2025-05-14 15:05:41,119 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s]) AND pg_catalog.pg_class.relpersistence = %(relpersistence_1)s AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-05-14 15:05:41,120 INFO sqlalchemy.engine.Engine [cached since 3338s ago] {'param_1': 'r', 'param_2': 'p', 'relpersistence_1': 't', 'nspname_1': 'pg_catalog'}
2025-05-14 15:05:41,124 INFO sqlalchemy.engine.Engine ROLLBACK
{'artists': {'cache': {},
             'col_map': {'artist_id': None, 'artist_name': 'artist_name'},
             'natural_key_col': 'artist_name',
             'pk_cols': [Column('artist_id', INTEGER(), table=<artists>, primary_key=True, nullable=False)],
             'stats': {'attempt': 0, 'dropped': 0},
             'table_obj': Table('artists', MetaData(), Column('artist_id', INTEGER(), table=<artists>, primary_key=True, nullable=False), Column('artist_name', VARCHAR(), table=<artists>, nullable=False), schema=None),
             'traits': TableTraitsWithName(relation_to_raw='1:n', mapping=[], one_to_n=OneToNTraitDetail(surrogate_pk_col='artist_id', natural_key_col='artist_name'), dependencies=[], name='artists')},
 'tracks': {'cache': {},
            'col_map': {'acousticness': 'acousticness_%',
                        'artist_id': None,
                        'bpm': 'bpm',
                        'cover_url': 'cover_url',
                        'danceability': 'danceability_%',
                        'energy': 'energy_%',
                        'id': None,
                        'in_apple_charts': 'in_apple_charts',
                        'in_apple_playlists': 'in_apple_playlists',
                        'in_deezer_charts': 'in_deezer_charts',
                        'in_deezer_playlists': 'in_deezer_playlists',
                        'in_shazam_charts': 'in_shazam_charts',
                        'in_spotify_charts': 'in_spotify_charts',
                        'in_spotify_playlists': 'in_spotify_playlists',
                        'instrumentalness': 'instrumentalness_%',
                        'key': 'key',
                        'liveness': 'liveness_%',
                        'mode': 'mode',
                        'released_day': 'released_day',
                        'released_month': 'released_month',
                        'released_year': 'released_year',
                        'speechiness': 'speechiness_%',
                        'streams': 'streams',
                        'track_name': 'track_name',
                        'valence': 'valence_%'},
            'natural_key_col': None,
            'pk_cols': [Column('id', INTEGER(), table=<tracks>, primary_key=True, nullable=False)],
            'stats': {'attempt': 0, 'dropped': 0},

Row 0: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Latto, Jung Kook).
; dropped

{'artist_name': 'Latto, Jung Kook'}
2025-05-14 15:05:41,137 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,137 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,138 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,138 INFO sqlalchemy.engine.Engine [cached since 0.004945s ago] {'artist_name': 'Myke Towers'}

Row 1: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Myke Towers).
; dropped

{'artist_name': 'Myke Towers'}
2025-05-14 15:05:41,139 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,139 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,140 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,140 INFO sqlalchemy.engine.Engine [cached since 0.007286s ago] {'artist_name': 'Olivia Rodrigo'}

Row 2: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Olivia Rodrigo).
; dropped

{'artist_name': 'Olivia Rodrigo'}
2025-05-14 15:05:41,141 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,142 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,142 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,142 INFO sqlalchemy.engine.Engine [cached since 0.009535s ago] {'artist_name': 'Taylor Swift'}

Row 3: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:41,143 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,144 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,144 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,145 INFO sqlalchemy.engine.Engine [cached since 0.01168s ago] {'artist_name': 'Bad Bunny'}

Row 4: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny).
; dropped

{'artist_name': 'Bad Bunny'}
2025-05-14 15:05:41,145 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,146 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,147 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,147 INFO sqlalchemy.engine.Engine [cached since 0.01429s ago] {'artist_name': 'Dave, Central Cee'}

Row 5: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Dave, Central Cee).
; dropped

{'artist_name': 'Dave, Central Cee'}
2025-05-14 15:05:41,149 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,149 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,150 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,150 INFO sqlalchemy.engine.Engine [cached since 0.01733s ago] {'artist_name': 'Eslabon Armado, Peso Pluma'}

Row 6: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Eslabon Armado, Peso Pluma).
; dropped

{'artist_name': 'Eslabon Armado, Peso Pluma'}
2025-05-14 15:05:41,151 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,152 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,152 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,152 INFO sqlalchemy.engine.Engine [cached since 0.01943s ago] {'artist_name': 'Quevedo'}

Row 7: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Quevedo).
; dropped

{'artist_name': 'Quevedo'}
2025-05-14 15:05:41,153 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,154 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,154 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,155 INFO sqlalchemy.engine.Engine [cached since 0.02188s ago] {'artist_name': 'Gunna'}

Row 8: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Gunna).
; dropped

{'artist_name': 'Gunna'}
2025-05-14 15:05:41,156 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,156 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,157 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,157 INFO sqlalchemy.engine.Engine [cached since 0.02426s ago] {'artist_name': 'Peso Pluma, Yng Lvcas'}

Row 9: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Peso Pluma, Yng Lvcas).
; dropped

{'artist_name': 'Peso Pluma, Yng Lvcas'}
2025-05-14 15:05:41,158 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,159 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,159 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,159 INFO sqlalchemy.engine.Engine [cached since 0.02644s ago] {'artist_name': 'Bad Bunny, Grupo Frontera'}

Row 10: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny, Grupo Frontera).
; dropped

{'artist_name': 'Bad Bunny, Grupo Frontera'}
2025-05-14 15:05:41,160 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,161 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,161 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,161 INFO sqlalchemy.engine.Engine [cached since 0.02866s ago] {'artist_name': 'NewJeans'}

Row 11: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, NewJeans).
; dropped

{'artist_name': 'NewJeans'}
2025-05-14 15:05:41,162 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,163 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,163 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,164 INFO sqlalchemy.engine.Engine [cached since 0.03069s ago] {'artist_name': 'David Kushner'}

Row 12: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, David Kushner).
; dropped

{'artist_name': 'David Kushner'}
2025-05-14 15:05:41,165 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,165 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,166 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,166 INFO sqlalchemy.engine.Engine [cached since 0.03297s ago] {'artist_name': 'SZA'}

Row 13: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SZA).
; dropped

{'artist_name': 'SZA'}
2025-05-14 15:05:41,167 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,167 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,168 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,168 INFO sqlalchemy.engine.Engine [cached since 0.03507s ago] {'artist_name': 'Fifty Fifty'}

Row 14: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Fifty Fifty).
; dropped

{'artist_name': 'Fifty Fifty'}
2025-05-14 15:05:41,169 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,169 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,170 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,170 INFO sqlalchemy.engine.Engine [cached since 0.03712s ago] {'artist_name': 'Feid, Young Miko'}

Row 15: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Feid, Young Miko).
; dropped

{'artist_name': 'Feid, Young Miko'}
2025-05-14 15:05:41,171 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,172 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,172 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,172 INFO sqlalchemy.engine.Engine [cached since 0.03919s ago] {'artist_name': 'Jimin'}

Row 16: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Jimin).
; dropped

{'artist_name': 'Jimin'}
2025-05-14 15:05:41,173 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,174 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,174 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,174 INFO sqlalchemy.engine.Engine [cached since 0.04138s ago] {'artist_name': 'Gabito Ballesteros, Junior H, Peso Pluma'}

Row 17: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Gabito Ballesteros, Junior H, Peso Pluma).
; dropped

{'artist_name': 'Gabito Ballesteros, Junior H, Peso Pluma'}
2025-05-14 15:05:41,175 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,176 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,176 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,177 INFO sqlalchemy.engine.Engine [cached since 0.04384s ago] {'artist_name': 'Taylor Swift'}

Row 18: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:41,177 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,178 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,178 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,178 INFO sqlalchemy.engine.Engine [cached since 0.04557s ago] {'artist_name': 'Bizarrap, Peso Pluma'}

Row 19: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bizarrap, Peso Pluma).
; dropped

{'artist_name': 'Bizarrap, Peso Pluma'}
2025-05-14 15:05:41,179 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,180 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,180 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,180 INFO sqlalchemy.engine.Engine [cached since 0.04759s ago] {'artist_name': 'The Weeknd, Madonna, Playboi Carti'}

Row 20: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd, Madonna, Playboi Carti).
; dropped

{'artist_name': 'The Weeknd, Madonna, Playboi Carti'}
2025-05-14 15:05:41,182 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,182 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,183 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,183 INFO sqlalchemy.engine.Engine [cached since 0.05018s ago] {'artist_name': 'Fuerza Regida'}

Row 21: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Fuerza Regida).
; dropped

{'artist_name': 'Fuerza Regida'}
2025-05-14 15:05:41,184 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,185 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,185 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,185 INFO sqlalchemy.engine.Engine [cached since 0.05246s ago] {'artist_name': 'Rï¿½ï¿½ma, Selena G'}

Row 22: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Rï¿½ï¿½ma, Selena G).
; dropped

{'artist_name': 'Rï¿½ï¿½ma, Selena G'}
2025-05-14 15:05:41,187 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,188 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,189 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,189 INFO sqlalchemy.engine.Engine [cached since 0.05637s ago] {'artist_name': 'Tainy, Bad Bunny'}

Row 23: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Tainy, Bad Bunny).
; dropped

{'artist_name': 'Tainy, Bad Bunny'}
2025-05-14 15:05:41,192 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,193 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,193 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,194 INFO sqlalchemy.engine.Engine [cached since 0.0607s ago] {'artist_name': 'Morgan Wallen'}

Row 24: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Morgan Wallen).
; dropped

{'artist_name': 'Morgan Wallen'}
2025-05-14 15:05:41,195 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,195 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,195 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,196 INFO sqlalchemy.engine.Engine [cached since 0.06281s ago] {'artist_name': 'Dua Lipa'}

Row 25: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Dua Lipa).
; dropped

{'artist_name': 'Dua Lipa'}
2025-05-14 15:05:41,197 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,197 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,197 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,198 INFO sqlalchemy.engine.Engine [cached since 0.06491s ago] {'artist_name': 'Troye Sivan'}

Row 26: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Troye Sivan).
; dropped

{'artist_name': 'Troye Sivan'}
2025-05-14 15:05:41,199 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,199 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,200 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,200 INFO sqlalchemy.engine.Engine [cached since 0.06697s ago] {'artist_name': 'Peso Pluma, Grupo Frontera'}

Row 27: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Peso Pluma, Grupo Frontera).
; dropped

{'artist_name': 'Peso Pluma, Grupo Frontera'}
2025-05-14 15:05:41,201 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,202 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,202 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,203 INFO sqlalchemy.engine.Engine [cached since 0.06969s ago] {'artist_name': 'The Weeknd, 21 Savage, Metro Boomin'}

Row 28: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd, 21 Savage, Metro Boomin).
; dropped

{'artist_name': 'The Weeknd, 21 Savage, Metro Boomin'}
2025-05-14 15:05:41,203 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,204 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,204 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,205 INFO sqlalchemy.engine.Engine [cached since 0.07168s ago] {'artist_name': 'Taylor Swift'}

Row 29: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:41,206 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,207 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,207 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,207 INFO sqlalchemy.engine.Engine [cached since 0.07448s ago] {'artist_name': 'Karol G, Shakira'}

Row 30: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Karol G, Shakira).
; dropped

{'artist_name': 'Karol G, Shakira'}
2025-05-14 15:05:41,209 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,209 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,210 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,210 INFO sqlalchemy.engine.Engine [cached since 0.07692s ago] {'artist_name': 'Yahritza Y Su Esencia, Grupo Frontera'}

Row 31: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Yahritza Y Su Esencia, Grupo Frontera).
; dropped

{'artist_name': 'Yahritza Y Su Esencia, Grupo Frontera'}
2025-05-14 15:05:41,211 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,211 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,211 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,212 INFO sqlalchemy.engine.Engine [cached since 0.07885s ago] {'artist_name': 'Taylor Swift'}

Row 32: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:41,213 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,213 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,214 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,214 INFO sqlalchemy.engine.Engine [cached since 0.08104s ago] {'artist_name': 'Taylor Swift'}

Row 33: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:41,215 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,215 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,216 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,216 INFO sqlalchemy.engine.Engine [cached since 0.08296s ago] {'artist_name': 'Fuerza Regida'}

Row 34: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Fuerza Regida).
; dropped

{'artist_name': 'Fuerza Regida'}
2025-05-14 15:05:41,217 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,217 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,218 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,218 INFO sqlalchemy.engine.Engine [cached since 0.08507s ago] {'artist_name': 'Junior H, Peso Pluma'}

Row 35: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Junior H, Peso Pluma).
; dropped

{'artist_name': 'Junior H, Peso Pluma'}
2025-05-14 15:05:41,219 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,219 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,220 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,220 INFO sqlalchemy.engine.Engine [cached since 0.08692s ago] {'artist_name': 'Post Malone, Swae Lee'}

Row 36: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Post Malone, Swae Lee).
; dropped

{'artist_name': 'Post Malone, Swae Lee'}
2025-05-14 15:05:41,221 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,221 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,221 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,222 INFO sqlalchemy.engine.Engine [cached since 0.08884s ago] {'artist_name': 'Bebe Rexha, David Guetta'}

Row 37: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bebe Rexha, David Guetta).
; dropped

{'artist_name': 'Bebe Rexha, David Guetta'}
2025-05-14 15:05:41,223 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,223 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,223 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,224 INFO sqlalchemy.engine.Engine [cached since 0.09068s ago] {'artist_name': 'Tyler, The Creator, Kali Uchis'}

Row 38: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Tyler, The Creator, Kali Uchis).
; dropped

{'artist_name': 'Tyler, The Creator, Kali Uchis'}
2025-05-14 15:05:41,224 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,225 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,225 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,225 INFO sqlalchemy.engine.Engine [cached since 0.09265s ago] {'artist_name': 'Miley Cyrus'}

Row 39: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Miley Cyrus).
; dropped

{'artist_name': 'Miley Cyrus'}
2025-05-14 15:05:41,226 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,227 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,227 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,227 INFO sqlalchemy.engine.Engine [cached since 0.09466s ago] {'artist_name': 'The Weeknd'}

Row 40: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd).
; dropped

{'artist_name': 'The Weeknd'}
2025-05-14 15:05:41,228 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,229 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,229 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,229 INFO sqlalchemy.engine.Engine [cached since 0.09658s ago] {'artist_name': 'The Weeknd, Daft Punk'}

Row 41: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd, Daft Punk).
; dropped

{'artist_name': 'The Weeknd, Daft Punk'}
2025-05-14 15:05:41,230 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,231 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,231 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,231 INFO sqlalchemy.engine.Engine [cached since 0.09839s ago] {'artist_name': 'Ariana Grande, The Weeknd'}

Row 42: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ariana Grande, The Weeknd).
; dropped

{'artist_name': 'Ariana Grande, The Weeknd'}
2025-05-14 15:05:41,232 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,233 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,233 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,233 INFO sqlalchemy.engine.Engine [cached since 0.1002s ago] {'artist_name': 'Feid, Myke Towers, Sky Rompiendo'}

Row 43: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Feid, Myke Towers, Sky Rompiendo).
; dropped

{'artist_name': 'Feid, Myke Towers, Sky Rompiendo'}
2025-05-14 15:05:41,234 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,235 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,235 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,235 INFO sqlalchemy.engine.Engine [cached since 0.1023s ago] {'artist_name': 'David Guetta, Anne-Marie, Coi Leray'}

Row 44: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, David Guetta, Anne-Marie, Coi Leray).
; dropped

{'artist_name': 'David Guetta, Anne-Marie, Coi Leray'}
2025-05-14 15:05:41,236 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,237 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,237 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,237 INFO sqlalchemy.engine.Engine [cached since 0.1046s ago] {'artist_name': 'Karol G'}

Row 45: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Karol G).
; dropped

{'artist_name': 'Karol G'}
2025-05-14 15:05:41,238 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,239 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,239 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,239 INFO sqlalchemy.engine.Engine [cached since 0.1065s ago] {'artist_name': 'Peggy Gou'}

Row 46: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Peggy Gou).
; dropped

{'artist_name': 'Peggy Gou'}
2025-05-14 15:05:41,240 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,241 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,241 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,241 INFO sqlalchemy.engine.Engine [cached since 0.1086s ago] {'artist_name': 'Kali Uchis'}

Row 47: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kali Uchis).
; dropped

{'artist_name': 'Kali Uchis'}
2025-05-14 15:05:41,242 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,243 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,244 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,244 INFO sqlalchemy.engine.Engine [cached since 0.1112s ago] {'artist_name': 'Manuel Turizo'}

Row 48: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Manuel Turizo).
; dropped

{'artist_name': 'Manuel Turizo'}
2025-05-14 15:05:41,245 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,245 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,246 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,246 INFO sqlalchemy.engine.Engine [cached since 0.1132s ago] {'artist_name': 'dennis, MC Kevin o Chris'}

Row 49: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, dennis, MC Kevin o Chris).
; dropped

{'artist_name': 'dennis, MC Kevin o Chris'}
2025-05-14 15:05:41,247 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,248 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,248 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,248 INFO sqlalchemy.engine.Engine [cached since 0.1152s ago] {'artist_name': 'PinkPantheress, Ice Spice'}

Row 50: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, PinkPantheress, Ice Spice).
; dropped

{'artist_name': 'PinkPantheress, Ice Spice'}
2025-05-14 15:05:41,249 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,250 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,250 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,251 INFO sqlalchemy.engine.Engine [cached since 0.1177s ago] {'artist_name': 'Charlie Puth, BTS, Jung Kook'}

Row 51: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Charlie Puth, BTS, Jung Kook).
; dropped

{'artist_name': 'Charlie Puth, BTS, Jung Kook'}
2025-05-14 15:05:41,251 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,252 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,252 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,253 INFO sqlalchemy.engine.Engine [cached since 0.1197s ago] {'artist_name': 'Rauw Alejandro, ROSALï¿½'}

Row 52: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Rauw Alejandro, ROSALï¿½).
; dropped

{'artist_name': 'Rauw Alejandro, ROSALï¿½'}
2025-05-14 15:05:41,253 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,254 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,254 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,254 INFO sqlalchemy.engine.Engine [cached since 0.1217s ago] {'artist_name': 'Ozuna, Feid'}

Row 53: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ozuna, Feid).
; dropped

{'artist_name': 'Ozuna, Feid'}
2025-05-14 15:05:41,256 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,257 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,257 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,257 INFO sqlalchemy.engine.Engine [cached since 0.1244s ago] {'artist_name': 'Chris Molitor'}

Row 54: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Chris Molitor).
; dropped

{'artist_name': 'Chris Molitor'}
2025-05-14 15:05:41,258 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,259 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,259 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,260 INFO sqlalchemy.engine.Engine [cached since 0.1267s ago] {'artist_name': 'Taylor Swift'}

Row 55: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:41,261 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,261 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,261 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,262 INFO sqlalchemy.engine.Engine [cached since 0.1288s ago] {'artist_name': 'Libianca'}

Row 56: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Libianca).
; dropped

{'artist_name': 'Libianca'}
2025-05-14 15:05:41,262 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,263 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,263 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,263 INFO sqlalchemy.engine.Engine [cached since 0.1306s ago] {'artist_name': 'Post Malone'}

Row 57: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Post Malone).
; dropped

{'artist_name': 'Post Malone'}
2025-05-14 15:05:41,264 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,265 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,265 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,265 INFO sqlalchemy.engine.Engine [cached since 0.1324s ago] {'artist_name': 'Taylor Swift'}

Row 58: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:41,266 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,267 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,267 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,267 INFO sqlalchemy.engine.Engine [cached since 0.1346s ago] {'artist_name': 'Rauw Alejandro, Bizarrap'}

Row 59: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Rauw Alejandro, Bizarrap).
; dropped

{'artist_name': 'Rauw Alejandro, Bizarrap'}
2025-05-14 15:05:41,268 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,269 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,269 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,270 INFO sqlalchemy.engine.Engine [cached since 0.1369s ago] {'artist_name': 'JVKE'}

Row 60: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, JVKE).
; dropped

{'artist_name': 'JVKE'}
2025-05-14 15:05:41,271 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,274 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,282 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,285 INFO sqlalchemy.engine.Engine [cached since 0.1525s ago] {'artist_name': 'Bizarrap, Quevedo'}

Row 61: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bizarrap, Quevedo).
; dropped

{'artist_name': 'Bizarrap, Quevedo'}
2025-05-14 15:05:41,295 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,300 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,316 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,320 INFO sqlalchemy.engine.Engine [cached since 0.1866s ago] {'artist_name': 'Coldplay'}

Row 62: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Coldplay).
; dropped

{'artist_name': 'Coldplay'}
2025-05-14 15:05:41,327 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,332 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,335 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,338 INFO sqlalchemy.engine.Engine [cached since 0.2047s ago] {'artist_name': 'd4vd'}
{'artist_name': 'd4vd'}

Row 63: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, d4vd).
; dropped

2025-05-14 15:05:41,344 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,345 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,345 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,345 INFO sqlalchemy.engine.Engine [cached since 0.2126s ago] {'artist_name': 'Sam Smith, Kim Petras'}

Row 64: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Sam Smith, Kim Petras).
; dropped

{'artist_name': 'Sam Smith, Kim Petras'}
2025-05-14 15:05:41,347 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,347 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,348 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,348 INFO sqlalchemy.engine.Engine [cached since 0.2153s ago] {'artist_name': 'Yandel, Feid'}

Row 65: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Yandel, Feid).
; dropped

{'artist_name': 'Yandel, Feid'}
2025-05-14 15:05:41,349 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,350 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,351 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,351 INFO sqlalchemy.engine.Engine [cached since 0.2184s ago] {'artist_name': 'Maria Becerra'}

Row 66: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Maria Becerra).
; dropped

{'artist_name': 'Maria Becerra'}
2025-05-14 15:05:41,353 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,353 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,354 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,354 INFO sqlalchemy.engine.Engine [cached since 0.2211s ago] {'artist_name': 'Vance Joy'}

Row 67: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Vance Joy).
; dropped

{'artist_name': 'Vance Joy'}
2025-05-14 15:05:41,358 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,360 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,364 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,367 INFO sqlalchemy.engine.Engine [cached since 0.2341s ago] {'artist_name': 'Em Beihold, Stephen Sanchez'}
{'artist_name': 'Em Beihold, Stephen Sanchez'}

Row 68: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Em Beihold, Stephen Sanchez).
; dropped

2025-05-14 15:05:41,369 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,370 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,371 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,371 INFO sqlalchemy.engine.Engine [cached since 0.2381s ago] {'artist_name': 'Mc Livinho, DJ Matt D'}
{'artist_name': 'Mc Livinho, DJ Matt D'}

Row 69: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Mc Livinho, DJ Matt D).
; dropped

2025-05-14 15:05:41,373 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,373 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,374 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,374 INFO sqlalchemy.engine.Engine [cached since 0.2416s ago] {'artist_name': 'Taylor Swift'}
{'artist_name': 'Taylor Swift'}

Row 70: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

2025-05-14 15:05:41,376 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,377 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,377 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,378 INFO sqlalchemy.engine.Engine [cached since 0.245s ago] {'artist_name': 'Justin Bieber, The Kid Laroi'}
{'artist_name': 'Justin Bieber, The Kid Laroi'}

Row 71: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Justin Bieber, The Kid Laroi).
; dropped

2025-05-14 15:05:41,379 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,380 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,380 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,381 INFO sqlalchemy.engine.Engine [cached since 0.2481s ago] {'artist_name': 'Marshmello, Manuel Turizo'}

Row 72: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Marshmello, Manuel Turizo).
; dropped

{'artist_name': 'Marshmello, Manuel Turizo'}
2025-05-14 15:05:41,383 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,383 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,384 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,384 INFO sqlalchemy.engine.Engine [cached since 0.2514s ago] {'artist_name': 'Chencho Corleone, Bad Bunny'}
{'artist_name': 'Chencho Corleone, Bad Bunny'}

Row 73: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Chencho Corleone, Bad Bunny).
; dropped

2025-05-14 15:05:41,386 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,387 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,388 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,388 INFO sqlalchemy.engine.Engine [cached since 0.255s ago] {'artist_name': 'Jain'}

Row 74: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Jain).
; dropped

{'artist_name': 'Jain'}
2025-05-14 15:05:41,389 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,390 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,391 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,391 INFO sqlalchemy.engine.Engine [cached since 0.2582s ago] {'artist_name': 'Ayparia, unxbected'}

Row 75: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ayparia, unxbected).
; dropped

{'artist_name': 'Ayparia, unxbected'}
2025-05-14 15:05:41,393 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,394 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,394 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,395 INFO sqlalchemy.engine.Engine [cached since 0.2619s ago] {'artist_name': 'Luke Combs'}
{'artist_name': 'Luke Combs'}

Row 76: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Luke Combs).
; dropped

2025-05-14 15:05:41,396 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,398 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,398 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,399 INFO sqlalchemy.engine.Engine [cached since 0.2661s ago] {'artist_name': 'Doechii'}

Row 77: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Doechii).
; dropped

{'artist_name': 'Doechii'}
2025-05-14 15:05:41,402 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,402 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,404 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,405 INFO sqlalchemy.engine.Engine [cached since 0.272s ago] {'artist_name': 'Bad Bunny, Eladio Carrion'}

Row 78: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny, Eladio Carrion).
; dropped

{'artist_name': 'Bad Bunny, Eladio Carrion'}
2025-05-14 15:05:41,407 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,408 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,409 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,409 INFO sqlalchemy.engine.Engine [cached since 0.276s ago] {'artist_name': 'Taylor Swift'}

Row 79: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:41,410 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,411 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,412 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,413 INFO sqlalchemy.engine.Engine [cached since 0.2805s ago] {'artist_name': 'Jung Kook'}

Row 80: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Jung Kook).
; dropped

{'artist_name': 'Jung Kook'}
2025-05-14 15:05:41,414 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,415 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,416 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,417 INFO sqlalchemy.engine.Engine [cached since 0.2845s ago] {'artist_name': 'J. Cole, Lil Durk'}

Row 81: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, J. Cole, Lil Durk).
; dropped

{'artist_name': 'J. Cole, Lil Durk'}
2025-05-14 15:05:41,419 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,420 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,421 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,421 INFO sqlalchemy.engine.Engine [cached since 0.2883s ago] {'artist_name': 'Lana Del Rey'}

Row 82: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lana Del Rey).
; dropped

{'artist_name': 'Lana Del Rey'}
2025-05-14 15:05:41,422 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,423 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,423 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,423 INFO sqlalchemy.engine.Engine [cached since 0.2903s ago] {'artist_name': 'SZA'}

Row 83: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SZA).
; dropped

{'artist_name': 'SZA'}
2025-05-14 15:05:41,424 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,425 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,425 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,426 INFO sqlalchemy.engine.Engine [cached since 0.2929s ago] {'artist_name': 'Lana Del Rey'}

Row 84: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lana Del Rey).
; dropped

{'artist_name': 'Lana Del Rey'}
2025-05-14 15:05:41,427 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,427 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,428 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,428 INFO sqlalchemy.engine.Engine [cached since 0.2953s ago] {'artist_name': 'BTS'}
{'artist_name': 'BTS'}

Row 85: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, BTS).
; dropped

2025-05-14 15:05:41,431 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,432 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,432 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,432 INFO sqlalchemy.engine.Engine [cached since 0.2995s ago] {'artist_name': 'Taylor Swift'}

Row 86: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:41,433 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,434 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,434 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,435 INFO sqlalchemy.engine.Engine [cached since 0.3017s ago] {'artist_name': 'Future, Metro Boomin, Don Toliver'}

Row 87: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Future, Metro Boomin, Don Toliver).
; dropped

{'artist_name': 'Future, Metro Boomin, Don Toliver'}
2025-05-14 15:05:41,436 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,436 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,436 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,437 INFO sqlalchemy.engine.Engine [cached since 0.3039s ago] {'artist_name': 'Post Malone'}

Row 88: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Post Malone).
; dropped

{'artist_name': 'Post Malone'}
2025-05-14 15:05:41,438 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,438 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,439 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,439 INFO sqlalchemy.engine.Engine [cached since 0.3062s ago] {'artist_name': 'Eminem'}

Row 89: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Eminem).
; dropped

{'artist_name': 'Eminem'}
2025-05-14 15:05:41,440 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,440 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,441 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,441 INFO sqlalchemy.engine.Engine [cached since 0.3082s ago] {'artist_name': 'NewJeans'}

Row 90: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, NewJeans).
; dropped

{'artist_name': 'NewJeans'}
2025-05-14 15:05:41,442 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,442 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,443 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,443 INFO sqlalchemy.engine.Engine [cached since 0.3102s ago] {'artist_name': 'Carin Leon'}

Row 91: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Carin Leon).
; dropped

{'artist_name': 'Carin Leon'}
2025-05-14 15:05:41,444 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,444 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,445 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,445 INFO sqlalchemy.engine.Engine [cached since 0.3125s ago] {'artist_name': 'Dua Lipa, Elton John, Pnau'}

Row 92: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Dua Lipa, Elton John, Pnau).
; dropped

{'artist_name': 'Dua Lipa, Elton John, Pnau'}
2025-05-14 15:05:41,446 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,447 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,447 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,448 INFO sqlalchemy.engine.Engine [cached since 0.3148s ago] {'artist_name': 'Ruth B.'}

Row 93: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ruth B.).
; dropped

{'artist_name': 'Ruth B.'}
2025-05-14 15:05:41,449 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,449 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,449 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,450 INFO sqlalchemy.engine.Engine [cached since 0.3169s ago] {'artist_name': 'Imagine Dragons'}

Row 94: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Imagine Dragons).
; dropped

{'artist_name': 'Imagine Dragons'}
2025-05-14 15:05:41,451 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,451 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,452 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,452 INFO sqlalchemy.engine.Engine [cached since 0.3192s ago] {'artist_name': 'Adele'}

Row 95: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Adele).
; dropped

{'artist_name': 'Adele'}
2025-05-14 15:05:41,453 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,453 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,454 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,454 INFO sqlalchemy.engine.Engine [cached since 0.3211s ago] {'artist_name': 'Kendrick Lamar, Jay Rock'}

Row 96: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar, Jay Rock).
; dropped

{'artist_name': 'Kendrick Lamar, Jay Rock'}
2025-05-14 15:05:41,455 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,455 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,456 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,456 INFO sqlalchemy.engine.Engine [cached since 0.3229s ago] {'artist_name': 'Anggi Marito'}

Row 97: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Anggi Marito).
; dropped

{'artist_name': 'Anggi Marito'}
2025-05-14 15:05:41,457 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,457 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,458 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,458 INFO sqlalchemy.engine.Engine [cached since 0.325s ago] {'artist_name': 'Jasiel Nuï¿½ï¿½ez, Peso P'}

Row 98: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Jasiel Nuï¿½ï¿½ez, Peso P).
; dropped

{'artist_name': 'Jasiel Nuï¿½ï¿½ez, Peso P'}
2025-05-14 15:05:41,459 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,459 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,460 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,460 INFO sqlalchemy.engine.Engine [cached since 0.3269s ago] {'artist_name': 'Taylor Swift'}

Row 99: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:41,461 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,462 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,462 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,462 INFO sqlalchemy.engine.Engine [cached since 0.3295s ago] {'artist_name': 'Tears For Fears'}

Row 100: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Tears For Fears).
; dropped

{'artist_name': 'Tears For Fears'}
2025-05-14 15:05:41,463 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,464 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,464 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,464 INFO sqlalchemy.engine.Engine [cached since 0.3316s ago] {'artist_name': 'J. Cole'}

Row 101: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, J. Cole).
; dropped

{'artist_name': 'J. Cole'}
2025-05-14 15:05:41,465 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,465 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,466 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,466 INFO sqlalchemy.engine.Engine [cached since 0.3331s ago] {'artist_name': 'Loreen'}

Row 102: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Loreen).
; dropped

{'artist_name': 'Loreen'}
2025-05-14 15:05:41,467 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,468 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,468 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,468 INFO sqlalchemy.engine.Engine [cached since 0.3352s ago] {'artist_name': 'Taiu, Milo j'}

Row 103: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taiu, Milo j).
; dropped

{'artist_name': 'Taiu, Milo j'}
2025-05-14 15:05:41,469 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,470 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,470 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,471 INFO sqlalchemy.engine.Engine [cached since 0.3377s ago] {'artist_name': 'Sebastian Yatra, Manuel Turizo, Beï¿½ï'}

Row 104: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Sebastian Yatra, Manuel Turizo, Beï¿½ï).
; dropped

{'artist_name': 'Sebastian Yatra, Manuel Turizo, Beï¿½ï'}
2025-05-14 15:05:41,471 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,472 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,472 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,472 INFO sqlalchemy.engine.Engine [cached since 0.3395s ago] {'artist_name': 'Taylor Swift'}

Row 105: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:41,473 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,474 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,474 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,475 INFO sqlalchemy.engine.Engine [cached since 0.3417s ago] {'artist_name': 'Junior H, Peso Pluma'}

Row 106: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Junior H, Peso Pluma).
; dropped

{'artist_name': 'Junior H, Peso Pluma'}
2025-05-14 15:05:41,475 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,476 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,476 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,477 INFO sqlalchemy.engine.Engine [cached since 0.3441s ago] {'artist_name': 'Calvin Harris, Ellie Goulding'}

Row 107: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Calvin Harris, Ellie Goulding).
; dropped

{'artist_name': 'Calvin Harris, Ellie Goulding'}
2025-05-14 15:05:41,478 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,478 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,479 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,479 INFO sqlalchemy.engine.Engine [cached since 0.346s ago] {'artist_name': 'Sabrina Carpenter'}

Row 108: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Sabrina Carpenter).
; dropped

{'artist_name': 'Sabrina Carpenter'}
2025-05-14 15:05:41,480 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,480 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,480 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,481 INFO sqlalchemy.engine.Engine [cached since 0.3479s ago] {'artist_name': 'Carin Leon, Grupo Frontera'}

Row 109: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Carin Leon, Grupo Frontera).
; dropped

{'artist_name': 'Carin Leon, Grupo Frontera'}
2025-05-14 15:05:41,482 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,482 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,482 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,482 INFO sqlalchemy.engine.Engine [cached since 0.3496s ago] {'artist_name': 'Feid'}

Row 110: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Feid).
; dropped

{'artist_name': 'Feid'}
2025-05-14 15:05:41,484 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,484 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,484 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,485 INFO sqlalchemy.engine.Engine [cached since 0.3518s ago] {'artist_name': 'Ray Dalton, Ryan Lewis, Macklemore'}

Row 111: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ray Dalton, Ryan Lewis, Macklemore).
; dropped

{'artist_name': 'Ray Dalton, Ryan Lewis, Macklemore'}
2025-05-14 15:05:41,485 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,486 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,486 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,487 INFO sqlalchemy.engine.Engine [cached since 0.3537s ago] {'artist_name': 'Billie Eilish, Khalid'}

Row 112: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Billie Eilish, Khalid).
; dropped

{'artist_name': 'Billie Eilish, Khalid'}
2025-05-14 15:05:41,487 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,488 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,488 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,488 INFO sqlalchemy.engine.Engine [cached since 0.3555s ago] {'artist_name': 'Rauw Alejandro, Bizarrap'}

Row 113: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Rauw Alejandro, Bizarrap).
; dropped

{'artist_name': 'Rauw Alejandro, Bizarrap'}
2025-05-14 15:05:41,489 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,489 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,490 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,490 INFO sqlalchemy.engine.Engine [cached since 0.3572s ago] {'artist_name': '(G)I-DLE'}

Row 114: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, (G)I-DLE).
; dropped

{'artist_name': '(G)I-DLE'}
2025-05-14 15:05:41,491 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,491 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,492 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,492 INFO sqlalchemy.engine.Engine [cached since 0.359s ago] {'artist_name': 'NewJeans'}

Row 115: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, NewJeans).
; dropped

{'artist_name': 'NewJeans'}
2025-05-14 15:05:41,493 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,493 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,494 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,494 INFO sqlalchemy.engine.Engine [cached since 0.3612s ago] {'artist_name': 'Lana Del Rey'}

Row 116: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lana Del Rey).
; dropped

{'artist_name': 'Lana Del Rey'}
2025-05-14 15:05:41,495 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,496 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,496 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,496 INFO sqlalchemy.engine.Engine [cached since 0.3636s ago] {'artist_name': 'Shakira, Bizarrap'}

Row 117: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Shakira, Bizarrap).
; dropped

{'artist_name': 'Shakira, Bizarrap'}
2025-05-14 15:05:41,497 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,498 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,498 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,498 INFO sqlalchemy.engine.Engine [cached since 0.3654s ago] {'artist_name': 'Travis Scott, Young Thug, Metro Boomin'}

Row 118: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Travis Scott, Young Thug, Metro Boomin).
; dropped

{'artist_name': 'Travis Scott, Young Thug, Metro Boomin'}
2025-05-14 15:05:41,500 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,500 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,500 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,501 INFO sqlalchemy.engine.Engine [cached since 0.3679s ago] {'artist_name': 'Sachin-Jigar, Shadab Faridi, Altamash Faridi, Amitabh Bhattacharya, Varun Jain'}

Row 119: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Sachin-Jigar, Shadab Faridi, Altamash Faridi, Amitabh Bhattachar...).
; dropped

{'artist_name': 'Sachin-Jigar, Shadab Faridi, Altamash Faridi, Amitabh Bhattacharya, Varun Jain'}
2025-05-14 15:05:41,502 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,502 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,503 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,503 INFO sqlalchemy.engine.Engine [cached since 0.3699s ago] {'artist_name': 'Ed Sheeran'}

Row 120: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ed Sheeran).
; dropped

{'artist_name': 'Ed Sheeran'}
2025-05-14 15:05:41,503 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,504 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,504 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,504 INFO sqlalchemy.engine.Engine [cached since 0.3716s ago] {'artist_name': 'd4vd'}

Row 121: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, d4vd).
; dropped

{'artist_name': 'd4vd'}
2025-05-14 15:05:41,505 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,506 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,506 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,506 INFO sqlalchemy.engine.Engine [cached since 0.3733s ago] {'artist_name': 'Imagine Dragons'}

Row 122: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Imagine Dragons).
; dropped

{'artist_name': 'Imagine Dragons'}
2025-05-14 15:05:41,507 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,508 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,508 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,509 INFO sqlalchemy.engine.Engine [cached since 0.3758s ago] {'artist_name': 'Veigh, Bvga Beatz, Supernova Ent, Prod Malax'}

Row 123: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Veigh, Bvga Beatz, Supernova Ent, Prod Malax).
; dropped

{'artist_name': 'Veigh, Bvga Beatz, Supernova Ent, Prod Malax'}
2025-05-14 15:05:41,510 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,511 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,511 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,511 INFO sqlalchemy.engine.Engine [cached since 0.3783s ago] {'artist_name': 'Mc Pedrinho, DJ 900'}

Row 124: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Mc Pedrinho, DJ 900).
; dropped

{'artist_name': 'Mc Pedrinho, DJ 900'}
2025-05-14 15:05:41,513 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,513 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,513 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,513 INFO sqlalchemy.engine.Engine [cached since 0.3806s ago] {'artist_name': 'Eminem'}

Row 125: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Eminem).
; dropped

{'artist_name': 'Eminem'}
2025-05-14 15:05:41,515 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,515 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,515 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,516 INFO sqlalchemy.engine.Engine [cached since 0.3829s ago] {'artist_name': 'The Weeknd, Lana Del Rey'}

Row 126: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd, Lana Del Rey).
; dropped

{'artist_name': 'The Weeknd, Lana Del Rey'}
2025-05-14 15:05:41,517 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,517 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,518 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,518 INFO sqlalchemy.engine.Engine [cached since 0.3852s ago] {'artist_name': 'Bomba Estï¿½ï¿½reo, Bad B'}

Row 127: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bomba Estï¿½ï¿½reo, Bad B).
; dropped

{'artist_name': 'Bomba Estï¿½ï¿½reo, Bad B'}
2025-05-14 15:05:41,519 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,520 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,520 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,520 INFO sqlalchemy.engine.Engine [cached since 0.3876s ago] {'artist_name': 'Keane'}

Row 128: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Keane).
; dropped

{'artist_name': 'Keane'}
2025-05-14 15:05:41,522 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,523 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,523 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,523 INFO sqlalchemy.engine.Engine [cached since 0.3903s ago] {'artist_name': 'New West'}

Row 129: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, New West).
; dropped

{'artist_name': 'New West'}
2025-05-14 15:05:41,524 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,525 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,525 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,525 INFO sqlalchemy.engine.Engine [cached since 0.3926s ago] {'artist_name': 'Chino Pacas'}

Row 130: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Chino Pacas).
; dropped

{'artist_name': 'Chino Pacas'}
2025-05-14 15:05:41,526 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,527 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,527 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,527 INFO sqlalchemy.engine.Engine [cached since 0.3945s ago] {'artist_name': 'Natanael Cano'}

Row 131: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Natanael Cano).
; dropped

{'artist_name': 'Natanael Cano'}
2025-05-14 15:05:41,528 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,529 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,529 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,529 INFO sqlalchemy.engine.Engine [cached since 0.3965s ago] {'artist_name': 'Ana Castela, AgroPlay'}

Row 132: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ana Castela, AgroPlay).
; dropped

{'artist_name': 'Ana Castela, AgroPlay'}
2025-05-14 15:05:41,530 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,531 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,531 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,532 INFO sqlalchemy.engine.Engine [cached since 0.3988s ago] {'artist_name': 'Bruno Mars'}

Row 133: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bruno Mars).
; dropped

{'artist_name': 'Bruno Mars'}
2025-05-14 15:05:41,533 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,533 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,534 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,534 INFO sqlalchemy.engine.Engine [cached since 0.401s ago] {'artist_name': 'Big One, FMK, Ke personajes'}

Row 134: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Big One, FMK, Ke personajes).
; dropped

{'artist_name': 'Big One, FMK, Ke personajes'}
2025-05-14 15:05:41,535 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,535 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,536 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,536 INFO sqlalchemy.engine.Engine [cached since 0.4031s ago] {'artist_name': 'OneRepublic'}

Row 135: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, OneRepublic).
; dropped

{'artist_name': 'OneRepublic'}
2025-05-14 15:05:41,537 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,537 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,538 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,538 INFO sqlalchemy.engine.Engine [cached since 0.4051s ago] {'artist_name': 'Natanael Cano, Peso Pluma'}

Row 136: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Natanael Cano, Peso Pluma).
; dropped

{'artist_name': 'Natanael Cano, Peso Pluma'}
2025-05-14 15:05:41,539 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,540 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,540 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,540 INFO sqlalchemy.engine.Engine [cached since 0.4074s ago] {'artist_name': 'Drake, WizKid, Kyla'}

Row 137: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Drake, WizKid, Kyla).
; dropped

{'artist_name': 'Drake, WizKid, Kyla'}
2025-05-14 15:05:41,542 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,542 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,542 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,543 INFO sqlalchemy.engine.Engine [cached since 0.4099s ago] {'artist_name': 'Taylor Swift'}

Row 138: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:41,544 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,544 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,544 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,545 INFO sqlalchemy.engine.Engine [cached since 0.4118s ago] {'artist_name': 'Miguel'}

Row 139: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Miguel).
; dropped

{'artist_name': 'Miguel'}
2025-05-14 15:05:41,546 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,546 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,547 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,547 INFO sqlalchemy.engine.Engine [cached since 0.414s ago] {'artist_name': 'The Police'}

Row 140: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Police).
; dropped

{'artist_name': 'The Police'}
2025-05-14 15:05:41,548 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,548 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,549 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,549 INFO sqlalchemy.engine.Engine [cached since 0.4162s ago] {'artist_name': 'Lord Huron'}

Row 141: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lord Huron).
; dropped

{'artist_name': 'Lord Huron'}
2025-05-14 15:05:41,550 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,551 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,551 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,551 INFO sqlalchemy.engine.Engine [cached since 0.4186s ago] {'artist_name': 'Rihanna, Calvin Harris'}

Row 142: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Rihanna, Calvin Harris).
; dropped

{'artist_name': 'Rihanna, Calvin Harris'}
2025-05-14 15:05:41,552 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,553 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,553 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,553 INFO sqlalchemy.engine.Engine [cached since 0.4205s ago] {'artist_name': 'Alec Benjamin'}

Row 143: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Alec Benjamin).
; dropped

{'artist_name': 'Alec Benjamin'}
2025-05-14 15:05:41,554 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,555 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,555 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,555 INFO sqlalchemy.engine.Engine [cached since 0.4223s ago] {'artist_name': 'A$AP Rocky, Metro Boomin, Roisee'}

Row 144: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, A$AP Rocky, Metro Boomin, Roisee).
; dropped

{'artist_name': 'A$AP Rocky, Metro Boomin, Roisee'}
2025-05-14 15:05:41,556 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,557 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,557 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,557 INFO sqlalchemy.engine.Engine [cached since 0.4244s ago] {'artist_name': 'Arctic Monkeys'}

Row 145: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Arctic Monkeys).
; dropped

{'artist_name': 'Arctic Monkeys'}
2025-05-14 15:05:41,558 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,559 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,559 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,560 INFO sqlalchemy.engine.Engine [cached since 0.4267s ago] {'artist_name': 'Imagine Dragons'}

Row 146: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Imagine Dragons).
; dropped

{'artist_name': 'Imagine Dragons'}
2025-05-14 15:05:41,561 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,561 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,561 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,562 INFO sqlalchemy.engine.Engine [cached since 0.4288s ago] {'artist_name': 'YOASOBI'}

Row 147: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, YOASOBI).
; dropped

{'artist_name': 'YOASOBI'}
2025-05-14 15:05:41,563 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,563 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,563 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,563 INFO sqlalchemy.engine.Engine [cached since 0.4306s ago] {'artist_name': 'The Weeknd'}

Row 148: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd).
; dropped

{'artist_name': 'The Weeknd'}
2025-05-14 15:05:41,565 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,565 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,565 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,566 INFO sqlalchemy.engine.Engine [cached since 0.4327s ago] {'artist_name': 'Taylor Swift'}

Row 149: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:41,566 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,567 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,567 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,568 INFO sqlalchemy.engine.Engine [cached since 0.4347s ago] {'artist_name': 'Arctic Monkeys'}

Row 150: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Arctic Monkeys).
; dropped

{'artist_name': 'Arctic Monkeys'}
2025-05-14 15:05:41,568 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,569 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,569 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,569 INFO sqlalchemy.engine.Engine [cached since 0.4365s ago] {'artist_name': 'Ed Sheeran'}

Row 151: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ed Sheeran).
; dropped

{'artist_name': 'Ed Sheeran'}
2025-05-14 15:05:41,570 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,571 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,571 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,572 INFO sqlalchemy.engine.Engine [cached since 0.4389s ago] {'artist_name': 'Radiohead'}

Row 152: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Radiohead).
; dropped

{'artist_name': 'Radiohead'}
2025-05-14 15:05:41,573 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,574 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,574 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,574 INFO sqlalchemy.engine.Engine [cached since 0.4415s ago] {'artist_name': 'James Arthur'}

Row 153: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, James Arthur).
; dropped

{'artist_name': 'James Arthur'}
2025-05-14 15:05:41,575 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,576 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,576 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,576 INFO sqlalchemy.engine.Engine [cached since 0.4435s ago] {'artist_name': 'Cigarettes After Sex'}

Row 154: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Cigarettes After Sex).
; dropped

{'artist_name': 'Cigarettes After Sex'}
2025-05-14 15:05:41,578 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,578 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,578 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,579 INFO sqlalchemy.engine.Engine [cached since 0.4458s ago] {'artist_name': 'Shubh'}

Row 155: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Shubh).
; dropped

{'artist_name': 'Shubh'}
2025-05-14 15:05:41,579 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,580 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,580 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,580 INFO sqlalchemy.engine.Engine [cached since 0.4475s ago] {'artist_name': 'Frank Ocean'}

Row 156: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Frank Ocean).
; dropped

{'artist_name': 'Frank Ocean'}
2025-05-14 15:05:41,582 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,582 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,583 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,583 INFO sqlalchemy.engine.Engine [cached since 0.4503s ago] {'artist_name': 'Bruno Mars'}

Row 157: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bruno Mars).
; dropped

{'artist_name': 'Bruno Mars'}
2025-05-14 15:05:41,584 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,584 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,585 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,585 INFO sqlalchemy.engine.Engine [cached since 0.4521s ago] {'artist_name': 'Hozier'}

Row 158: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Hozier).
; dropped

{'artist_name': 'Hozier'}
2025-05-14 15:05:41,586 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,586 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,586 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,587 INFO sqlalchemy.engine.Engine [cached since 0.4537s ago] {'artist_name': 'Fuerza Regida, Grupo Frontera'}

Row 159: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Fuerza Regida, Grupo Frontera).
; dropped

{'artist_name': 'Fuerza Regida, Grupo Frontera'}
2025-05-14 15:05:41,587 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,588 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,588 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,589 INFO sqlalchemy.engine.Engine [cached since 0.4558s ago] {'artist_name': 'Taylor Swift'}

Row 160: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:41,590 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,590 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,591 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,591 INFO sqlalchemy.engine.Engine [cached since 0.4581s ago] {'artist_name': 'Bad Bunny'}

Row 161: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny).
; dropped

{'artist_name': 'Bad Bunny'}
2025-05-14 15:05:41,592 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,592 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,593 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,593 INFO sqlalchemy.engine.Engine [cached since 0.4603s ago] {'artist_name': 'Taylor Swift'}

Row 162: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:41,595 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,596 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,596 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,596 INFO sqlalchemy.engine.Engine [cached since 0.4636s ago] {'artist_name': 'Hotel Ugly'}

Row 163: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Hotel Ugly).
; dropped

{'artist_name': 'Hotel Ugly'}
2025-05-14 15:05:41,597 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,598 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,598 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,598 INFO sqlalchemy.engine.Engine [cached since 0.4655s ago] {'artist_name': 'Plan B'}

Row 164: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Plan B).
; dropped

{'artist_name': 'Plan B'}
2025-05-14 15:05:41,599 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,600 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,600 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,601 INFO sqlalchemy.engine.Engine [cached since 0.4678s ago] {'artist_name': 'Feid, Mora, Saiko, Quevedo'}

Row 165: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Feid, Mora, Saiko, Quevedo).
; dropped

{'artist_name': 'Feid, Mora, Saiko, Quevedo'}
2025-05-14 15:05:41,602 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,602 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,602 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,603 INFO sqlalchemy.engine.Engine [cached since 0.4699s ago] {'artist_name': 'NewJeans'}

Row 166: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, NewJeans).
; dropped

{'artist_name': 'NewJeans'}
2025-05-14 15:05:41,604 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,604 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,605 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,605 INFO sqlalchemy.engine.Engine [cached since 0.4721s ago] {'artist_name': 'a-ha'}

Row 167: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, a-ha).
; dropped

{'artist_name': 'a-ha'}
2025-05-14 15:05:41,606 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,606 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,607 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,607 INFO sqlalchemy.engine.Engine [cached since 0.4739s ago] {'artist_name': 'Swae Lee, Lil Wayne, Offset, Metro Boomin'}

Row 168: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Swae Lee, Lil Wayne, Offset, Metro Boomin).
; dropped

{'artist_name': 'Swae Lee, Lil Wayne, Offset, Metro Boomin'}
2025-05-14 15:05:41,608 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,608 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,608 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,609 INFO sqlalchemy.engine.Engine [cached since 0.4758s ago] {'artist_name': 'Kodak Black, NLE Choppa, Muni Long, JVKE, Jimin'}

Row 169: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kodak Black, NLE Choppa, Muni Long, JVKE, Jimin).
; dropped

{'artist_name': 'Kodak Black, NLE Choppa, Muni Long, JVKE, Jimin'}
2025-05-14 15:05:41,610 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,610 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,611 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,611 INFO sqlalchemy.engine.Engine [cached since 0.478s ago] {'artist_name': 'Shakira'}

Row 170: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Shakira).
; dropped

{'artist_name': 'Shakira'}
2025-05-14 15:05:41,612 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,612 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,613 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,613 INFO sqlalchemy.engine.Engine [cached since 0.4799s ago] {'artist_name': 'Natanael Cano, Gabito Ballesteros, Peso Pluma'}

Row 171: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Natanael Cano, Gabito Ballesteros, Peso Pluma).
; dropped

{'artist_name': 'Natanael Cano, Gabito Ballesteros, Peso Pluma'}
2025-05-14 15:05:41,614 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,614 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,615 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,615 INFO sqlalchemy.engine.Engine [cached since 0.4822s ago] {'artist_name': 'Arijit Singh, Sachin-Jigar, Amitabha Bhattacharya'}

Row 172: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Arijit Singh, Sachin-Jigar, Amitabha Bhattacharya).
; dropped

{'artist_name': 'Arijit Singh, Sachin-Jigar, Amitabha Bhattacharya'}
2025-05-14 15:05:41,616 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,616 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,617 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,617 INFO sqlalchemy.engine.Engine [cached since 0.4843s ago] {'artist_name': 'Stray Kids'}

Row 173: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Stray Kids).
; dropped

{'artist_name': 'Stray Kids'}
2025-05-14 15:05:41,618 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,619 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,619 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,619 INFO sqlalchemy.engine.Engine [cached since 0.4863s ago] {'artist_name': 'Taylor Swift'}

Row 174: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:41,620 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,620 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,621 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,621 INFO sqlalchemy.engine.Engine [cached since 0.4882s ago] {'artist_name': 'Becky G, Peso Pluma'}

Row 175: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Becky G, Peso Pluma).
; dropped

{'artist_name': 'Becky G, Peso Pluma'}
2025-05-14 15:05:41,622 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,623 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,623 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,623 INFO sqlalchemy.engine.Engine [cached since 0.4906s ago] {'artist_name': 'Metro Boomin, Coi Leray'}

Row 176: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Metro Boomin, Coi Leray).
; dropped

{'artist_name': 'Metro Boomin, Coi Leray'}
2025-05-14 15:05:41,625 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,626 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,626 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,626 INFO sqlalchemy.engine.Engine [cached since 0.4936s ago] {'artist_name': 'Kaliii, Kaliii'}

Row 177: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kaliii, Kaliii).
; dropped

{'artist_name': 'Kaliii, Kaliii'}
2025-05-14 15:05:41,627 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,628 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,628 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,628 INFO sqlalchemy.engine.Engine [cached since 0.4954s ago] {'artist_name': 'Junior H, Eden Muï¿½ï'}

Row 178: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Junior H, Eden Muï¿½ï).
; dropped

{'artist_name': 'Junior H, Eden Muï¿½ï'}
2025-05-14 15:05:41,630 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,630 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,631 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,631 INFO sqlalchemy.engine.Engine [cached since 0.4981s ago] {'artist_name': 'Abhijay Sharma, Riar Saab'}

Row 179: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Abhijay Sharma, Riar Saab).
; dropped

{'artist_name': 'Abhijay Sharma, Riar Saab'}
2025-05-14 15:05:41,633 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,633 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,633 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,634 INFO sqlalchemy.engine.Engine [cached since 0.5008s ago] {'artist_name': 'Semicenk, Doï¿½ï¿½u '}

Row 180: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Semicenk, Doï¿½ï¿½u ).
; dropped

{'artist_name': 'Semicenk, Doï¿½ï¿½u '}
2025-05-14 15:05:41,636 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,636 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,637 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,637 INFO sqlalchemy.engine.Engine [cached since 0.5042s ago] {'artist_name': 'JISOO'}

Row 181: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, JISOO).
; dropped

{'artist_name': 'JISOO'}
2025-05-14 15:05:41,639 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,640 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,640 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,640 INFO sqlalchemy.engine.Engine [cached since 0.5073s ago] {'artist_name': 'Future, Lil Uzi Vert, Metro Boomin'}

Row 182: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Future, Lil Uzi Vert, Metro Boomin).
; dropped

{'artist_name': 'Future, Lil Uzi Vert, Metro Boomin'}
2025-05-14 15:05:41,642 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,642 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,643 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,643 INFO sqlalchemy.engine.Engine [cached since 0.5101s ago] {'artist_name': 'Ed Sheeran'}

Row 183: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ed Sheeran).
; dropped

{'artist_name': 'Ed Sheeran'}
2025-05-14 15:05:41,645 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,646 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,647 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,647 INFO sqlalchemy.engine.Engine [cached since 0.5141s ago] {'artist_name': 'RAYE, 070 Shake'}

Row 184: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, RAYE, 070 Shake).
; dropped

{'artist_name': 'RAYE, 070 Shake'}
2025-05-14 15:05:41,648 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,649 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,649 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,649 INFO sqlalchemy.engine.Engine [cached since 0.5165s ago] {'artist_name': 'Arcangel, Bad Bunny'}

Row 185: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Arcangel, Bad Bunny).
; dropped

{'artist_name': 'Arcangel, Bad Bunny'}
2025-05-14 15:05:41,651 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,651 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,652 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,652 INFO sqlalchemy.engine.Engine [cached since 0.519s ago] {'artist_name': 'Taylor Swift, Ice Spice'}

Row 186: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift, Ice Spice).
; dropped

{'artist_name': 'Taylor Swift, Ice Spice'}
2025-05-14 15:05:41,653 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,653 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,654 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,654 INFO sqlalchemy.engine.Engine [cached since 0.5209s ago] {'artist_name': 'Future, Chris Brown, Metro Boomin'}

Row 187: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Future, Chris Brown, Metro Boomin).
; dropped

{'artist_name': 'Future, Chris Brown, Metro Boomin'}
2025-05-14 15:05:41,655 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,655 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,655 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,656 INFO sqlalchemy.engine.Engine [cached since 0.5229s ago] {'artist_name': 'BLESSD, Peso Pluma'}

Row 188: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, BLESSD, Peso Pluma).
; dropped

{'artist_name': 'BLESSD, Peso Pluma'}
2025-05-14 15:05:41,657 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,657 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,658 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,658 INFO sqlalchemy.engine.Engine [cached since 0.5249s ago] {'artist_name': 'Feid'}

Row 189: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Feid).
; dropped

{'artist_name': 'Feid'}
2025-05-14 15:05:41,659 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,660 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,660 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,660 INFO sqlalchemy.engine.Engine [cached since 0.5276s ago] {'artist_name': 'Fuerza Regida, Natanael Cano'}

Row 190: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Fuerza Regida, Natanael Cano).
; dropped

{'artist_name': 'Fuerza Regida, Natanael Cano'}
2025-05-14 15:05:41,661 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,662 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,662 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,663 INFO sqlalchemy.engine.Engine [cached since 0.5298s ago] {'artist_name': 'Lana Del Rey, Taylor Swift'}

Row 191: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lana Del Rey, Taylor Swift).
; dropped

{'artist_name': 'Lana Del Rey, Taylor Swift'}
2025-05-14 15:05:41,664 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,664 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,664 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,665 INFO sqlalchemy.engine.Engine [cached since 0.5317s ago] {'artist_name': 'Coi Leray'}

Row 192: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Coi Leray).
; dropped

{'artist_name': 'Coi Leray'}
2025-05-14 15:05:41,665 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,666 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,666 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,667 INFO sqlalchemy.engine.Engine [cached since 0.5338s ago] {'artist_name': 'ENHYPEN'}

Row 193: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, ENHYPEN).
; dropped

{'artist_name': 'ENHYPEN'}
2025-05-14 15:05:41,668 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,668 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,669 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,669 INFO sqlalchemy.engine.Engine [cached since 0.536s ago] {'artist_name': 'Lil Durk, Morgan Wallen'}

Row 194: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lil Durk, Morgan Wallen).
; dropped

{'artist_name': 'Lil Durk, Morgan Wallen'}
2025-05-14 15:05:41,670 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,670 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,670 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,671 INFO sqlalchemy.engine.Engine [cached since 0.538s ago] {'artist_name': 'Feid'}

Row 195: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Feid).
; dropped

{'artist_name': 'Feid'}
2025-05-14 15:05:41,673 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,674 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,674 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,674 INFO sqlalchemy.engine.Engine [cached since 0.5414s ago] {'artist_name': 'James Blake, Metro Boomin'}

Row 196: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, James Blake, Metro Boomin).
; dropped

{'artist_name': 'James Blake, Metro Boomin'}
2025-05-14 15:05:41,676 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,676 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,677 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,677 INFO sqlalchemy.engine.Engine [cached since 0.5442s ago] {'artist_name': 'Israel & Rodolffo, Mari Fernandez'}

Row 197: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Israel & Rodolffo, Mari Fernandez).
; dropped

{'artist_name': 'Israel & Rodolffo, Mari Fernandez'}
2025-05-14 15:05:41,678 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,678 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,679 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,680 INFO sqlalchemy.engine.Engine [cached since 0.5467s ago] {'artist_name': 'Steve Lacy'}

Row 198: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Steve Lacy).
; dropped

{'artist_name': 'Steve Lacy'}
2025-05-14 15:05:41,681 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,681 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,682 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,682 INFO sqlalchemy.engine.Engine [cached since 0.5492s ago] {'artist_name': 'Beyoncï¿'}
{'artist_name': 'Beyoncï¿'}

Row 199: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Beyoncï¿).
; dropped

2025-05-14 15:05:41,684 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,685 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,685 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,685 INFO sqlalchemy.engine.Engine [cached since 0.5524s ago] {'artist_name': 'Halsey, Suga'}

Row 200: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Halsey, Suga).
; dropped

{'artist_name': 'Halsey, Suga'}
2025-05-14 15:05:41,686 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,687 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,687 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,688 INFO sqlalchemy.engine.Engine [cached since 0.5549s ago] {'artist_name': 'Nicky Jam, Feid'}

Row 201: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Nicky Jam, Feid).
; dropped

{'artist_name': 'Nicky Jam, Feid'}
2025-05-14 15:05:41,689 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,690 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,691 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,691 INFO sqlalchemy.engine.Engine [cached since 0.5584s ago] {'artist_name': 'Sean Paul, Feid'}

Row 202: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Sean Paul, Feid).
; dropped

{'artist_name': 'Sean Paul, Feid'}
2025-05-14 15:05:41,693 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,694 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,695 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,696 INFO sqlalchemy.engine.Engine [cached since 0.5628s ago] {'artist_name': 'Drake'}
{'artist_name': 'Drake'}

Row 203: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Drake).
; dropped

2025-05-14 15:05:41,698 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,699 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,700 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,700 INFO sqlalchemy.engine.Engine [cached since 0.5674s ago] {'artist_name': 'Kendrick Lamar, Beyoncï¿'}

Row 204: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar, Beyoncï¿).
; dropped

{'artist_name': 'Kendrick Lamar, Beyoncï¿'}
2025-05-14 15:05:41,702 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,704 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,712 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,715 INFO sqlalchemy.engine.Engine [cached since 0.5825s ago] {'artist_name': 'Taylor Swift'}
{'artist_name': 'Taylor Swift'}

Row 205: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

2025-05-14 15:05:41,751 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,772 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,778 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,779 INFO sqlalchemy.engine.Engine [cached since 0.646s ago] {'artist_name': 'WizKid, Toian, Metro Boomin, Don Toliver, Beam'}
{'artist_name': 'WizKid, Toian, Metro Boomin, Don Toliver, Beam'}

Row 206: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, WizKid, Toian, Metro Boomin, Don Toliver, Beam).
; dropped

2025-05-14 15:05:41,782 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,804 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,807 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,807 INFO sqlalchemy.engine.Engine [cached since 0.6744s ago] {'artist_name': 'Bad Bunny'}

Row 207: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny).
; dropped

{'artist_name': 'Bad Bunny'}
2025-05-14 15:05:41,812 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,813 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,815 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,816 INFO sqlalchemy.engine.Engine [cached since 0.6837s ago] {'artist_name': 'Simone Mendes'}

Row 208: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Simone Mendes).
; dropped

{'artist_name': 'Simone Mendes'}
2025-05-14 15:05:41,821 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,827 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,830 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,833 INFO sqlalchemy.engine.Engine [cached since 0.7002s ago] {'artist_name': 'Tini'}
{'artist_name': 'Tini'}

Row 209: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Tini).
; dropped

2025-05-14 15:05:41,839 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,841 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,842 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,842 INFO sqlalchemy.engine.Engine [cached since 0.7092s ago] {'artist_name': 'Lil Uzi Vert'}

Row 210: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lil Uzi Vert).
; dropped

{'artist_name': 'Lil Uzi Vert'}
2025-05-14 15:05:41,844 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,844 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,845 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,845 INFO sqlalchemy.engine.Engine [cached since 0.7125s ago] {'artist_name': 'Stephen Sanchez'}

Row 211: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Stephen Sanchez).
; dropped

{'artist_name': 'Stephen Sanchez'}
2025-05-14 15:05:41,847 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,848 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,848 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,849 INFO sqlalchemy.engine.Engine [cached since 0.7159s ago] {'artist_name': 'Drake, 21 Savage'}

Row 212: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Drake, 21 Savage).
; dropped

{'artist_name': 'Drake, 21 Savage'}
2025-05-14 15:05:41,850 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,852 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,852 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,853 INFO sqlalchemy.engine.Engine [cached since 0.7197s ago] {'artist_name': 'Adele'}

Row 213: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Adele).
; dropped

{'artist_name': 'Adele'}
2025-05-14 15:05:41,855 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,856 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,856 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,856 INFO sqlalchemy.engine.Engine [cached since 0.7236s ago] {'artist_name': 'MC Caverinha, KayBlack'}

Row 214: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, MC Caverinha, KayBlack).
; dropped

{'artist_name': 'MC Caverinha, KayBlack'}
2025-05-14 15:05:41,857 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,858 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,859 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,860 INFO sqlalchemy.engine.Engine [cached since 0.7269s ago] {'artist_name': 'Offset, JID'}

Row 215: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Offset, JID).
; dropped

{'artist_name': 'Offset, JID'}
2025-05-14 15:05:41,861 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,861 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,862 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,862 INFO sqlalchemy.engine.Engine [cached since 0.7292s ago] {'artist_name': 'Zï¿½ï¿½ Neto & Crist'}

Row 216: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Zï¿½ï¿½ Neto & Crist).
; dropped

{'artist_name': 'Zï¿½ï¿½ Neto & Crist'}
2025-05-14 15:05:41,863 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,864 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,864 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,865 INFO sqlalchemy.engine.Engine [cached since 0.7319s ago] {'artist_name': 'Eminem'}

Row 217: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Eminem).
; dropped

{'artist_name': 'Eminem'}
2025-05-14 15:05:41,866 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,866 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,867 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,867 INFO sqlalchemy.engine.Engine [cached since 0.7343s ago] {'artist_name': 'Migrantes, LiL CaKe, Nico Valdi'}

Row 218: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Migrantes, LiL CaKe, Nico Valdi).
; dropped

{'artist_name': 'Migrantes, LiL CaKe, Nico Valdi'}
2025-05-14 15:05:41,869 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,869 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,870 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,870 INFO sqlalchemy.engine.Engine [cached since 0.7373s ago] {'artist_name': 'Tory Lanez'}

Row 219: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Tory Lanez).
; dropped

{'artist_name': 'Tory Lanez'}
2025-05-14 15:05:41,872 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,872 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,873 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,873 INFO sqlalchemy.engine.Engine [cached since 0.74s ago] {'artist_name': 'Joji'}

Row 220: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Joji).
; dropped

{'artist_name': 'Joji'}
2025-05-14 15:05:41,874 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,874 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,875 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,875 INFO sqlalchemy.engine.Engine [cached since 0.7423s ago] {'artist_name': 'Mambo Kingz, DJ Luian, Anuel Aa'}

Row 221: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Mambo Kingz, DJ Luian, Anuel Aa).
; dropped

{'artist_name': 'Mambo Kingz, DJ Luian, Anuel Aa'}
2025-05-14 15:05:41,876 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,877 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,877 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,877 INFO sqlalchemy.engine.Engine [cached since 0.7446s ago] {'artist_name': 'Ed Sheeran'}
{'artist_name': 'Ed Sheeran'}

Row 222: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ed Sheeran).
; dropped

2025-05-14 15:05:41,879 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,879 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,880 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,880 INFO sqlalchemy.engine.Engine [cached since 0.7473s ago] {'artist_name': 'Nile Rodgers, LE SSERAFIM'}

Row 223: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Nile Rodgers, LE SSERAFIM).
; dropped

{'artist_name': 'Nile Rodgers, LE SSERAFIM'}
2025-05-14 15:05:41,881 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,882 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,882 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,883 INFO sqlalchemy.engine.Engine [cached since 0.7498s ago] {'artist_name': 'Agust D'}

Row 224: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Agust D).
; dropped

{'artist_name': 'Agust D'}
2025-05-14 15:05:41,884 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,885 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,886 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,886 INFO sqlalchemy.engine.Engine [cached since 0.7531s ago] {'artist_name': 'Rich The Kid, Matuï¿'}

Row 225: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Rich The Kid, Matuï¿).
; dropped

{'artist_name': 'Rich The Kid, Matuï¿'}
2025-05-14 15:05:41,887 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,888 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,890 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,890 INFO sqlalchemy.engine.Engine [cached since 0.7573s ago] {'artist_name': 'Labrinth'}

Row 226: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Labrinth).
; dropped

{'artist_name': 'Labrinth'}
2025-05-14 15:05:41,892 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,893 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,894 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,894 INFO sqlalchemy.engine.Engine [cached since 0.7612s ago] {'artist_name': 'Karol G, Romeo Santos'}

Row 227: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Karol G, Romeo Santos).
; dropped

{'artist_name': 'Karol G, Romeo Santos'}
2025-05-14 15:05:41,895 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,896 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,896 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,897 INFO sqlalchemy.engine.Engine [cached since 0.764s ago] {'artist_name': 'Lizzy McAlpine'}

Row 228: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lizzy McAlpine).
; dropped

{'artist_name': 'Lizzy McAlpine'}
2025-05-14 15:05:41,898 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,899 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,899 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,900 INFO sqlalchemy.engine.Engine [cached since 0.767s ago] {'artist_name': 'Fifty Fifty'}

Row 229: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Fifty Fifty).
; dropped

{'artist_name': 'Fifty Fifty'}
2025-05-14 15:05:41,902 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,903 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,903 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,904 INFO sqlalchemy.engine.Engine [cached since 0.7707s ago] {'artist_name': 'IVE'}

Row 230: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, IVE).
; dropped

{'artist_name': 'IVE'}
2025-05-14 15:05:41,906 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,907 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,907 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,908 INFO sqlalchemy.engine.Engine [cached since 0.7748s ago] {'artist_name': 'sped up 8282'}

Row 231: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, sped up 8282).
; dropped

{'artist_name': 'sped up 8282'}
2025-05-14 15:05:41,910 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,910 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,911 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,911 INFO sqlalchemy.engine.Engine [cached since 0.7784s ago] {'artist_name': 'Cartel De Santa, La Kelly'}
{'artist_name': 'Cartel De Santa, La Kelly'}

Row 232: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Cartel De Santa, La Kelly).
; dropped

2025-05-14 15:05:41,913 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,915 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,915 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,916 INFO sqlalchemy.engine.Engine [cached since 0.7832s ago] {'artist_name': 'SEVENTEEN'}

Row 233: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SEVENTEEN).
; dropped

{'artist_name': 'SEVENTEEN'}
2025-05-14 15:05:41,918 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,918 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,919 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,919 INFO sqlalchemy.engine.Engine [cached since 0.7864s ago] {'artist_name': 'NLE Choppa'}

Row 234: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, NLE Choppa).
; dropped

{'artist_name': 'NLE Choppa'}
2025-05-14 15:05:41,921 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,921 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,922 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,922 INFO sqlalchemy.engine.Engine [cached since 0.7893s ago] {'artist_name': 'The Weeknd, Future'}

Row 235: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd, Future).
; dropped

{'artist_name': 'The Weeknd, Future'}
2025-05-14 15:05:41,925 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,926 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,926 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,926 INFO sqlalchemy.engine.Engine [cached since 0.7936s ago] {'artist_name': 'Taylor Swift'}

Row 236: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:41,928 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,928 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,929 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,929 INFO sqlalchemy.engine.Engine [cached since 0.7962s ago] {'artist_name': 'Karol G'}

Row 237: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Karol G).
; dropped

{'artist_name': 'Karol G'}
2025-05-14 15:05:41,930 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,931 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,932 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,932 INFO sqlalchemy.engine.Engine [cached since 0.7991s ago] {'artist_name': 'Nicki Minaj, Ice Spice'}

Row 238: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Nicki Minaj, Ice Spice).
; dropped

{'artist_name': 'Nicki Minaj, Ice Spice'}
2025-05-14 15:05:41,933 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,935 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,936 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,937 INFO sqlalchemy.engine.Engine [cached since 0.8045s ago] {'artist_name': 'Grupo Marca Registrada, Grupo Frontera'}

Row 239: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Grupo Marca Registrada, Grupo Frontera).
; dropped

{'artist_name': 'Grupo Marca Registrada, Grupo Frontera'}
2025-05-14 15:05:41,940 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,941 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,942 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,942 INFO sqlalchemy.engine.Engine [cached since 0.8089s ago] {'artist_name': 'Fuerza Regida, Peso Pluma'}

Row 240: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Fuerza Regida, Peso Pluma).
; dropped

{'artist_name': 'Fuerza Regida, Peso Pluma'}
2025-05-14 15:05:41,943 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,943 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,944 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,944 INFO sqlalchemy.engine.Engine [cached since 0.8114s ago] {'artist_name': 'TAEYANG, Lisa'}

Row 241: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, TAEYANG, Lisa).
; dropped

{'artist_name': 'TAEYANG, Lisa'}
2025-05-14 15:05:41,945 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,946 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,946 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,947 INFO sqlalchemy.engine.Engine [cached since 0.8138s ago] {'artist_name': 'Raim Laode'}

Row 242: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Raim Laode).
; dropped

{'artist_name': 'Raim Laode'}
2025-05-14 15:05:41,948 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,948 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,949 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,949 INFO sqlalchemy.engine.Engine [cached since 0.8161s ago] {'artist_name': 'ROSALï¿½'}

Row 243: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, ROSALï¿½).
; dropped

{'artist_name': 'ROSALï¿½'}
2025-05-14 15:05:41,950 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,950 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,951 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,951 INFO sqlalchemy.engine.Engine [cached since 0.8184s ago] {'artist_name': 'Meghan Trainor'}

Row 244: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Meghan Trainor).
; dropped

{'artist_name': 'Meghan Trainor'}
2025-05-14 15:05:41,952 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,953 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,953 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,953 INFO sqlalchemy.engine.Engine [cached since 0.8206s ago] {'artist_name': 'sped up nightcore, ARIZONATEARS, Lil Uzi Vert'}

Row 245: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, sped up nightcore, ARIZONATEARS, Lil Uzi Vert).
; dropped

{'artist_name': 'sped up nightcore, ARIZONATEARS, Lil Uzi Vert'}
2025-05-14 15:05:41,954 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,955 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,955 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,956 INFO sqlalchemy.engine.Engine [cached since 0.8228s ago] {'artist_name': 'Quevedo'}

Row 246: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Quevedo).
; dropped

{'artist_name': 'Quevedo'}
2025-05-14 15:05:41,956 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,957 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,957 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,958 INFO sqlalchemy.engine.Engine [cached since 0.8248s ago] {'artist_name': 'TV Girl'}

Row 247: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, TV Girl).
; dropped

{'artist_name': 'TV Girl'}
2025-05-14 15:05:41,959 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,959 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,960 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,960 INFO sqlalchemy.engine.Engine [cached since 0.8273s ago] {'artist_name': 'INTERWORLD'}

Row 248: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, INTERWORLD).
; dropped

{'artist_name': 'INTERWORLD'}
2025-05-14 15:05:41,961 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,962 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,962 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,962 INFO sqlalchemy.engine.Engine [cached since 0.8296s ago] {'artist_name': 'Quevedo, Jhayco'}

Row 249: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Quevedo, Jhayco).
; dropped

{'artist_name': 'Quevedo, Jhayco'}
2025-05-14 15:05:41,963 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,964 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,965 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,965 INFO sqlalchemy.engine.Engine [cached since 0.8322s ago] {'artist_name': 'El Chachito, Junior H'}

Row 250: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, El Chachito, Junior H).
; dropped

{'artist_name': 'El Chachito, Junior H'}
2025-05-14 15:05:41,966 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,967 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,967 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,967 INFO sqlalchemy.engine.Engine [cached since 0.8345s ago] {'artist_name': 'The Weeknd, Gesaffelstein'}

Row 251: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd, Gesaffelstein).
; dropped

{'artist_name': 'The Weeknd, Gesaffelstein'}
2025-05-14 15:05:41,969 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,970 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,970 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,970 INFO sqlalchemy.engine.Engine [cached since 0.8376s ago] {'artist_name': 'RM, Colde'}

Row 252: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, RM, Colde).
; dropped

{'artist_name': 'RM, Colde'}
2025-05-14 15:05:41,972 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,972 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,973 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,973 INFO sqlalchemy.engine.Engine [cached since 0.8401s ago] {'artist_name': 'Nengo Flow, Bad Bunny'}

Row 253: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Nengo Flow, Bad Bunny).
; dropped

{'artist_name': 'Nengo Flow, Bad Bunny'}
2025-05-14 15:05:41,974 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,974 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,975 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,975 INFO sqlalchemy.engine.Engine [cached since 0.8422s ago] {'artist_name': 'The Weeknd'}

Row 254: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd).
; dropped

{'artist_name': 'The Weeknd'}
2025-05-14 15:05:41,976 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,976 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,977 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,977 INFO sqlalchemy.engine.Engine [cached since 0.8445s ago] {'artist_name': 'Jimin'}

Row 255: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Jimin).
; dropped

{'artist_name': 'Jimin'}
2025-05-14 15:05:41,978 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,979 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,979 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,979 INFO sqlalchemy.engine.Engine [cached since 0.8464s ago] {'artist_name': 'Jasiel Nuï¿½ï¿½ez, Peso P'}

Row 256: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Jasiel Nuï¿½ï¿½ez, Peso P).
; dropped

{'artist_name': 'Jasiel Nuï¿½ï¿½ez, Peso P'}
2025-05-14 15:05:41,980 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,981 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,981 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,981 INFO sqlalchemy.engine.Engine [cached since 0.8483s ago] {'artist_name': 'Nicky Youre, Dazy'}

Row 257: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Nicky Youre, Dazy).
; dropped

{'artist_name': 'Nicky Youre, Dazy'}
2025-05-14 15:05:41,982 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,982 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,983 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,983 INFO sqlalchemy.engine.Engine [cached since 0.8501s ago] {'artist_name': 'Eminem'}

Row 258: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Eminem).
; dropped

{'artist_name': 'Eminem'}
2025-05-14 15:05:41,984 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,984 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,985 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,985 INFO sqlalchemy.engine.Engine [cached since 0.8523s ago] {'artist_name': 'Eminem, Dina Rae'}

Row 259: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Eminem, Dina Rae).
; dropped

{'artist_name': 'Eminem, Dina Rae'}
2025-05-14 15:05:41,986 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,986 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,987 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,987 INFO sqlalchemy.engine.Engine [cached since 0.8541s ago] {'artist_name': 'Mambo Kingz, DJ Luian, Anuel Aa'}

Row 260: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Mambo Kingz, DJ Luian, Anuel Aa).
; dropped

{'artist_name': 'Mambo Kingz, DJ Luian, Anuel Aa'}
2025-05-14 15:05:41,988 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,989 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,989 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,989 INFO sqlalchemy.engine.Engine [cached since 0.8565s ago] {'artist_name': 'IU, Agust D'}

Row 261: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, IU, Agust D).
; dropped

{'artist_name': 'IU, Agust D'}
2025-05-14 15:05:41,990 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,991 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,991 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,992 INFO sqlalchemy.engine.Engine [cached since 0.8589s ago] {'artist_name': 'Feid'}

Row 262: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Feid).
; dropped

{'artist_name': 'Feid'}
2025-05-14 15:05:41,993 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,993 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,994 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,994 INFO sqlalchemy.engine.Engine [cached since 0.8611s ago] {'artist_name': 'Arcangel, Bizarrap'}

Row 263: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Arcangel, Bizarrap).
; dropped

{'artist_name': 'Arcangel, Bizarrap'}
2025-05-14 15:05:41,995 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,995 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,996 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,996 INFO sqlalchemy.engine.Engine [cached since 0.8633s ago] {'artist_name': 'Tyler, The Creator'}

Row 264: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Tyler, The Creator).
; dropped

{'artist_name': 'Tyler, The Creator'}
2025-05-14 15:05:41,997 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:41,998 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:41,998 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:41,998 INFO sqlalchemy.engine.Engine [cached since 0.8657s ago] {'artist_name': 'Tiï¿½ï¿½sto, Tate M'}

Row 265: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Tiï¿½ï¿½sto, Tate M).
; dropped

{'artist_name': 'Tiï¿½ï¿½sto, Tate M'}
2025-05-14 15:05:41,999 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,000 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,001 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,001 INFO sqlalchemy.engine.Engine [cached since 0.8681s ago] {'artist_name': 'Tyler, The Creator'}

Row 266: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Tyler, The Creator).
; dropped

{'artist_name': 'Tyler, The Creator'}
2025-05-14 15:05:42,002 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,002 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,003 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,003 INFO sqlalchemy.engine.Engine [cached since 0.8703s ago] {'artist_name': 'NF'}

Row 267: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, NF).
; dropped

{'artist_name': 'NF'}
2025-05-14 15:05:42,004 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,005 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,005 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,005 INFO sqlalchemy.engine.Engine [cached since 0.8726s ago] {'artist_name': 'Yng Lvcas'}

Row 268: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Yng Lvcas).
; dropped

{'artist_name': 'Yng Lvcas'}
2025-05-14 15:05:42,006 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,007 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,007 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,008 INFO sqlalchemy.engine.Engine [cached since 0.8749s ago] {'artist_name': 'Kanii, PR1ISVX'}

Row 269: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kanii, PR1ISVX).
; dropped

{'artist_name': 'Kanii, PR1ISVX'}
2025-05-14 15:05:42,009 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,009 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,010 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,010 INFO sqlalchemy.engine.Engine [cached since 0.8775s ago] {'artist_name': 'Harry Styles'}

Row 270: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Harry Styles).
; dropped

{'artist_name': 'Harry Styles'}
2025-05-14 15:05:42,011 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,012 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,012 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,013 INFO sqlalchemy.engine.Engine [cached since 0.8797s ago] {'artist_name': 'Marï¿½ï¿½lia Mendo'}

Row 271: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Marï¿½ï¿½lia Mendo).
; dropped

{'artist_name': 'Marï¿½ï¿½lia Mendo'}
2025-05-14 15:05:42,014 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,014 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,015 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,015 INFO sqlalchemy.engine.Engine [cached since 0.8823s ago] {'artist_name': 'Zach Bryan'}

Row 272: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Zach Bryan).
; dropped

{'artist_name': 'Zach Bryan'}
2025-05-14 15:05:42,016 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,017 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,017 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,018 INFO sqlalchemy.engine.Engine [cached since 0.8848s ago] {'artist_name': 'Melanie Martinez'}

Row 273: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Melanie Martinez).
; dropped

{'artist_name': 'Melanie Martinez'}
2025-05-14 15:05:42,019 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,020 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,020 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,021 INFO sqlalchemy.engine.Engine [cached since 0.8878s ago] {'artist_name': 'Fuerza Regida, Chino Pacas'}

Row 274: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Fuerza Regida, Chino Pacas).
; dropped

{'artist_name': 'Fuerza Regida, Chino Pacas'}
2025-05-14 15:05:42,022 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,023 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,023 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,023 INFO sqlalchemy.engine.Engine [cached since 0.8904s ago] {'artist_name': 'Mae Stephens'}

Row 275: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Mae Stephens).
; dropped

{'artist_name': 'Mae Stephens'}
2025-05-14 15:05:42,024 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,026 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,026 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,027 INFO sqlalchemy.engine.Engine [cached since 0.8938s ago] {'artist_name': 'Morgan Wallen'}

Row 276: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Morgan Wallen).
; dropped

{'artist_name': 'Morgan Wallen'}
2025-05-14 15:05:42,028 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,028 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,029 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,029 INFO sqlalchemy.engine.Engine [cached since 0.8963s ago] {'artist_name': 'Feid, Mora'}

Row 277: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Feid, Mora).
; dropped

{'artist_name': 'Feid, Mora'}
2025-05-14 15:05:42,030 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,031 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,031 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,032 INFO sqlalchemy.engine.Engine [cached since 0.8989s ago] {'artist_name': 'Kenia OS'}

Row 278: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kenia OS).
; dropped

{'artist_name': 'Kenia OS'}
2025-05-14 15:05:42,033 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,034 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,034 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,034 INFO sqlalchemy.engine.Engine [cached since 0.9016s ago] {'artist_name': 'Kordhell'}

Row 279: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kordhell).
; dropped

{'artist_name': 'Kordhell'}
2025-05-14 15:05:42,035 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,036 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,036 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,036 INFO sqlalchemy.engine.Engine [cached since 0.9036s ago] {'artist_name': 'Karol G, Ovy On The Drums'}

Row 280: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Karol G, Ovy On The Drums).
; dropped

{'artist_name': 'Karol G, Ovy On The Drums'}
2025-05-14 15:05:42,037 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,038 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,038 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,039 INFO sqlalchemy.engine.Engine [cached since 0.9059s ago] {'artist_name': 'The Walters'}

Row 281: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Walters).
; dropped

{'artist_name': 'The Walters'}
2025-05-14 15:05:42,040 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,041 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,041 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,041 INFO sqlalchemy.engine.Engine [cached since 0.9085s ago] {'artist_name': 'Steve Lacy'}

Row 282: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Steve Lacy).
; dropped

{'artist_name': 'Steve Lacy'}
2025-05-14 15:05:42,043 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,043 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,044 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,044 INFO sqlalchemy.engine.Engine [cached since 0.9109s ago] {'artist_name': 'James Arthur'}

Row 283: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, James Arthur).
; dropped

{'artist_name': 'James Arthur'}
2025-05-14 15:05:42,045 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,045 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,045 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,046 INFO sqlalchemy.engine.Engine [cached since 0.9129s ago] {'artist_name': 'Mac DeMarco'}

Row 284: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Mac DeMarco).
; dropped

{'artist_name': 'Mac DeMarco'}
2025-05-14 15:05:42,046 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,047 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,047 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,047 INFO sqlalchemy.engine.Engine [cached since 0.9145s ago] {'artist_name': 'Jack Black'}

Row 285: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Jack Black).
; dropped

{'artist_name': 'Jack Black'}
2025-05-14 15:05:42,048 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,049 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,049 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,049 INFO sqlalchemy.engine.Engine [cached since 0.9165s ago] {'artist_name': 'Duki, NICKI NICOLE, Cris Mj, Standly, Stars Music Chile'}

Row 286: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Duki, NICKI NICOLE, Cris Mj, Standly, Stars Music Chile).
; dropped

{'artist_name': 'Duki, NICKI NICOLE, Cris Mj, Standly, Stars Music Chile'}
2025-05-14 15:05:42,050 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,051 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,051 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,051 INFO sqlalchemy.engine.Engine [cached since 0.9182s ago] {'artist_name': 'Brray, Rauw Alejandro, Lyanno'}

Row 287: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Brray, Rauw Alejandro, Lyanno).
; dropped

{'artist_name': 'Brray, Rauw Alejandro, Lyanno'}
2025-05-14 15:05:42,052 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,052 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,053 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,053 INFO sqlalchemy.engine.Engine [cached since 0.9199s ago] {'artist_name': 'Linkin Park'}

Row 288: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Linkin Park).
; dropped

{'artist_name': 'Linkin Park'}
2025-05-14 15:05:42,054 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,054 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,054 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,055 INFO sqlalchemy.engine.Engine [cached since 0.9218s ago] {'artist_name': 'j-hope, J. Cole'}

Row 289: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, j-hope, J. Cole).
; dropped

{'artist_name': 'j-hope, J. Cole'}
2025-05-14 15:05:42,056 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,056 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,056 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,057 INFO sqlalchemy.engine.Engine [cached since 0.9238s ago] {'artist_name': 'Morgan Wallen'}

Row 290: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Morgan Wallen).
; dropped

{'artist_name': 'Morgan Wallen'}
2025-05-14 15:05:42,057 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,058 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,058 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,058 INFO sqlalchemy.engine.Engine [cached since 0.9256s ago] {'artist_name': 'Robin Schulz, Oliver Tree'}

Row 291: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Robin Schulz, Oliver Tree).
; dropped

{'artist_name': 'Robin Schulz, Oliver Tree'}
2025-05-14 15:05:42,059 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,060 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,060 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,060 INFO sqlalchemy.engine.Engine [cached since 0.9275s ago] {'artist_name': 'Morgan Wallen'}

Row 292: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Morgan Wallen).
; dropped

{'artist_name': 'Morgan Wallen'}
2025-05-14 15:05:42,061 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,062 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,062 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,062 INFO sqlalchemy.engine.Engine [cached since 0.9292s ago] {'artist_name': 'Morgan Wallen'}

Row 293: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Morgan Wallen).
; dropped

{'artist_name': 'Morgan Wallen'}
2025-05-14 15:05:42,063 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,063 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,064 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,064 INFO sqlalchemy.engine.Engine [cached since 0.9311s ago] {'artist_name': 'Don Toliver, Future, Justin Bieber'}

Row 294: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Don Toliver, Future, Justin Bieber).
; dropped

{'artist_name': 'Don Toliver, Future, Justin Bieber'}
2025-05-14 15:05:42,065 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,065 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,066 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,066 INFO sqlalchemy.engine.Engine [cached since 0.933s ago] {'artist_name': 'Morgan Wallen'}

Row 295: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Morgan Wallen).
; dropped

{'artist_name': 'Morgan Wallen'}
2025-05-14 15:05:42,067 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,067 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,068 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,068 INFO sqlalchemy.engine.Engine [cached since 0.9349s ago] {'artist_name': 'Niall Horan'}

Row 296: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Niall Horan).
; dropped

{'artist_name': 'Niall Horan'}
2025-05-14 15:05:42,068 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,069 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,069 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,069 INFO sqlalchemy.engine.Engine [cached since 0.9365s ago] {'artist_name': 'Central Cee'}

Row 297: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Central Cee).
; dropped

{'artist_name': 'Central Cee'}
2025-05-14 15:05:42,070 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,071 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,071 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,071 INFO sqlalchemy.engine.Engine [cached since 0.9384s ago] {'artist_name': 'Mahalini'}

Row 298: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Mahalini).
; dropped

{'artist_name': 'Mahalini'}
2025-05-14 15:05:42,072 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,073 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,073 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,073 INFO sqlalchemy.engine.Engine [cached since 0.9404s ago] {'artist_name': 'Morgan Wallen'}

Row 299: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Morgan Wallen).
; dropped

{'artist_name': 'Morgan Wallen'}
2025-05-14 15:05:42,074 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,075 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,075 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,076 INFO sqlalchemy.engine.Engine [cached since 0.9427s ago] {'artist_name': 'Arijit Singh, Sachin-Jigar'}

Row 300: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Arijit Singh, Sachin-Jigar).
; dropped

{'artist_name': 'Arijit Singh, Sachin-Jigar'}
2025-05-14 15:05:42,076 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,077 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,077 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,078 INFO sqlalchemy.engine.Engine [cached since 0.9448s ago] {'artist_name': 'ThxSoMch'}

Row 301: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, ThxSoMch).
; dropped

{'artist_name': 'ThxSoMch'}
2025-05-14 15:05:42,078 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,079 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,079 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,080 INFO sqlalchemy.engine.Engine [cached since 0.947s ago] {'artist_name': 'Myke Towers, Quevedo'}

Row 302: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Myke Towers, Quevedo).
; dropped

{'artist_name': 'Myke Towers, Quevedo'}
2025-05-14 15:05:42,081 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,081 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,082 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,082 INFO sqlalchemy.engine.Engine [cached since 0.9489s ago] {'artist_name': 'Morgan Wallen, Eric Church'}

Row 303: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Morgan Wallen, Eric Church).
; dropped

{'artist_name': 'Morgan Wallen, Eric Church'}
2025-05-14 15:05:42,083 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,083 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,084 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,084 INFO sqlalchemy.engine.Engine [cached since 0.9513s ago] {'artist_name': 'Nicki Minaj'}

Row 304: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Nicki Minaj).
; dropped

{'artist_name': 'Nicki Minaj'}
2025-05-14 15:05:42,085 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,086 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,086 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,086 INFO sqlalchemy.engine.Engine [cached since 0.9534s ago] {'artist_name': 'Kaifi Khalil'}

Row 305: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kaifi Khalil).
; dropped

{'artist_name': 'Kaifi Khalil'}
2025-05-14 15:05:42,087 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,088 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,088 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,088 INFO sqlalchemy.engine.Engine [cached since 0.9554s ago] {'artist_name': 'SZA'}

Row 306: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SZA).
; dropped

{'artist_name': 'SZA'}
2025-05-14 15:05:42,089 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,090 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,090 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,090 INFO sqlalchemy.engine.Engine [cached since 0.9573s ago] {'artist_name': 'Karol G, Quevedo'}

Row 307: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Karol G, Quevedo).
; dropped

{'artist_name': 'Karol G, Quevedo'}
2025-05-14 15:05:42,091 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,091 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,092 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,092 INFO sqlalchemy.engine.Engine [cached since 0.9593s ago] {'artist_name': 'NewJeans'}

Row 308: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, NewJeans).
; dropped

{'artist_name': 'NewJeans'}
2025-05-14 15:05:42,093 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,093 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,094 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,094 INFO sqlalchemy.engine.Engine [cached since 0.9612s ago] {'artist_name': 'Lady Gaga'}

Row 309: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lady Gaga).
; dropped

{'artist_name': 'Lady Gaga'}
2025-05-14 15:05:42,095 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,095 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,096 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,096 INFO sqlalchemy.engine.Engine [cached since 0.963s ago] {'artist_name': 'Morgan Wallen'}

Row 310: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Morgan Wallen).
; dropped

{'artist_name': 'Morgan Wallen'}
2025-05-14 15:05:42,097 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,097 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,098 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,098 INFO sqlalchemy.engine.Engine [cached since 0.965s ago] {'artist_name': 'Quevedo'}

Row 311: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Quevedo).
; dropped

{'artist_name': 'Quevedo'}
2025-05-14 15:05:42,099 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,099 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,099 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,100 INFO sqlalchemy.engine.Engine [cached since 0.9668s ago] {'artist_name': 'Morgan Wallen'}

Row 312: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Morgan Wallen).
; dropped

{'artist_name': 'Morgan Wallen'}
2025-05-14 15:05:42,101 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,101 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,102 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,102 INFO sqlalchemy.engine.Engine [cached since 0.9691s ago] {'artist_name': 'Linkin Park'}

Row 313: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Linkin Park).
; dropped

{'artist_name': 'Linkin Park'}
2025-05-14 15:05:42,103 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,103 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,104 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,104 INFO sqlalchemy.engine.Engine [cached since 0.9711s ago] {'artist_name': 'Leo Santana'}

Row 314: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Leo Santana).
; dropped

{'artist_name': 'Leo Santana'}
2025-05-14 15:05:42,105 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,105 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,105 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,106 INFO sqlalchemy.engine.Engine [cached since 0.9728s ago] {'artist_name': 'Treyce'}

Row 315: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Treyce).
; dropped

{'artist_name': 'Treyce'}
2025-05-14 15:05:42,107 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,107 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,107 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,107 INFO sqlalchemy.engine.Engine [cached since 0.9746s ago] {'artist_name': 'Post Malone, Doja Cat'}

Row 316: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Post Malone, Doja Cat).
; dropped

{'artist_name': 'Post Malone, Doja Cat'}
2025-05-14 15:05:42,108 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,109 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,109 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,109 INFO sqlalchemy.engine.Engine [cached since 0.9766s ago] {'artist_name': 'Bad Bunny'}

Row 317: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny).
; dropped

{'artist_name': 'Bad Bunny'}
2025-05-14 15:05:42,110 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,111 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,111 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,111 INFO sqlalchemy.engine.Engine [cached since 0.9783s ago] {'artist_name': 'MC Xenon, Os Gemeos da Putaria'}

Row 318: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, MC Xenon, Os Gemeos da Putaria).
; dropped

{'artist_name': 'MC Xenon, Os Gemeos da Putaria'}
2025-05-14 15:05:42,112 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,112 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,113 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,113 INFO sqlalchemy.engine.Engine [cached since 0.9801s ago] {'artist_name': 'Imagine Dragons, League of Legends, JID, Arcane'}

Row 319: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Imagine Dragons, League of Legends, JID, Arcane).
; dropped

{'artist_name': 'Imagine Dragons, League of Legends, JID, Arcane'}
2025-05-14 15:05:42,114 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,114 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,115 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,115 INFO sqlalchemy.engine.Engine [cached since 0.9824s ago] {'artist_name': 'XXXTENTACION'}

Row 320: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, XXXTENTACION).
; dropped

{'artist_name': 'XXXTENTACION'}
2025-05-14 15:05:42,117 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,117 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,117 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,118 INFO sqlalchemy.engine.Engine [cached since 0.985s ago] {'artist_name': 'Israel & Rodolffo, Ana Castela'}

Row 321: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Israel & Rodolffo, Ana Castela).
; dropped

{'artist_name': 'Israel & Rodolffo, Ana Castela'}
2025-05-14 15:05:42,119 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,119 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,120 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,120 INFO sqlalchemy.engine.Engine [cached since 0.9872s ago] {'artist_name': 'J Balvin, Bad Bunny'}

Row 322: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, J Balvin, Bad Bunny).
; dropped

{'artist_name': 'J Balvin, Bad Bunny'}
2025-05-14 15:05:42,122 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,122 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,123 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,123 INFO sqlalchemy.engine.Engine [cached since 0.9899s ago] {'artist_name': 'Yuridia, Angela Aguilar'}

Row 323: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Yuridia, Angela Aguilar).
; dropped

{'artist_name': 'Yuridia, Angela Aguilar'}
2025-05-14 15:05:42,124 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,124 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,124 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,125 INFO sqlalchemy.engine.Engine [cached since 0.992s ago] {'artist_name': 'The Kid Laroi'}

Row 324: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Kid Laroi).
; dropped

{'artist_name': 'The Kid Laroi'}
2025-05-14 15:05:42,126 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,132 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,136 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,143 INFO sqlalchemy.engine.Engine [cached since 1.01s ago] {'artist_name': 'The Weeknd'}
{'artist_name': 'The Weeknd'}

Row 325: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd).
; dropped

2025-05-14 15:05:42,160 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,166 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,174 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,177 INFO sqlalchemy.engine.Engine [cached since 1.044s ago] {'artist_name': 'Lizzo'}
{'artist_name': 'Lizzo'}

Row 326: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lizzo).
; dropped

2025-05-14 15:05:42,189 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,192 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,193 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,193 INFO sqlalchemy.engine.Engine [cached since 1.061s ago] {'artist_name': 'Fujii Kaze'}
{'artist_name': 'Fujii Kaze'}

Row 327: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Fujii Kaze).
; dropped

2025-05-14 15:05:42,215 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,216 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,216 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,217 INFO sqlalchemy.engine.Engine [cached since 1.084s ago] {'artist_name': 'Wisin & Yandel, ROSALï¿½'}

Row 328: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Wisin & Yandel, ROSALï¿½).
; dropped

{'artist_name': 'Wisin & Yandel, ROSALï¿½'}
2025-05-14 15:05:42,218 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,219 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,220 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,220 INFO sqlalchemy.engine.Engine [cached since 1.087s ago] {'artist_name': 'King'}

Row 329: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, King).
; dropped

{'artist_name': 'King'}
2025-05-14 15:05:42,221 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,222 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,223 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,223 INFO sqlalchemy.engine.Engine [cached since 1.09s ago] {'artist_name': 'Bad Bunny'}

Row 330: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny).
; dropped

{'artist_name': 'Bad Bunny'}
2025-05-14 15:05:42,224 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,225 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,225 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,226 INFO sqlalchemy.engine.Engine [cached since 1.093s ago] {'artist_name': 'Coldplay, BTS'}

Row 331: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Coldplay, BTS).
; dropped

{'artist_name': 'Coldplay, BTS'}
2025-05-14 15:05:42,227 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,228 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,228 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,229 INFO sqlalchemy.engine.Engine [cached since 1.096s ago] {'artist_name': 'ROSALï¿½'}

Row 332: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, ROSALï¿½).
; dropped

{'artist_name': 'ROSALï¿½'}
2025-05-14 15:05:42,230 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,230 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,231 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,231 INFO sqlalchemy.engine.Engine [cached since 1.099s ago] {'artist_name': 'P!nk'}

Row 333: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, P!nk).
; dropped

{'artist_name': 'P!nk'}
2025-05-14 15:05:42,233 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,234 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,235 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,235 INFO sqlalchemy.engine.Engine [cached since 1.102s ago] {'artist_name': 'LE SSERAFIM'}

Row 334: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, LE SSERAFIM).
; dropped

{'artist_name': 'LE SSERAFIM'}
2025-05-14 15:05:42,236 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,237 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,237 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,238 INFO sqlalchemy.engine.Engine [cached since 1.105s ago] {'artist_name': 'PinkPantheress'}
{'artist_name': 'PinkPantheress'}

Row 335: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, PinkPantheress).
; dropped

2025-05-14 15:05:42,240 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,241 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,241 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,242 INFO sqlalchemy.engine.Engine [cached since 1.109s ago] {'artist_name': 'SZA'}

Row 336: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SZA).
; dropped

{'artist_name': 'SZA'}
2025-05-14 15:05:42,244 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,244 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,245 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,246 INFO sqlalchemy.engine.Engine [cached since 1.113s ago] {'artist_name': 'Rihanna'}

Row 337: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Rihanna).
; dropped

{'artist_name': 'Rihanna'}
2025-05-14 15:05:42,247 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,248 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,249 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,250 INFO sqlalchemy.engine.Engine [cached since 1.117s ago] {'artist_name': 'Lil Nas X'}
{'artist_name': 'Lil Nas X'}

Row 338: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lil Nas X).
; dropped

2025-05-14 15:05:42,252 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,255 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,258 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,260 INFO sqlalchemy.engine.Engine [cached since 1.127s ago] {'artist_name': 'Beach Weather'}

Row 339: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Beach Weather).
; dropped

{'artist_name': 'Beach Weather'}
2025-05-14 15:05:42,263 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,264 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,266 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,268 INFO sqlalchemy.engine.Engine [cached since 1.135s ago] {'artist_name': 'Halsey, BTS'}
{'artist_name': 'Halsey, BTS'}

Row 340: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Halsey, BTS).
; dropped

2025-05-14 15:05:42,271 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,272 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,275 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,275 INFO sqlalchemy.engine.Engine [cached since 1.142s ago] {'artist_name': 'Baby Tate'}
{'artist_name': 'Baby Tate'}

Row 341: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Baby Tate).
; dropped

2025-05-14 15:05:42,278 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,279 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,279 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,280 INFO sqlalchemy.engine.Engine [cached since 1.147s ago] {'artist_name': 'Arijit Singh, Vishal Dadlani, Sukriti Kakar, Vishal-Shekhar, Shekhar Ravjiani, Kumaar'}
{'artist_name': 'Arijit Singh, Vishal Dadlani, Sukriti Kakar, Vishal-Shekhar, Shekhar Ravjiani, Kumaar'}

Row 342: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Arijit Singh, Vishal Dadlani, Sukriti Kakar, Vishal-Shekhar, She...).
; dropped

2025-05-14 15:05:42,287 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,290 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,290 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,290 INFO sqlalchemy.engine.Engine [cached since 1.158s ago] {'artist_name': 'RAYE, 070 Shake'}

Row 343: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, RAYE, 070 Shake).
; dropped

{'artist_name': 'RAYE, 070 Shake'}
2025-05-14 15:05:42,292 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,293 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,293 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,294 INFO sqlalchemy.engine.Engine [cached since 1.161s ago] {'artist_name': 'Shakira, Rauw Alejandro'}

Row 344: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Shakira, Rauw Alejandro).
; dropped

{'artist_name': 'Shakira, Rauw Alejandro'}
2025-05-14 15:05:42,295 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,295 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,296 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,296 INFO sqlalchemy.engine.Engine [cached since 1.163s ago] {'artist_name': 'Steve Aoki, Tini, La Joaqui'}
{'artist_name': 'Steve Aoki, Tini, La Joaqui'}

Row 345: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Steve Aoki, Tini, La Joaqui).
; dropped

2025-05-14 15:05:42,297 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,298 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,298 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,298 INFO sqlalchemy.engine.Engine [cached since 1.165s ago] {'artist_name': 'Billie Eilish'}

Row 346: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Billie Eilish).
; dropped

{'artist_name': 'Billie Eilish'}
2025-05-14 15:05:42,299 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,300 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,301 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,301 INFO sqlalchemy.engine.Engine [cached since 1.168s ago] {'artist_name': 'Sam Smith'}

Row 347: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Sam Smith).
; dropped

{'artist_name': 'Sam Smith'}
2025-05-14 15:05:42,302 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,302 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,303 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,303 INFO sqlalchemy.engine.Engine [cached since 1.17s ago] {'artist_name': 'Conan Gray'}

Row 348: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Conan Gray).
; dropped

{'artist_name': 'Conan Gray'}
2025-05-14 15:05:42,304 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,305 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,305 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,305 INFO sqlalchemy.engine.Engine [cached since 1.172s ago] {'artist_name': 'Vishal-Shekhar, Shilpa Rao, Caralisa Monteiro, Kumaar, Vishal Dadlani, Shekhar Ravjiani'}

Row 349: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Vishal-Shekhar, Shilpa Rao, Caralisa Monteiro, Kumaar, Vishal Da...).
; dropped

{'artist_name': 'Vishal-Shekhar, Shilpa Rao, Caralisa Monteiro, Kumaar, Vishal Dadlani, Shekhar Ravjiani'}
2025-05-14 15:05:42,306 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,307 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,308 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,308 INFO sqlalchemy.engine.Engine [cached since 1.175s ago] {'artist_name': 'TOMORROW X TOGETHER'}

Row 350: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, TOMORROW X TOGETHER).
; dropped

{'artist_name': 'TOMORROW X TOGETHER'}
2025-05-14 15:05:42,309 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,310 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,310 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,311 INFO sqlalchemy.engine.Engine [cached since 1.178s ago] {'artist_name': 'Drake, Future, Tems'}

Row 351: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Drake, Future, Tems).
; dropped

{'artist_name': 'Drake, Future, Tems'}
2025-05-14 15:05:42,312 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,313 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,313 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,313 INFO sqlalchemy.engine.Engine [cached since 1.18s ago] {'artist_name': 'Dua Lipa'}

Row 352: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Dua Lipa).
; dropped

{'artist_name': 'Dua Lipa'}
2025-05-14 15:05:42,314 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,315 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,316 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,316 INFO sqlalchemy.engine.Engine [cached since 1.183s ago] {'artist_name': 'Mr.Kitty'}

Row 353: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Mr.Kitty).
; dropped

{'artist_name': 'Mr.Kitty'}
2025-05-14 15:05:42,318 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,318 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,319 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,319 INFO sqlalchemy.engine.Engine [cached since 1.186s ago] {'artist_name': 'Elley Duhï¿'}
{'artist_name': 'Elley Duhï¿'}

Row 354: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Elley Duhï¿).
; dropped

2025-05-14 15:05:42,320 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,320 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,320 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,321 INFO sqlalchemy.engine.Engine [cached since 1.188s ago] {'artist_name': 'Seafret'}

Row 355: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Seafret).
; dropped

{'artist_name': 'Seafret'}
2025-05-14 15:05:42,322 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,322 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,322 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,323 INFO sqlalchemy.engine.Engine [cached since 1.19s ago] {'artist_name': 'DJ Escobar, MC MENOR SG, MC MENOR HR'}

Row 356: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, DJ Escobar, MC MENOR SG, MC MENOR HR).
; dropped

{'artist_name': 'DJ Escobar, MC MENOR SG, MC MENOR HR'}
2025-05-14 15:05:42,324 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,325 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,325 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,325 INFO sqlalchemy.engine.Engine [cached since 1.192s ago] {'artist_name': 'Dean Lewis'}

Row 357: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Dean Lewis).
; dropped

{'artist_name': 'Dean Lewis'}
2025-05-14 15:05:42,326 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,327 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,327 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,327 INFO sqlalchemy.engine.Engine [cached since 1.194s ago] {'artist_name': 'SZA'}

Row 358: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SZA).
; dropped

{'artist_name': 'SZA'}
2025-05-14 15:05:42,328 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,329 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,329 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,329 INFO sqlalchemy.engine.Engine [cached since 1.196s ago] {'artist_name': 'Joji'}

Row 359: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Joji).
; dropped

{'artist_name': 'Joji'}
2025-05-14 15:05:42,330 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,331 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,331 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,332 INFO sqlalchemy.engine.Engine [cached since 1.199s ago] {'artist_name': 'Central Cee'}

Row 360: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Central Cee).
; dropped

{'artist_name': 'Central Cee'}
2025-05-14 15:05:42,333 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,333 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,334 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,334 INFO sqlalchemy.engine.Engine [cached since 1.202s ago] {'artist_name': 'Bellakath'}

Row 361: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bellakath).
; dropped

{'artist_name': 'Bellakath'}
2025-05-14 15:05:42,335 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,336 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,336 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,336 INFO sqlalchemy.engine.Engine [cached since 1.204s ago] {'artist_name': 'Skrillex, Flowdan, Fred again..'}

Row 362: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Skrillex, Flowdan, Fred again..).
; dropped

{'artist_name': 'Skrillex, Flowdan, Fred again..'}
2025-05-14 15:05:42,337 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,338 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,338 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,338 INFO sqlalchemy.engine.Engine [cached since 1.205s ago] {'artist_name': 'Travis Scott, 21 Savage, Metro Boomin'}

Row 363: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Travis Scott, 21 Savage, Metro Boomin).
; dropped

{'artist_name': 'Travis Scott, 21 Savage, Metro Boomin'}
2025-05-14 15:05:42,339 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,340 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,340 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,340 INFO sqlalchemy.engine.Engine [cached since 1.207s ago] {'artist_name': 'Bad Bunny'}

Row 364: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny).
; dropped

{'artist_name': 'Bad Bunny'}
2025-05-14 15:05:42,341 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,342 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,342 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,342 INFO sqlalchemy.engine.Engine [cached since 1.21s ago] {'artist_name': 'Nicki Minaj'}

Row 365: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Nicki Minaj).
; dropped

{'artist_name': 'Nicki Minaj'}
2025-05-14 15:05:42,343 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,344 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,344 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,344 INFO sqlalchemy.engine.Engine [cached since 1.212s ago] {'artist_name': 'Kate Bush'}

Row 366: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kate Bush).
; dropped

{'artist_name': 'Kate Bush'}
2025-05-14 15:05:42,346 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,346 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,347 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,347 INFO sqlalchemy.engine.Engine [cached since 1.214s ago] {'artist_name': 'Aerosmith'}

Row 367: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Aerosmith).
; dropped

{'artist_name': 'Aerosmith'}
2025-05-14 15:05:42,348 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,349 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,349 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,350 INFO sqlalchemy.engine.Engine [cached since 1.217s ago] {'artist_name': 'Freddie Dredd'}

Row 368: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Freddie Dredd).
; dropped

{'artist_name': 'Freddie Dredd'}
2025-05-14 15:05:42,350 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,351 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,351 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,351 INFO sqlalchemy.engine.Engine [cached since 1.218s ago] {'artist_name': 'Lost Frequencies, Calum Scott'}

Row 369: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lost Frequencies, Calum Scott).
; dropped

{'artist_name': 'Lost Frequencies, Calum Scott'}
2025-05-14 15:05:42,352 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,353 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,353 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,353 INFO sqlalchemy.engine.Engine [cached since 1.221s ago] {'artist_name': 'Twisted, Oliver Tree'}

Row 370: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Twisted, Oliver Tree).
; dropped

{'artist_name': 'Twisted, Oliver Tree'}
2025-05-14 15:05:42,354 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,354 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,355 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,355 INFO sqlalchemy.engine.Engine [cached since 1.222s ago] {'artist_name': 'Kenshi Yonezu'}

Row 371: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kenshi Yonezu).
; dropped

{'artist_name': 'Kenshi Yonezu'}
2025-05-14 15:05:42,356 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,357 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,357 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,357 INFO sqlalchemy.engine.Engine [cached since 1.224s ago] {'artist_name': 'Omar Apollo'}

Row 372: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Omar Apollo).
; dropped

{'artist_name': 'Omar Apollo'}
2025-05-14 15:05:42,359 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,359 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,360 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,360 INFO sqlalchemy.engine.Engine [cached since 1.227s ago] {'artist_name': 'SZA'}

Row 373: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SZA).
; dropped

{'artist_name': 'SZA'}
2025-05-14 15:05:42,361 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,361 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,362 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,362 INFO sqlalchemy.engine.Engine [cached since 1.229s ago] {'artist_name': 'Dua Lipa, DaBaby'}

Row 374: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Dua Lipa, DaBaby).
; dropped

{'artist_name': 'Dua Lipa, DaBaby'}
2025-05-14 15:05:42,364 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,365 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,365 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,365 INFO sqlalchemy.engine.Engine [cached since 1.233s ago] {'artist_name': 'Hotel Ugly'}

Row 375: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Hotel Ugly).
; dropped

{'artist_name': 'Hotel Ugly'}
2025-05-14 15:05:42,366 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,367 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,367 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,367 INFO sqlalchemy.engine.Engine [cached since 1.235s ago] {'artist_name': 'James Hype, Miggy Dela Rosa'}

Row 376: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, James Hype, Miggy Dela Rosa).
; dropped

{'artist_name': 'James Hype, Miggy Dela Rosa'}
2025-05-14 15:05:42,368 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,369 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,369 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,369 INFO sqlalchemy.engine.Engine [cached since 1.237s ago] {'artist_name': 'Taylor Swift'}

Row 377: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:42,371 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,371 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,371 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,372 INFO sqlalchemy.engine.Engine [cached since 1.239s ago] {'artist_name': 'Styrx, utku INC, Thezth'}

Row 378: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Styrx, utku INC, Thezth).
; dropped

{'artist_name': 'Styrx, utku INC, Thezth'}
2025-05-14 15:05:42,373 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,373 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,374 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,374 INFO sqlalchemy.engine.Engine [cached since 1.241s ago] {'artist_name': 'Michael Bublï¿'}

Row 379: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Michael Bublï¿).
; dropped

{'artist_name': 'Michael Bublï¿'}
2025-05-14 15:05:42,375 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,375 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,376 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,376 INFO sqlalchemy.engine.Engine [cached since 1.243s ago] {'artist_name': 'Andy Williams'}

Row 380: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Andy Williams).
; dropped

{'artist_name': 'Andy Williams'}
2025-05-14 15:05:42,377 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,377 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,378 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,378 INFO sqlalchemy.engine.Engine [cached since 1.245s ago] {'artist_name': 'Dean Martin'}

Row 381: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Dean Martin).
; dropped

{'artist_name': 'Dean Martin'}
2025-05-14 15:05:42,379 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,379 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,379 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,380 INFO sqlalchemy.engine.Engine [cached since 1.247s ago] {'artist_name': 'Kelly Clarkson'}

Row 382: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kelly Clarkson).
; dropped

{'artist_name': 'Kelly Clarkson'}
2025-05-14 15:05:42,380 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,381 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,381 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,381 INFO sqlalchemy.engine.Engine [cached since 1.249s ago] {'artist_name': 'Josï¿½ï¿½ Felic'}

Row 383: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Josï¿½ï¿½ Felic).
; dropped

{'artist_name': 'Josï¿½ï¿½ Felic'}
2025-05-14 15:05:42,382 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,383 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,383 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,383 INFO sqlalchemy.engine.Engine [cached since 1.25s ago] {'artist_name': 'Michael Bublï¿'}

Row 384: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Michael Bublï¿).
; dropped

{'artist_name': 'Michael Bublï¿'}
2025-05-14 15:05:42,384 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,385 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,385 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,385 INFO sqlalchemy.engine.Engine [cached since 1.252s ago] {'artist_name': 'Justin Bieber'}

Row 385: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Justin Bieber).
; dropped

{'artist_name': 'Justin Bieber'}
2025-05-14 15:05:42,386 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,386 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,387 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,387 INFO sqlalchemy.engine.Engine [cached since 1.254s ago] {'artist_name': 'The Ronettes'}

Row 386: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Ronettes).
; dropped

{'artist_name': 'The Ronettes'}
2025-05-14 15:05:42,388 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,389 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,389 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,389 INFO sqlalchemy.engine.Engine [cached since 1.256s ago] {'artist_name': 'SZA'}

Row 387: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SZA).
; dropped

{'artist_name': 'SZA'}
2025-05-14 15:05:42,390 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,391 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,392 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,392 INFO sqlalchemy.engine.Engine [cached since 1.259s ago] {'artist_name': 'SZA'}

Row 388: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SZA).
; dropped

{'artist_name': 'SZA'}
2025-05-14 15:05:42,393 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,393 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,394 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,394 INFO sqlalchemy.engine.Engine [cached since 1.261s ago] {'artist_name': 'John Lennon, The Harlem Community Choir, The Plastic Ono Band, Yoko Ono'}

Row 389: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, John Lennon, The Harlem Community Choir, The Plastic Ono Band, Y...).
; dropped

{'artist_name': 'John Lennon, The Harlem Community Choir, The Plastic Ono Band, Yoko Ono'}
2025-05-14 15:05:42,396 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,397 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,397 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,397 INFO sqlalchemy.engine.Engine [cached since 1.264s ago] {'artist_name': 'SZA, Don Toliver'}

Row 390: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SZA, Don Toliver).
; dropped

{'artist_name': 'SZA, Don Toliver'}
2025-05-14 15:05:42,398 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,399 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,399 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,400 INFO sqlalchemy.engine.Engine [cached since 1.267s ago] {'artist_name': 'Nat King Cole'}

Row 391: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Nat King Cole).
; dropped

{'artist_name': 'Nat King Cole'}
2025-05-14 15:05:42,401 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,402 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,402 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,402 INFO sqlalchemy.engine.Engine [cached since 1.27s ago] {'artist_name': 'Paul McCartney'}

Row 392: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Paul McCartney).
; dropped

{'artist_name': 'Paul McCartney'}
2025-05-14 15:05:42,403 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,404 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,405 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,405 INFO sqlalchemy.engine.Engine [cached since 1.272s ago] {'artist_name': 'SZA, Phoebe Bridgers'}

Row 393: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SZA, Phoebe Bridgers).
; dropped

{'artist_name': 'SZA, Phoebe Bridgers'}
2025-05-14 15:05:42,406 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,407 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,407 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,408 INFO sqlalchemy.engine.Engine [cached since 1.275s ago] {'artist_name': "Shakin' Stevens"}

Row 394: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Shakin' Stevens).
; dropped

{'artist_name': "Shakin' Stevens"}
2025-05-14 15:05:42,409 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,409 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,410 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,410 INFO sqlalchemy.engine.Engine [cached since 1.277s ago] {'artist_name': 'Frank Sinatra, B. Swanson Quartet'}

Row 395: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Frank Sinatra, B. Swanson Quartet).
; dropped

{'artist_name': 'Frank Sinatra, B. Swanson Quartet'}
2025-05-14 15:05:42,411 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,412 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,412 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,413 INFO sqlalchemy.engine.Engine [cached since 1.28s ago] {'artist_name': 'SZA'}

Row 396: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SZA).
; dropped

{'artist_name': 'SZA'}
2025-05-14 15:05:42,414 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,415 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,415 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,416 INFO sqlalchemy.engine.Engine [cached since 1.283s ago] {'artist_name': 'SZA, Travis Scott'}

Row 397: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SZA, Travis Scott).
; dropped

{'artist_name': 'SZA, Travis Scott'}
2025-05-14 15:05:42,417 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,418 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,418 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,419 INFO sqlalchemy.engine.Engine [cached since 1.286s ago] {'artist_name': 'Bing Crosby, John Scott Trotter & His Orchestra, Ken Darby Singers'}

Row 398: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bing Crosby, John Scott Trotter & His Orchestra, Ken Darby Singe...).
; dropped

{'artist_name': 'Bing Crosby, John Scott Trotter & His Orchestra, Ken Darby Singers'}
2025-05-14 15:05:42,420 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,421 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,422 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,422 INFO sqlalchemy.engine.Engine [cached since 1.289s ago] {'artist_name': 'Chris Rea'}

Row 399: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Chris Rea).
; dropped

{'artist_name': 'Chris Rea'}
2025-05-14 15:05:42,424 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,425 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,425 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,426 INFO sqlalchemy.engine.Engine [cached since 1.293s ago] {'artist_name': 'Darlene Love'}

Row 400: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Darlene Love).
; dropped

{'artist_name': 'Darlene Love'}
2025-05-14 15:05:42,427 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,427 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,428 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,428 INFO sqlalchemy.engine.Engine [cached since 1.295s ago] {'artist_name': 'SZA'}

Row 401: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SZA).
; dropped

{'artist_name': 'SZA'}
2025-05-14 15:05:42,429 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,430 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,431 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,432 INFO sqlalchemy.engine.Engine [cached since 1.299s ago] {'artist_name': 'SZA'}

Row 402: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SZA).
; dropped

{'artist_name': 'SZA'}
2025-05-14 15:05:42,433 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,434 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,434 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,435 INFO sqlalchemy.engine.Engine [cached since 1.302s ago] {'artist_name': 'SZA'}

Row 403: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SZA).
; dropped

{'artist_name': 'SZA'}
2025-05-14 15:05:42,436 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,436 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,437 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,437 INFO sqlalchemy.engine.Engine [cached since 1.304s ago] {'artist_name': 'Perry Como, The Fontane Sisters, Mitchell Ayres & His Orchestra'}

Row 404: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Perry Como, The Fontane Sisters, Mitchell Ayres & His Orchestra).
; dropped

{'artist_name': 'Perry Como, The Fontane Sisters, Mitchell Ayres & His Orchestra'}
2025-05-14 15:05:42,440 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,440 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,441 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,441 INFO sqlalchemy.engine.Engine [cached since 1.308s ago] {'artist_name': 'Mabel Matiz, Mert Demir'}

Row 405: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Mabel Matiz, Mert Demir).
; dropped

{'artist_name': 'Mabel Matiz, Mert Demir'}
2025-05-14 15:05:42,442 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,443 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,443 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,444 INFO sqlalchemy.engine.Engine [cached since 1.311s ago] {'artist_name': 'RM'}

Row 406: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, RM).
; dropped

{'artist_name': 'RM'}
2025-05-14 15:05:42,445 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,445 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,445 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,446 INFO sqlalchemy.engine.Engine [cached since 1.313s ago] {'artist_name': 'SZA'}

Row 407: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SZA).
; dropped

{'artist_name': 'SZA'}
2025-05-14 15:05:42,447 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,448 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,448 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,448 INFO sqlalchemy.engine.Engine [cached since 1.315s ago] {'artist_name': 'Travis Scott, Metro Boomin'}

Row 408: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Travis Scott, Metro Boomin).
; dropped

{'artist_name': 'Travis Scott, Metro Boomin'}
2025-05-14 15:05:42,449 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,450 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,450 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,450 INFO sqlalchemy.engine.Engine [cached since 1.317s ago] {'artist_name': 'ThxSoMch'}

Row 409: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, ThxSoMch).
; dropped

{'artist_name': 'ThxSoMch'}
2025-05-14 15:05:42,451 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,452 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,452 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,452 INFO sqlalchemy.engine.Engine [cached since 1.319s ago] {'artist_name': 'Nat King Cole'}

Row 410: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Nat King Cole).
; dropped

{'artist_name': 'Nat King Cole'}
2025-05-14 15:05:42,453 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,455 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,455 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,455 INFO sqlalchemy.engine.Engine [cached since 1.323s ago] {'artist_name': 'SZA'}

Row 411: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SZA).
; dropped

{'artist_name': 'SZA'}
2025-05-14 15:05:42,457 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,457 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,458 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,458 INFO sqlalchemy.engine.Engine [cached since 1.325s ago] {'artist_name': 'SZA'}

Row 412: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SZA).
; dropped

{'artist_name': 'SZA'}
2025-05-14 15:05:42,459 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,459 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,460 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,460 INFO sqlalchemy.engine.Engine [cached since 1.327s ago] {'artist_name': 'Taylor Swift, Lana Del Rey'}

Row 413: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift, Lana Del Rey).
; dropped

{'artist_name': 'Taylor Swift, Lana Del Rey'}
2025-05-14 15:05:42,461 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,461 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,462 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,462 INFO sqlalchemy.engine.Engine [cached since 1.329s ago] {'artist_name': 'Taylor Swift'}

Row 414: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:42,463 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,463 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,464 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,464 INFO sqlalchemy.engine.Engine [cached since 1.331s ago] {'artist_name': 'Dj LK da Escï¿½ï¿½cia, Tchakabum, mc jhenny, M'}

Row 415: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Dj LK da Escï¿½ï¿½cia, Tchakabum, mc jhenny, M).
; dropped

{'artist_name': 'Dj LK da Escï¿½ï¿½cia, Tchakabum, mc jhenny, M'}
2025-05-14 15:05:42,465 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,465 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,465 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,466 INFO sqlalchemy.engine.Engine [cached since 1.333s ago] {'artist_name': 'Taylor Swift'}

Row 416: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:42,467 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,468 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,468 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,468 INFO sqlalchemy.engine.Engine [cached since 1.335s ago] {'artist_name': 'Bad Bunny, Jhay Cortez'}

Row 417: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny, Jhay Cortez).
; dropped

{'artist_name': 'Bad Bunny, Jhay Cortez'}
2025-05-14 15:05:42,469 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,470 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,470 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,470 INFO sqlalchemy.engine.Engine [cached since 1.337s ago] {'artist_name': 'Gwen Stefani, Blake Shelton'}

Row 418: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Gwen Stefani, Blake Shelton).
; dropped

{'artist_name': 'Gwen Stefani, Blake Shelton'}
2025-05-14 15:05:42,471 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,471 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,472 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,472 INFO sqlalchemy.engine.Engine [cached since 1.339s ago] {'artist_name': 'Chencho Corleone, Rauw Alejandro'}

Row 419: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Chencho Corleone, Rauw Alejandro).
; dropped

{'artist_name': 'Chencho Corleone, Rauw Alejandro'}
2025-05-14 15:05:42,473 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,473 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,473 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,474 INFO sqlalchemy.engine.Engine [cached since 1.341s ago] {'artist_name': 'SZA'}

Row 420: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SZA).
; dropped

{'artist_name': 'SZA'}
2025-05-14 15:05:42,475 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,475 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,475 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,475 INFO sqlalchemy.engine.Engine [cached since 1.343s ago] {'artist_name': 'Bad Bunny, Rauw Alejandro'}

Row 421: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny, Rauw Alejandro).
; dropped

{'artist_name': 'Bad Bunny, Rauw Alejandro'}
2025-05-14 15:05:42,476 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,477 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,477 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,477 INFO sqlalchemy.engine.Engine [cached since 1.344s ago] {'artist_name': 'Chuck Berry'}

Row 422: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Chuck Berry).
; dropped

{'artist_name': 'Chuck Berry'}
2025-05-14 15:05:42,478 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,478 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,479 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,479 INFO sqlalchemy.engine.Engine [cached since 1.346s ago] {'artist_name': 'Frank Sinatra'}

Row 423: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Frank Sinatra).
; dropped

{'artist_name': 'Frank Sinatra'}
2025-05-14 15:05:42,480 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,480 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,481 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,481 INFO sqlalchemy.engine.Engine [cached since 1.348s ago] {'artist_name': 'SZA'}

Row 424: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SZA).
; dropped

{'artist_name': 'SZA'}
2025-05-14 15:05:42,482 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,482 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,482 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,483 INFO sqlalchemy.engine.Engine [cached since 1.35s ago] {'artist_name': 'John Legend, Metro Boomin'}

Row 425: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, John Legend, Metro Boomin).
; dropped

{'artist_name': 'John Legend, Metro Boomin'}
2025-05-14 15:05:42,484 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,484 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,484 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,485 INFO sqlalchemy.engine.Engine [cached since 1.352s ago] {'artist_name': 'Maldy, Karol G'}

Row 426: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Maldy, Karol G).
; dropped

{'artist_name': 'Maldy, Karol G'}
2025-05-14 15:05:42,486 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,486 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,486 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,487 INFO sqlalchemy.engine.Engine [cached since 1.354s ago] {'artist_name': 'The Weeknd'}

Row 427: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd).
; dropped

{'artist_name': 'The Weeknd'}
2025-05-14 15:05:42,487 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,488 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,488 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,488 INFO sqlalchemy.engine.Engine [cached since 1.355s ago] {'artist_name': 'Lauren Spencer Smith, Lauren Spencer Smith, Lauren Spencer Smith'}

Row 428: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lauren Spencer Smith, Lauren Spencer Smith, Lauren Spencer Smith).
; dropped

{'artist_name': 'Lauren Spencer Smith, Lauren Spencer Smith, Lauren Spencer Smith'}
2025-05-14 15:05:42,489 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,490 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,490 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,490 INFO sqlalchemy.engine.Engine [cached since 1.357s ago] {'artist_name': 'Cherish, ACRAZE'}

Row 429: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Cherish, ACRAZE).
; dropped

{'artist_name': 'Cherish, ACRAZE'}
2025-05-14 15:05:42,491 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,491 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,492 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,492 INFO sqlalchemy.engine.Engine [cached since 1.359s ago] {'artist_name': 'The Weeknd'}

Row 430: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd).
; dropped

{'artist_name': 'The Weeknd'}
2025-05-14 15:05:42,493 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,493 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,494 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,494 INFO sqlalchemy.engine.Engine [cached since 1.361s ago] {'artist_name': 'The Weeknd'}

Row 431: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd).
; dropped

{'artist_name': 'The Weeknd'}
2025-05-14 15:05:42,494 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,495 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,495 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,496 INFO sqlalchemy.engine.Engine [cached since 1.363s ago] {'artist_name': 'Jaymes Young'}

Row 432: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Jaymes Young).
; dropped

{'artist_name': 'Jaymes Young'}
2025-05-14 15:05:42,497 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,497 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,497 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,498 INFO sqlalchemy.engine.Engine [cached since 1.365s ago] {'artist_name': 'The Weeknd'}

Row 433: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd).
; dropped

{'artist_name': 'The Weeknd'}
2025-05-14 15:05:42,498 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,499 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,499 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,499 INFO sqlalchemy.engine.Engine [cached since 1.367s ago] {'artist_name': 'The Weeknd, Tyler, The Creator'}

Row 434: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd, Tyler, The Creator).
; dropped

{'artist_name': 'The Weeknd, Tyler, The Creator'}
2025-05-14 15:05:42,500 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,501 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,501 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,501 INFO sqlalchemy.engine.Engine [cached since 1.369s ago] {'artist_name': 'The Weeknd'}

Row 435: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd).
; dropped

{'artist_name': 'The Weeknd'}
2025-05-14 15:05:42,502 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,503 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,503 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,503 INFO sqlalchemy.engine.Engine [cached since 1.37s ago] {'artist_name': 'SZA, Doja Cat'}

Row 436: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SZA, Doja Cat).
; dropped

{'artist_name': 'SZA, Doja Cat'}
2025-05-14 15:05:42,504 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,504 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,505 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,505 INFO sqlalchemy.engine.Engine [cached since 1.372s ago] {'artist_name': 'The Weeknd, Lil Wayne'}

Row 437: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd, Lil Wayne).
; dropped

{'artist_name': 'The Weeknd, Lil Wayne'}
2025-05-14 15:05:42,506 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,506 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,506 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,507 INFO sqlalchemy.engine.Engine [cached since 1.374s ago] {'artist_name': 'The Weeknd'}

Row 438: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd).
; dropped

{'artist_name': 'The Weeknd'}
2025-05-14 15:05:42,508 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,508 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,509 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,509 INFO sqlalchemy.engine.Engine [cached since 1.376s ago] {'artist_name': 'Jessica Darrow'}

Row 439: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Jessica Darrow).
; dropped

{'artist_name': 'Jessica Darrow'}
2025-05-14 15:05:42,510 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,510 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,510 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,511 INFO sqlalchemy.engine.Engine [cached since 1.378s ago] {'artist_name': 'The Weeknd'}

Row 440: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd).
; dropped

{'artist_name': 'The Weeknd'}
2025-05-14 15:05:42,511 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,512 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,512 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,512 INFO sqlalchemy.engine.Engine [cached since 1.379s ago] {'artist_name': 'Lil Nas X'}

Row 441: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lil Nas X).
; dropped

{'artist_name': 'Lil Nas X'}
2025-05-14 15:05:42,513 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,514 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,514 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,514 INFO sqlalchemy.engine.Engine [cached since 1.381s ago] {'artist_name': 'The Weeknd, Post Malone'}

Row 442: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd, Post Malone).
; dropped

{'artist_name': 'The Weeknd, Post Malone'}
2025-05-14 15:05:42,515 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,516 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,516 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,516 INFO sqlalchemy.engine.Engine [cached since 1.383s ago] {'artist_name': 'Mï¿½ï¿½ne'}

Row 443: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Mï¿½ï¿½ne).
; dropped

{'artist_name': 'Mï¿½ï¿½ne'}
2025-05-14 15:05:42,517 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,518 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,518 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,518 INFO sqlalchemy.engine.Engine [cached since 1.385s ago] {'artist_name': 'Aitana, zzoilo'}

Row 444: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Aitana, zzoilo).
; dropped

{'artist_name': 'Aitana, zzoilo'}
2025-05-14 15:05:42,519 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,519 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,520 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,520 INFO sqlalchemy.engine.Engine [cached since 1.387s ago] {'artist_name': 'Julieta Venegas, Bad Bunny, Tainy'}

Row 445: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Julieta Venegas, Bad Bunny, Tainy).
; dropped

{'artist_name': 'Julieta Venegas, Bad Bunny, Tainy'}
2025-05-14 15:05:42,521 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,521 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,522 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,522 INFO sqlalchemy.engine.Engine [cached since 1.389s ago] {'artist_name': 'Tiï¿½ï¿½sto, Ava'}

Row 446: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Tiï¿½ï¿½sto, Ava).
; dropped

{'artist_name': 'Tiï¿½ï¿½sto, Ava'}
2025-05-14 15:05:42,523 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,523 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,524 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,524 INFO sqlalchemy.engine.Engine [cached since 1.391s ago] {'artist_name': 'Xamï¿½ï¿½, Gustah, Neo B'}

Row 447: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Xamï¿½ï¿½, Gustah, Neo B).
; dropped

{'artist_name': 'Xamï¿½ï¿½, Gustah, Neo B'}
2025-05-14 15:05:42,525 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,526 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,526 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,526 INFO sqlalchemy.engine.Engine [cached since 1.393s ago] {'artist_name': 'The Weeknd'}

Row 448: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd).
; dropped

{'artist_name': 'The Weeknd'}
2025-05-14 15:05:42,527 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,527 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,528 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,528 INFO sqlalchemy.engine.Engine [cached since 1.395s ago] {'artist_name': 'Adele'}

Row 449: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Adele).
; dropped

{'artist_name': 'Adele'}
2025-05-14 15:05:42,529 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,530 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,530 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,531 INFO sqlalchemy.engine.Engine [cached since 1.398s ago] {'artist_name': 'Lit Killah, Maria Becerra, Tiago pzk, NICKI NICOLE'}

Row 450: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lit Killah, Maria Becerra, Tiago pzk, NICKI NICOLE).
; dropped

{'artist_name': 'Lit Killah, Maria Becerra, Tiago pzk, NICKI NICOLE'}
2025-05-14 15:05:42,532 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,532 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,533 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,533 INFO sqlalchemy.engine.Engine [cached since 1.4s ago] {'artist_name': 'The Weeknd'}

Row 451: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd).
; dropped

{'artist_name': 'The Weeknd'}
2025-05-14 15:05:42,534 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,534 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,535 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,535 INFO sqlalchemy.engine.Engine [cached since 1.402s ago] {'artist_name': 'Emmy Meli'}

Row 452: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Emmy Meli).
; dropped

{'artist_name': 'Emmy Meli'}
2025-05-14 15:05:42,536 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,536 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,536 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,537 INFO sqlalchemy.engine.Engine [cached since 1.404s ago] {'artist_name': 'Justin Quiles, Lenny Tavï¿½ï¿½rez, BL'}

Row 453: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Justin Quiles, Lenny Tavï¿½ï¿½rez, BL).
; dropped

{'artist_name': 'Justin Quiles, Lenny Tavï¿½ï¿½rez, BL'}
2025-05-14 15:05:42,537 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,538 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,538 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,539 INFO sqlalchemy.engine.Engine [cached since 1.406s ago] {'artist_name': 'Shawn Mendes'}

Row 454: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Shawn Mendes).
; dropped

{'artist_name': 'Shawn Mendes'}
2025-05-14 15:05:42,539 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,540 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,540 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,541 INFO sqlalchemy.engine.Engine [cached since 1.408s ago] {'artist_name': 'The Neighbourhood'}

Row 455: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Neighbourhood).
; dropped

{'artist_name': 'The Neighbourhood'}
2025-05-14 15:05:42,542 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,542 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,543 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,543 INFO sqlalchemy.engine.Engine [cached since 1.41s ago] {'artist_name': 'Kodak Black'}

Row 456: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kodak Black).
; dropped

{'artist_name': 'Kodak Black'}
2025-05-14 15:05:42,544 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,544 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,544 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,545 INFO sqlalchemy.engine.Engine [cached since 1.412s ago] {'artist_name': 'Aventura, Bad Bunny'}

Row 457: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Aventura, Bad Bunny).
; dropped

{'artist_name': 'Aventura, Bad Bunny'}
2025-05-14 15:05:42,546 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,546 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,547 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,547 INFO sqlalchemy.engine.Engine [cached since 1.414s ago] {'artist_name': 'Rauw Alejandro'}

Row 458: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Rauw Alejandro).
; dropped

{'artist_name': 'Rauw Alejandro'}
2025-05-14 15:05:42,549 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,549 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,549 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,550 INFO sqlalchemy.engine.Engine [cached since 1.417s ago] {'artist_name': 'Bruno Mars, Anderson .Paak, Silk Sonic'}

Row 459: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bruno Mars, Anderson .Paak, Silk Sonic).
; dropped

{'artist_name': 'Bruno Mars, Anderson .Paak, Silk Sonic'}
2025-05-14 15:05:42,551 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,552 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,552 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,558 INFO sqlalchemy.engine.Engine [cached since 1.425s ago] {'artist_name': 'THE ANXIETY, Willow, Tyler Cole'}
{'artist_name': 'THE ANXIETY, Willow, Tyler Cole'}

Row 460: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, THE ANXIETY, Willow, Tyler Cole).
; dropped

2025-05-14 15:05:42,577 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,598 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,600 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,601 INFO sqlalchemy.engine.Engine [cached since 1.468s ago] {'artist_name': 'Sebastian Yatra'}

Row 461: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Sebastian Yatra).
; dropped

{'artist_name': 'Sebastian Yatra'}
2025-05-14 15:05:42,616 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,619 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,627 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,629 INFO sqlalchemy.engine.Engine [cached since 1.496s ago] {'artist_name': 'Bad Bunny, Jhay Cortez'}
{'artist_name': 'Bad Bunny, Jhay Cortez'}

Row 462: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny, Jhay Cortez).
; dropped

2025-05-14 15:05:42,631 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,632 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,633 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,633 INFO sqlalchemy.engine.Engine [cached since 1.5s ago] {'artist_name': 'Bizarrap, Tiago pzk'}

Row 463: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bizarrap, Tiago pzk).
; dropped

{'artist_name': 'Bizarrap, Tiago pzk'}
2025-05-14 15:05:42,635 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,635 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,636 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,636 INFO sqlalchemy.engine.Engine [cached since 1.503s ago] {'artist_name': 'Stromae'}

Row 464: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Stromae).
; dropped

{'artist_name': 'Stromae'}
2025-05-14 15:05:42,637 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,638 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,638 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,639 INFO sqlalchemy.engine.Engine [cached since 1.506s ago] {'artist_name': 'Chris Brown, Rvssian, Rauw Alejandro'}

Row 465: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Chris Brown, Rvssian, Rauw Alejandro).
; dropped

{'artist_name': 'Chris Brown, Rvssian, Rauw Alejandro'}
2025-05-14 15:05:42,640 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,641 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,642 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,643 INFO sqlalchemy.engine.Engine [cached since 1.51s ago] {'artist_name': 'Kali Uchis, Amaarae, Moliy'}
{'artist_name': 'Kali Uchis, Amaarae, Moliy'}

Row 466: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kali Uchis, Amaarae, Moliy).
; dropped

2025-05-14 15:05:42,648 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,649 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,652 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,652 INFO sqlalchemy.engine.Engine [cached since 1.52s ago] {'artist_name': 'BTS'}

Row 467: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, BTS).
; dropped

{'artist_name': 'BTS'}
2025-05-14 15:05:42,654 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,655 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,655 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,656 INFO sqlalchemy.engine.Engine [cached since 1.523s ago] {'artist_name': 'Young Thug, Future, Gunna'}

Row 468: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Young Thug, Future, Gunna).
; dropped

{'artist_name': 'Young Thug, Future, Gunna'}
2025-05-14 15:05:42,657 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,658 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,658 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,659 INFO sqlalchemy.engine.Engine [cached since 1.526s ago] {'artist_name': 'Doja Cat, The Weeknd'}

Row 469: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Doja Cat, The Weeknd).
; dropped

{'artist_name': 'Doja Cat, The Weeknd'}
2025-05-14 15:05:42,660 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,661 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,662 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,662 INFO sqlalchemy.engine.Engine [cached since 1.529s ago] {'artist_name': 'Olivia Rodrigo'}

Row 470: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Olivia Rodrigo).
; dropped

{'artist_name': 'Olivia Rodrigo'}
2025-05-14 15:05:42,663 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,664 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,665 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,665 INFO sqlalchemy.engine.Engine [cached since 1.532s ago] {'artist_name': 'Jnr Choi'}

Row 471: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Jnr Choi).
; dropped

{'artist_name': 'Jnr Choi'}
2025-05-14 15:05:42,666 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,667 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,668 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,668 INFO sqlalchemy.engine.Engine [cached since 1.535s ago] {'artist_name': 'The Weeknd, Gesaffelstein'}

Row 472: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd, Gesaffelstein).
; dropped

{'artist_name': 'The Weeknd, Gesaffelstein'}
2025-05-14 15:05:42,669 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,670 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,670 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,670 INFO sqlalchemy.engine.Engine [cached since 1.538s ago] {'artist_name': 'Trueno, Tiago pzk'}
{'artist_name': 'Trueno, Tiago pzk'}

Row 473: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Trueno, Tiago pzk).
; dropped

2025-05-14 15:05:42,672 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,673 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,673 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,673 INFO sqlalchemy.engine.Engine [cached since 1.54s ago] {'artist_name': 'Sech, Bad Bunny, Mora'}

Row 474: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Sech, Bad Bunny, Mora).
; dropped

{'artist_name': 'Sech, Bad Bunny, Mora'}
2025-05-14 15:05:42,675 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,675 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,676 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,676 INFO sqlalchemy.engine.Engine [cached since 1.543s ago] {'artist_name': 'Bruno Mars, Anderson .Paak, Silk Sonic'}

Row 475: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bruno Mars, Anderson .Paak, Silk Sonic).
; dropped

{'artist_name': 'Bruno Mars, Anderson .Paak, Silk Sonic'}
2025-05-14 15:05:42,678 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,680 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,680 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,681 INFO sqlalchemy.engine.Engine [cached since 1.548s ago] {'artist_name': 'Drake, Project Pat, 21 Savage'}
{'artist_name': 'Drake, Project Pat, 21 Savage'}

Row 476: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Drake, Project Pat, 21 Savage).
; dropped

2025-05-14 15:05:42,683 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,684 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,684 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,685 INFO sqlalchemy.engine.Engine [cached since 1.552s ago] {'artist_name': 'Tiï¿½ï¿½sto, Kar'}
{'artist_name': 'Tiï¿½ï¿½sto, Kar'}

Row 477: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Tiï¿½ï¿½sto, Kar).
; dropped

2025-05-14 15:05:42,688 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,689 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,689 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,691 INFO sqlalchemy.engine.Engine [cached since 1.558s ago] {'artist_name': 'Edison Lighthouse'}
{'artist_name': 'Edison Lighthouse'}

Row 478: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Edison Lighthouse).
; dropped

2025-05-14 15:05:42,694 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,696 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,698 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,699 INFO sqlalchemy.engine.Engine [cached since 1.566s ago] {'artist_name': 'Olga Merediz, Stephanie Beatriz, Encanto - Cast'}

Row 479: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Olga Merediz, Stephanie Beatriz, Encanto - Cast).
; dropped

{'artist_name': 'Olga Merediz, Stephanie Beatriz, Encanto - Cast'}
2025-05-14 15:05:42,702 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,703 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,703 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,704 INFO sqlalchemy.engine.Engine [cached since 1.571s ago] {'artist_name': 'The Weeknd'}

Row 480: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd).
; dropped

{'artist_name': 'The Weeknd'}
2025-05-14 15:05:42,705 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,706 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,706 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,707 INFO sqlalchemy.engine.Engine [cached since 1.574s ago] {'artist_name': 'Surf Curse'}

Row 481: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Surf Curse).
; dropped

{'artist_name': 'Surf Curse'}
2025-05-14 15:05:42,709 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,710 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,711 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,711 INFO sqlalchemy.engine.Engine [cached since 1.578s ago] {'artist_name': 'Jason Derulo'}

Row 482: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Jason Derulo).
; dropped

{'artist_name': 'Jason Derulo'}
2025-05-14 15:05:42,712 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,713 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,714 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,714 INFO sqlalchemy.engine.Engine [cached since 1.581s ago] {'artist_name': 'The Neighbourhood'}

Row 483: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Neighbourhood).
; dropped

{'artist_name': 'The Neighbourhood'}
2025-05-14 15:05:42,715 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,716 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,716 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,716 INFO sqlalchemy.engine.Engine [cached since 1.584s ago] {'artist_name': '21 Savage, Gunna'}

Row 484: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, 21 Savage, Gunna).
; dropped

{'artist_name': '21 Savage, Gunna'}
2025-05-14 15:05:42,717 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,718 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,718 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,718 INFO sqlalchemy.engine.Engine [cached since 1.585s ago] {'artist_name': 'IVE'}
{'artist_name': 'IVE'}

Row 485: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, IVE).
; dropped

2025-05-14 15:05:42,720 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,720 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,720 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,721 INFO sqlalchemy.engine.Engine [cached since 1.588s ago] {'artist_name': 'Stephanie Beatriz, Diane Guerrero'}

Row 486: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Stephanie Beatriz, Diane Guerrero).
; dropped

{'artist_name': 'Stephanie Beatriz, Diane Guerrero'}
2025-05-14 15:05:42,722 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,722 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,723 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,723 INFO sqlalchemy.engine.Engine [cached since 1.591s ago] {'artist_name': 'David Kushner'}

Row 487: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, David Kushner).
; dropped

{'artist_name': 'David Kushner'}
2025-05-14 15:05:42,724 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,725 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,726 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,726 INFO sqlalchemy.engine.Engine [cached since 1.593s ago] {'artist_name': 'Olivia Rodrigo'}

Row 488: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Olivia Rodrigo).
; dropped

{'artist_name': 'Olivia Rodrigo'}
2025-05-14 15:05:42,727 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,728 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,729 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,730 INFO sqlalchemy.engine.Engine [cached since 1.597s ago] {'artist_name': 'Kanye West'}

Row 489: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kanye West).
; dropped

{'artist_name': 'Kanye West'}
2025-05-14 15:05:42,731 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,732 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,733 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,733 INFO sqlalchemy.engine.Engine [cached since 1.6s ago] {'artist_name': 'Doja Cat'}

Row 490: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Doja Cat).
; dropped

{'artist_name': 'Doja Cat'}
2025-05-14 15:05:42,734 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,735 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,735 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,735 INFO sqlalchemy.engine.Engine [cached since 1.603s ago] {'artist_name': 'Lewis Capaldi'}

Row 491: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lewis Capaldi).
; dropped

{'artist_name': 'Lewis Capaldi'}
2025-05-14 15:05:42,737 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,737 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,738 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,738 INFO sqlalchemy.engine.Engine [cached since 1.605s ago] {'artist_name': 'Playboi Carti'}

Row 492: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Playboi Carti).
; dropped

{'artist_name': 'Playboi Carti'}
2025-05-14 15:05:42,740 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,741 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,741 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,742 INFO sqlalchemy.engine.Engine [cached since 1.609s ago] {'artist_name': 'Adele'}

Row 493: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Adele).
; dropped

{'artist_name': 'Adele'}
2025-05-14 15:05:42,743 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,744 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,744 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,744 INFO sqlalchemy.engine.Engine [cached since 1.611s ago] {'artist_name': 'Maluma'}

Row 494: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Maluma).
; dropped

{'artist_name': 'Maluma'}
2025-05-14 15:05:42,745 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,746 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,746 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,747 INFO sqlalchemy.engine.Engine [cached since 1.614s ago] {'artist_name': 'Ed Sheeran, Fireboy DML'}

Row 495: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ed Sheeran, Fireboy DML).
; dropped

{'artist_name': 'Ed Sheeran, Fireboy DML'}
2025-05-14 15:05:42,748 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,749 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,750 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,750 INFO sqlalchemy.engine.Engine [cached since 1.617s ago] {'artist_name': 'Olivia Rodrigo'}

Row 496: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Olivia Rodrigo).
; dropped

{'artist_name': 'Olivia Rodrigo'}
2025-05-14 15:05:42,752 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,752 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,753 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,754 INFO sqlalchemy.engine.Engine [cached since 1.621s ago] {'artist_name': 'Prezioso, Gabry Ponte, LUM!X'}

Row 497: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Prezioso, Gabry Ponte, LUM!X).
; dropped

{'artist_name': 'Prezioso, Gabry Ponte, LUM!X'}
2025-05-14 15:05:42,755 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,755 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,756 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,756 INFO sqlalchemy.engine.Engine [cached since 1.623s ago] {'artist_name': 'Tiï¿½ï¿'}

Row 498: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Tiï¿½ï¿).
; dropped

{'artist_name': 'Tiï¿½ï¿'}
2025-05-14 15:05:42,757 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,758 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,758 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,758 INFO sqlalchemy.engine.Engine [cached since 1.625s ago] {'artist_name': 'Mï¿½ï¿½ne'}

Row 499: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Mï¿½ï¿½ne).
; dropped

{'artist_name': 'Mï¿½ï¿½ne'}
2025-05-14 15:05:42,760 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,760 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,761 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,761 INFO sqlalchemy.engine.Engine [cached since 1.628s ago] {'artist_name': 'Marï¿½ï¿½lia Mendonï¿½ï¿½a, George Henrique &'}

Row 500: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Marï¿½ï¿½lia Mendonï¿½ï¿½a, George Henrique &).
; dropped

{'artist_name': 'Marï¿½ï¿½lia Mendonï¿½ï¿½a, George Henrique &'}
2025-05-14 15:05:42,762 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,763 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,763 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,763 INFO sqlalchemy.engine.Engine [cached since 1.63s ago] {'artist_name': 'TWICE'}

Row 501: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, TWICE).
; dropped

{'artist_name': 'TWICE'}
2025-05-14 15:05:42,764 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,765 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,765 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,766 INFO sqlalchemy.engine.Engine [cached since 1.633s ago] {'artist_name': 'Sean Paul, Dua Lipa'}

Row 502: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Sean Paul, Dua Lipa).
; dropped

{'artist_name': 'Sean Paul, Dua Lipa'}
2025-05-14 15:05:42,767 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,767 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,768 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,768 INFO sqlalchemy.engine.Engine [cached since 1.635s ago] {'artist_name': 'Charli XCX, Jax Jones, Joel Corry, Saweetie'}

Row 503: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Charli XCX, Jax Jones, Joel Corry, Saweetie).
; dropped

{'artist_name': 'Charli XCX, Jax Jones, Joel Corry, Saweetie'}
2025-05-14 15:05:42,769 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,770 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,770 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,770 INFO sqlalchemy.engine.Engine [cached since 1.638s ago] {'artist_name': 'SALES'}

Row 504: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SALES).
; dropped

{'artist_name': 'SALES'}
2025-05-14 15:05:42,772 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,772 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,773 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,773 INFO sqlalchemy.engine.Engine [cached since 1.64s ago] {'artist_name': 'Sleepy hallow'}

Row 505: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Sleepy hallow).
; dropped

{'artist_name': 'Sleepy hallow'}
2025-05-14 15:05:42,774 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,774 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,775 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,775 INFO sqlalchemy.engine.Engine [cached since 1.642s ago] {'artist_name': 'Billie Eilish'}

Row 506: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Billie Eilish).
; dropped

{'artist_name': 'Billie Eilish'}
2025-05-14 15:05:42,776 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,777 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,777 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,777 INFO sqlalchemy.engine.Engine [cached since 1.645s ago] {'artist_name': 'Masked Wolf'}

Row 507: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Masked Wolf).
; dropped

{'artist_name': 'Masked Wolf'}
2025-05-14 15:05:42,778 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,779 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,779 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,780 INFO sqlalchemy.engine.Engine [cached since 1.647s ago] {'artist_name': 'Anuel Aa, Jhay Cortez'}

Row 508: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Anuel Aa, Jhay Cortez).
; dropped

{'artist_name': 'Anuel Aa, Jhay Cortez'}
2025-05-14 15:05:42,781 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,782 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,782 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,783 INFO sqlalchemy.engine.Engine [cached since 1.65s ago] {'artist_name': 'NIKI'}

Row 509: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, NIKI).
; dropped

{'artist_name': 'NIKI'}
2025-05-14 15:05:42,784 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,785 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,785 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,785 INFO sqlalchemy.engine.Engine [cached since 1.653s ago] {'artist_name': 'Bruno Mars'}

Row 510: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bruno Mars).
; dropped

{'artist_name': 'Bruno Mars'}
2025-05-14 15:05:42,787 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,787 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,788 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,788 INFO sqlalchemy.engine.Engine [cached since 1.655s ago] {'artist_name': 'Tate McRae'}

Row 511: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Tate McRae).
; dropped

{'artist_name': 'Tate McRae'}
2025-05-14 15:05:42,789 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,790 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,790 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,791 INFO sqlalchemy.engine.Engine [cached since 1.658s ago] {'artist_name': 'Avicii'}

Row 512: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Avicii).
; dropped

{'artist_name': 'Avicii'}
2025-05-14 15:05:42,792 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,793 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,793 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,793 INFO sqlalchemy.engine.Engine [cached since 1.661s ago] {'artist_name': 'The Weeknd'}

Row 513: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Weeknd).
; dropped

{'artist_name': 'The Weeknd'}
2025-05-14 15:05:42,794 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,795 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,795 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,796 INFO sqlalchemy.engine.Engine [cached since 1.663s ago] {'artist_name': 'Drake, Future, Young Thug'}

Row 514: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Drake, Future, Young Thug).
; dropped

{'artist_name': 'Drake, Future, Young Thug'}
2025-05-14 15:05:42,798 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,799 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,799 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,799 INFO sqlalchemy.engine.Engine [cached since 1.667s ago] {'artist_name': 'Rauw Alejandro'}

Row 515: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Rauw Alejandro).
; dropped

{'artist_name': 'Rauw Alejandro'}
2025-05-14 15:05:42,801 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,802 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,802 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,803 INFO sqlalchemy.engine.Engine [cached since 1.67s ago] {'artist_name': 'Imagine Dragons, League of Legends, Arcane'}

Row 516: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Imagine Dragons, League of Legends, Arcane).
; dropped

{'artist_name': 'Imagine Dragons, League of Legends, Arcane'}
2025-05-14 15:05:42,804 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,804 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,805 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,805 INFO sqlalchemy.engine.Engine [cached since 1.672s ago] {'artist_name': 'Juice WRLD'}

Row 517: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Juice WRLD).
; dropped

{'artist_name': 'Juice WRLD'}
2025-05-14 15:05:42,806 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,807 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,807 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,808 INFO sqlalchemy.engine.Engine [cached since 1.675s ago] {'artist_name': 'J Balvin, Maria Becerra'}

Row 518: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, J Balvin, Maria Becerra).
; dropped

{'artist_name': 'J Balvin, Maria Becerra'}
2025-05-14 15:05:42,809 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,809 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,810 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,810 INFO sqlalchemy.engine.Engine [cached since 1.677s ago] {'artist_name': 'John Legend'}

Row 519: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, John Legend).
; dropped

{'artist_name': 'John Legend'}
2025-05-14 15:05:42,811 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,812 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,812 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,813 INFO sqlalchemy.engine.Engine [cached since 1.68s ago] {'artist_name': 'Nirvana'}

Row 520: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Nirvana).
; dropped

{'artist_name': 'Nirvana'}
2025-05-14 15:05:42,814 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,815 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,815 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,816 INFO sqlalchemy.engine.Engine [cached since 1.683s ago] {'artist_name': 'Drake, Travis Scott'}

Row 521: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Drake, Travis Scott).
; dropped

{'artist_name': 'Drake, Travis Scott'}
2025-05-14 15:05:42,816 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,817 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,818 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,818 INFO sqlalchemy.engine.Engine [cached since 1.685s ago] {'artist_name': 'Tini, L-Gante'}

Row 522: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Tini, L-Gante).
; dropped

{'artist_name': 'Tini, L-Gante'}
2025-05-14 15:05:42,819 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,819 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,820 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,820 INFO sqlalchemy.engine.Engine [cached since 1.687s ago] {'artist_name': 'SiM'}

Row 523: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, SiM).
; dropped

{'artist_name': 'SiM'}
2025-05-14 15:05:42,821 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,822 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,822 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,822 INFO sqlalchemy.engine.Engine [cached since 1.69s ago] {'artist_name': 'Kendrick Lamar, Baby Keem'}

Row 524: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar, Baby Keem).
; dropped

{'artist_name': 'Kendrick Lamar, Baby Keem'}
2025-05-14 15:05:42,824 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,824 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,825 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,825 INFO sqlalchemy.engine.Engine [cached since 1.692s ago] {'artist_name': 'The Killers'}

Row 525: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Killers).
; dropped

{'artist_name': 'The Killers'}
2025-05-14 15:05:42,826 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,826 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,827 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,827 INFO sqlalchemy.engine.Engine [cached since 1.694s ago] {'artist_name': 'ENHYPEN'}

Row 526: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, ENHYPEN).
; dropped

{'artist_name': 'ENHYPEN'}
2025-05-14 15:05:42,828 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,828 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,829 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,829 INFO sqlalchemy.engine.Engine [cached since 1.696s ago] {'artist_name': 'J Balvin, Nio Garcia, Bad Bunny'}

Row 527: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, J Balvin, Nio Garcia, Bad Bunny).
; dropped

{'artist_name': 'J Balvin, Nio Garcia, Bad Bunny'}
2025-05-14 15:05:42,830 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,831 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,831 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,832 INFO sqlalchemy.engine.Engine [cached since 1.699s ago] {'artist_name': 'Doja Cat'}

Row 528: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Doja Cat).
; dropped

{'artist_name': 'Doja Cat'}
2025-05-14 15:05:42,833 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,833 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,834 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,834 INFO sqlalchemy.engine.Engine [cached since 1.701s ago] {'artist_name': 'Lady Gaga, Bradley Cooper'}

Row 529: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lady Gaga, Bradley Cooper).
; dropped

{'artist_name': 'Lady Gaga, Bradley Cooper'}
2025-05-14 15:05:42,835 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,836 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,836 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,836 INFO sqlalchemy.engine.Engine [cached since 1.703s ago] {'artist_name': 'ENHYPEN'}
{'artist_name': 'ENHYPEN'}

Row 530: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, ENHYPEN).
; dropped

2025-05-14 15:05:42,837 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,838 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,838 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,839 INFO sqlalchemy.engine.Engine [cached since 1.706s ago] {'artist_name': 'Marshmello, Jonas Brothers'}

Row 531: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Marshmello, Jonas Brothers).
; dropped

{'artist_name': 'Marshmello, Jonas Brothers'}
2025-05-14 15:05:42,840 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,841 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,841 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,842 INFO sqlalchemy.engine.Engine [cached since 1.709s ago] {'artist_name': 'BTS'}

Row 532: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, BTS).
; dropped

{'artist_name': 'BTS'}
2025-05-14 15:05:42,843 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,843 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,844 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,844 INFO sqlalchemy.engine.Engine [cached since 1.711s ago] {'artist_name': 'Riton, Nightcrawlers, Mufasa & Hypeman, Dopamine'}

Row 533: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Riton, Nightcrawlers, Mufasa & Hypeman, Dopamine).
; dropped

{'artist_name': 'Riton, Nightcrawlers, Mufasa & Hypeman, Dopamine'}
2025-05-14 15:05:42,845 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,846 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,846 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,846 INFO sqlalchemy.engine.Engine [cached since 1.714s ago] {'artist_name': 'Polo G'}

Row 534: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Polo G).
; dropped

{'artist_name': 'Polo G'}
2025-05-14 15:05:42,848 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,848 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,849 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,849 INFO sqlalchemy.engine.Engine [cached since 1.716s ago] {'artist_name': 'Eminem, Nate Dogg'}

Row 535: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Eminem, Nate Dogg).
; dropped

{'artist_name': 'Eminem, Nate Dogg'}
2025-05-14 15:05:42,851 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,851 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,852 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,852 INFO sqlalchemy.engine.Engine [cached since 1.719s ago] {'artist_name': 'Maroon 5'}

Row 536: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Maroon 5).
; dropped

{'artist_name': 'Maroon 5'}
2025-05-14 15:05:42,853 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,853 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,854 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,854 INFO sqlalchemy.engine.Engine [cached since 1.721s ago] {'artist_name': 'Arcangel, De La Ghetto, Justin Quiles, Lenny Tavï¿½ï¿½rez, Sech, Dalex, Dimelo Flow, Rich Music'}

Row 537: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Arcangel, De La Ghetto, Justin Quiles, Lenny Tavï¿½ï¿½rez,...).
; dropped

{'artist_name': 'Arcangel, De La Ghetto, Justin Quiles, Lenny Tavï¿½ï¿½rez, Sech, Dalex, Dimelo Flow, Rich Music'}
2025-05-14 15:05:42,855 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,856 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,856 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,856 INFO sqlalchemy.engine.Engine [cached since 1.723s ago] {'artist_name': 'Gunna, Lil Baby'}

Row 538: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Gunna, Lil Baby).
; dropped

{'artist_name': 'Gunna, Lil Baby'}
2025-05-14 15:05:42,857 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,857 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,858 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,858 INFO sqlalchemy.engine.Engine [cached since 1.725s ago] {'artist_name': 'Marï¿½ï¿½lia Mendonï¿½ï¿½a, Maiara &'}

Row 539: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Marï¿½ï¿½lia Mendonï¿½ï¿½a, Maiara &).
; dropped

{'artist_name': 'Marï¿½ï¿½lia Mendonï¿½ï¿½a, Maiara &'}
2025-05-14 15:05:42,859 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,859 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,860 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,860 INFO sqlalchemy.engine.Engine [cached since 1.727s ago] {'artist_name': 'Tini, Maria Becerra'}

Row 540: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Tini, Maria Becerra).
; dropped

{'artist_name': 'Tini, Maria Becerra'}
2025-05-14 15:05:42,861 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,862 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,862 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,862 INFO sqlalchemy.engine.Engine [cached since 1.73s ago] {'artist_name': 'Anuel Aa, Myke Towers, Jhay Cortez'}
{'artist_name': 'Anuel Aa, Myke Towers, Jhay Cortez'}

Row 541: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Anuel Aa, Myke Towers, Jhay Cortez).
; dropped

2025-05-14 15:05:42,864 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,864 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,865 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,865 INFO sqlalchemy.engine.Engine [cached since 1.732s ago] {'artist_name': 'Karol G, Becky G'}

Row 542: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Karol G, Becky G).
; dropped

{'artist_name': 'Karol G, Becky G'}
2025-05-14 15:05:42,866 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,867 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,867 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,868 INFO sqlalchemy.engine.Engine [cached since 1.735s ago] {'artist_name': 'Dr. Dre, Snoop Dogg'}

Row 543: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Dr. Dre, Snoop Dogg).
; dropped

{'artist_name': 'Dr. Dre, Snoop Dogg'}
2025-05-14 15:05:42,869 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,869 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,870 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,870 INFO sqlalchemy.engine.Engine [cached since 1.737s ago] {'artist_name': 'Jung Kook'}

Row 544: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Jung Kook).
; dropped

{'artist_name': 'Jung Kook'}
2025-05-14 15:05:42,871 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,872 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,872 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,873 INFO sqlalchemy.engine.Engine [cached since 1.74s ago] {'artist_name': 'Dove Cameron'}

Row 545: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Dove Cameron).
; dropped

{'artist_name': 'Dove Cameron'}
2025-05-14 15:05:42,874 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,875 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,876 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,877 INFO sqlalchemy.engine.Engine [cached since 1.744s ago] {'artist_name': 'Dr. Dre, Snoop Dogg'}

Row 546: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Dr. Dre, Snoop Dogg).
; dropped

{'artist_name': 'Dr. Dre, Snoop Dogg'}
2025-05-14 15:05:42,878 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,879 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,879 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,880 INFO sqlalchemy.engine.Engine [cached since 1.747s ago] {'artist_name': 'Charlie Puth'}

Row 547: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Charlie Puth).
; dropped

{'artist_name': 'Charlie Puth'}
2025-05-14 15:05:42,881 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,882 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,883 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,884 INFO sqlalchemy.engine.Engine [cached since 1.752s ago] {'artist_name': 'Kanye West, Alicia Keys, Fivio Foreign'}

Row 548: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kanye West, Alicia Keys, Fivio Foreign).
; dropped

{'artist_name': 'Kanye West, Alicia Keys, Fivio Foreign'}
2025-05-14 15:05:42,886 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,887 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,888 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,888 INFO sqlalchemy.engine.Engine [cached since 1.756s ago] {'artist_name': 'Mahmood, Blanco'}

Row 549: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Mahmood, Blanco).
; dropped

{'artist_name': 'Mahmood, Blanco'}
2025-05-14 15:05:42,890 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,891 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,891 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,892 INFO sqlalchemy.engine.Engine [cached since 1.759s ago] {'artist_name': 'Frank Ocean'}
{'artist_name': 'Frank Ocean'}

Row 550: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Frank Ocean).
; dropped

2025-05-14 15:05:42,894 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,894 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,895 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,895 INFO sqlalchemy.engine.Engine [cached since 1.762s ago] {'artist_name': '50 Cent'}

Row 551: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, 50 Cent).
; dropped

{'artist_name': '50 Cent'}
2025-05-14 15:05:42,897 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,898 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,898 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,898 INFO sqlalchemy.engine.Engine [cached since 1.765s ago] {'artist_name': 'Tate McRae'}

Row 552: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Tate McRae).
; dropped

{'artist_name': 'Tate McRae'}
2025-05-14 15:05:42,901 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,901 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,902 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,902 INFO sqlalchemy.engine.Engine [cached since 1.769s ago] {'artist_name': 'Yung Lean'}

Row 553: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Yung Lean).
; dropped

{'artist_name': 'Yung Lean'}
2025-05-14 15:05:42,904 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,905 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,905 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,906 INFO sqlalchemy.engine.Engine [cached since 1.773s ago] {'artist_name': 'Labrinth, Zendaya'}

Row 554: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Labrinth, Zendaya).
; dropped

{'artist_name': 'Labrinth, Zendaya'}
2025-05-14 15:05:42,909 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,910 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,911 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,911 INFO sqlalchemy.engine.Engine [cached since 1.778s ago] {'artist_name': 'The Rare Occasions'}

Row 555: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Rare Occasions).
; dropped

{'artist_name': 'The Rare Occasions'}
2025-05-14 15:05:42,913 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,913 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,914 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,914 INFO sqlalchemy.engine.Engine [cached since 1.781s ago] {'artist_name': 'Labrinth'}
{'artist_name': 'Labrinth'}

Row 556: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Labrinth).
; dropped

2025-05-14 15:05:42,917 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,918 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,919 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,919 INFO sqlalchemy.engine.Engine [cached since 1.786s ago] {'artist_name': 'Intense, AP Dhillon, Gurinder Gill'}
{'artist_name': 'Intense, AP Dhillon, Gurinder Gill'}

Row 557: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Intense, AP Dhillon, Gurinder Gill).
; dropped

2025-05-14 15:05:42,921 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,922 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,922 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,922 INFO sqlalchemy.engine.Engine [cached since 1.789s ago] {'artist_name': 'Juice WRLD'}

Row 558: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Juice WRLD).
; dropped

{'artist_name': 'Juice WRLD'}
2025-05-14 15:05:42,924 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,924 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,925 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,925 INFO sqlalchemy.engine.Engine [cached since 1.792s ago] {'artist_name': 'Quevedo, La Pantera, Juseph, Cruz Cafunï¿½ï¿½, Bï¿½ï¿½jo, Abhir Hathi'}

Row 559: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Quevedo, La Pantera, Juseph, Cruz Cafunï¿½ï¿½, Bï¿½ï¿...).
; dropped

{'artist_name': 'Quevedo, La Pantera, Juseph, Cruz Cafunï¿½ï¿½, Bï¿½ï¿½jo, Abhir Hathi'}
2025-05-14 15:05:42,926 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,927 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,927 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,927 INFO sqlalchemy.engine.Engine [cached since 1.795s ago] {'artist_name': 'Dr. Dre, 2Pac, Roger'}

Row 560: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Dr. Dre, 2Pac, Roger).
; dropped

{'artist_name': 'Dr. Dre, 2Pac, Roger'}
2025-05-14 15:05:42,928 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,929 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,929 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,930 INFO sqlalchemy.engine.Engine [cached since 1.797s ago] {'artist_name': 'Eminem, Dr. Dre'}

Row 561: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Eminem, Dr. Dre).
; dropped

{'artist_name': 'Eminem, Dr. Dre'}
2025-05-14 15:05:42,932 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,933 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,933 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,934 INFO sqlalchemy.engine.Engine [cached since 1.801s ago] {'artist_name': 'Luude, Colin Hay'}

Row 562: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Luude, Colin Hay).
; dropped

{'artist_name': 'Luude, Colin Hay'}
2025-05-14 15:05:42,935 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,935 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,935 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,936 INFO sqlalchemy.engine.Engine [cached since 1.803s ago] {'artist_name': 'Ryan Castro'}

Row 563: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ryan Castro).
; dropped

{'artist_name': 'Ryan Castro'}
2025-05-14 15:05:42,936 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,937 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,937 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,937 INFO sqlalchemy.engine.Engine [cached since 1.805s ago] {'artist_name': 'Kendrick Lamar'}

Row 564: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar).
; dropped

{'artist_name': 'Kendrick Lamar'}
2025-05-14 15:05:42,938 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,938 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,939 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,939 INFO sqlalchemy.engine.Engine [cached since 1.806s ago] {'artist_name': 'Eminem, Dido'}

Row 565: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Eminem, Dido).
; dropped

{'artist_name': 'Eminem, Dido'}
2025-05-14 15:05:42,940 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,940 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,941 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,941 INFO sqlalchemy.engine.Engine [cached since 1.808s ago] {'artist_name': 'GODZZ__-, Zakaria'}

Row 566: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, GODZZ__-, Zakaria).
; dropped

{'artist_name': 'GODZZ__-, Zakaria'}
2025-05-14 15:05:42,942 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,943 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,943 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,943 INFO sqlalchemy.engine.Engine [cached since 1.81s ago] {'artist_name': 'Chase Atlantic'}

Row 567: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Chase Atlantic).
; dropped

{'artist_name': 'Chase Atlantic'}
2025-05-14 15:05:42,944 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,945 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,945 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,946 INFO sqlalchemy.engine.Engine [cached since 1.813s ago] {'artist_name': 'Em Beihold'}

Row 568: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Em Beihold).
; dropped

{'artist_name': 'Em Beihold'}
2025-05-14 15:05:42,947 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,947 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,948 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,948 INFO sqlalchemy.engine.Engine [cached since 1.815s ago] {'artist_name': 'Mainstreet, Chefin'}

Row 569: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Mainstreet, Chefin).
; dropped

{'artist_name': 'Mainstreet, Chefin'}
2025-05-14 15:05:42,949 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,950 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,950 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,950 INFO sqlalchemy.engine.Engine [cached since 1.817s ago] {'artist_name': 'Alvaro Diaz, Rauw Alejandro'}

Row 570: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Alvaro Diaz, Rauw Alejandro).
; dropped

{'artist_name': 'Alvaro Diaz, Rauw Alejandro'}
2025-05-14 15:05:42,951 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,951 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,952 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,952 INFO sqlalchemy.engine.Engine [cached since 1.819s ago] {'artist_name': 'Nicki Minaj, Lil Baby'}

Row 571: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Nicki Minaj, Lil Baby).
; dropped

{'artist_name': 'Nicki Minaj, Lil Baby'}
2025-05-14 15:05:42,953 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,954 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,954 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,955 INFO sqlalchemy.engine.Engine [cached since 1.822s ago] {'artist_name': 'Future'}
{'artist_name': 'Future'}

Row 572: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Future).
; dropped

2025-05-14 15:05:42,959 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,960 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,961 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,961 INFO sqlalchemy.engine.Engine [cached since 1.828s ago] {'artist_name': 'Zï¿½ï¿½ Fe'}

Row 573: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Zï¿½ï¿½ Fe).
; dropped

{'artist_name': 'Zï¿½ï¿½ Fe'}
2025-05-14 15:05:42,963 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:42,965 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:42,970 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:42,973 INFO sqlalchemy.engine.Engine [cached since 1.84s ago] {'artist_name': 'Muni Long'}

Row 574: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Muni Long).
; dropped

{'artist_name': 'Muni Long'}
2025-05-14 15:05:42,983 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,003 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,019 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,022 INFO sqlalchemy.engine.Engine [cached since 1.889s ago] {'artist_name': 'Vundabar'}

Row 575: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Vundabar).
; dropped

{'artist_name': 'Vundabar'}
2025-05-14 15:05:43,024 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,028 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,042 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,046 INFO sqlalchemy.engine.Engine [cached since 1.913s ago] {'artist_name': 'Ed Sheeran'}

Row 576: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ed Sheeran).
; dropped

{'artist_name': 'Ed Sheeran'}
2025-05-14 15:05:43,048 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,049 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,050 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,050 INFO sqlalchemy.engine.Engine [cached since 1.917s ago] {'artist_name': 'Labrinth'}

Row 577: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Labrinth).
; dropped

{'artist_name': 'Labrinth'}
2025-05-14 15:05:43,052 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,052 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,053 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,053 INFO sqlalchemy.engine.Engine [cached since 1.92s ago] {'artist_name': 'V'}

Row 578: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, V).
; dropped

{'artist_name': 'V'}
2025-05-14 15:05:43,054 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,055 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,055 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,055 INFO sqlalchemy.engine.Engine [cached since 1.922s ago] {'artist_name': 'Labrinth'}

Row 579: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Labrinth).
; dropped

{'artist_name': 'Labrinth'}
2025-05-14 15:05:43,057 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,057 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,058 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,059 INFO sqlalchemy.engine.Engine [cached since 1.926s ago] {'artist_name': 'Nicki Minaj, Lil Baby'}

Row 580: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Nicki Minaj, Lil Baby).
; dropped

{'artist_name': 'Nicki Minaj, Lil Baby'}
2025-05-14 15:05:43,064 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,067 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,069 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,069 INFO sqlalchemy.engine.Engine [cached since 1.936s ago] {'artist_name': 'Labrinth'}

Row 581: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Labrinth).
; dropped

{'artist_name': 'Labrinth'}
2025-05-14 15:05:43,071 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,072 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,072 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,073 INFO sqlalchemy.engine.Engine [cached since 1.94s ago] {'artist_name': 'Eminem, Dr. Dre'}

Row 582: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Eminem, Dr. Dre).
; dropped

{'artist_name': 'Eminem, Dr. Dre'}
2025-05-14 15:05:43,074 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,075 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,075 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,076 INFO sqlalchemy.engine.Engine [cached since 1.943s ago] {'artist_name': 'Shawn Mendes, Camila Cabello'}

Row 583: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Shawn Mendes, Camila Cabello).
; dropped

{'artist_name': 'Shawn Mendes, Camila Cabello'}
2025-05-14 15:05:43,077 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,077 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,078 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,078 INFO sqlalchemy.engine.Engine [cached since 1.945s ago] {'artist_name': 'Tyler, The Creator'}

Row 584: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Tyler, The Creator).
; dropped

{'artist_name': 'Tyler, The Creator'}
2025-05-14 15:05:43,079 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,080 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,080 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,081 INFO sqlalchemy.engine.Engine [cached since 1.948s ago] {'artist_name': 'Harry Styles'}

Row 585: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Harry Styles).
; dropped

{'artist_name': 'Harry Styles'}
2025-05-14 15:05:43,082 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,082 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,083 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,083 INFO sqlalchemy.engine.Engine [cached since 1.95s ago] {'artist_name': 'Daddy Yankee, Bad Bunny'}

Row 586: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Daddy Yankee, Bad Bunny).
; dropped

{'artist_name': 'Daddy Yankee, Bad Bunny'}
2025-05-14 15:05:43,084 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,085 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,085 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,085 INFO sqlalchemy.engine.Engine [cached since 1.952s ago] {'artist_name': 'Nirvana'}

Row 587: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Nirvana).
; dropped

{'artist_name': 'Nirvana'}
2025-05-14 15:05:43,086 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,087 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,087 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,087 INFO sqlalchemy.engine.Engine [cached since 1.954s ago] {'artist_name': 'Dua Lipa, Megan Thee Stallion'}

Row 588: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Dua Lipa, Megan Thee Stallion).
; dropped

{'artist_name': 'Dua Lipa, Megan Thee Stallion'}
2025-05-14 15:05:43,088 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,088 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,089 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,089 INFO sqlalchemy.engine.Engine [cached since 1.956s ago] {'artist_name': 'Camila Cabello, Ed Sheeran'}
{'artist_name': 'Camila Cabello, Ed Sheeran'}

Row 589: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Camila Cabello, Ed Sheeran).
; dropped

2025-05-14 15:05:43,090 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,091 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,091 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,091 INFO sqlalchemy.engine.Engine [cached since 1.958s ago] {'artist_name': 'Cris Mj'}

Row 590: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Cris Mj).
; dropped

{'artist_name': 'Cris Mj'}
2025-05-14 15:05:43,092 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,093 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,093 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,093 INFO sqlalchemy.engine.Engine [cached since 1.961s ago] {'artist_name': 'Anitta'}

Row 591: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Anitta).
; dropped

{'artist_name': 'Anitta'}
2025-05-14 15:05:43,094 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,095 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,095 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,095 INFO sqlalchemy.engine.Engine [cached since 1.962s ago] {'artist_name': 'Dave'}

Row 592: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Dave).
; dropped

{'artist_name': 'Dave'}
2025-05-14 15:05:43,096 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,097 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,097 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,098 INFO sqlalchemy.engine.Engine [cached since 1.965s ago] {'artist_name': 'Tulus'}

Row 593: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Tulus).
; dropped

{'artist_name': 'Tulus'}
2025-05-14 15:05:43,099 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,099 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,100 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,100 INFO sqlalchemy.engine.Engine [cached since 1.967s ago] {'artist_name': 'Mc Pedrinho, Pedro Sampaio'}

Row 594: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Mc Pedrinho, Pedro Sampaio).
; dropped

{'artist_name': 'Mc Pedrinho, Pedro Sampaio'}
2025-05-14 15:05:43,101 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,101 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,102 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,102 INFO sqlalchemy.engine.Engine [cached since 1.97s ago] {'artist_name': 'Zion & Lennox'}

Row 595: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Zion & Lennox).
; dropped

{'artist_name': 'Zion & Lennox'}
2025-05-14 15:05:43,104 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,105 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,105 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,106 INFO sqlalchemy.engine.Engine [cached since 1.973s ago] {'artist_name': 'Residente, Bizarrap'}

Row 596: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Residente, Bizarrap).
; dropped

{'artist_name': 'Residente, Bizarrap'}
2025-05-14 15:05:43,107 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,107 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,107 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,108 INFO sqlalchemy.engine.Engine [cached since 1.975s ago] {'artist_name': 'Ryan Castro'}

Row 597: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ryan Castro).
; dropped

{'artist_name': 'Ryan Castro'}
2025-05-14 15:05:43,108 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,109 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,110 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,110 INFO sqlalchemy.engine.Engine [cached since 1.977s ago] {'artist_name': 'Jack Harlow'}

Row 598: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Jack Harlow).
; dropped

{'artist_name': 'Jack Harlow'}
2025-05-14 15:05:43,111 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,111 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,112 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,112 INFO sqlalchemy.engine.Engine [cached since 1.979s ago] {'artist_name': 'Eden Muï¿½ï'}

Row 599: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Eden Muï¿½ï).
; dropped

{'artist_name': 'Eden Muï¿½ï'}
2025-05-14 15:05:43,113 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,114 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,114 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,114 INFO sqlalchemy.engine.Engine [cached since 1.982s ago] {'artist_name': 'Christian Nodal'}

Row 600: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Christian Nodal).
; dropped

{'artist_name': 'Christian Nodal'}
2025-05-14 15:05:43,116 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,117 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,117 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,117 INFO sqlalchemy.engine.Engine [cached since 1.985s ago] {'artist_name': 'Tyga, Doja Cat'}

Row 601: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Tyga, Doja Cat).
; dropped

{'artist_name': 'Tyga, Doja Cat'}
2025-05-14 15:05:43,119 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,119 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,120 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,120 INFO sqlalchemy.engine.Engine [cached since 1.988s ago] {'artist_name': 'JVKE'}

Row 602: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, JVKE).
; dropped

{'artist_name': 'JVKE'}
2025-05-14 15:05:43,122 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,122 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,123 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,123 INFO sqlalchemy.engine.Engine [cached since 1.99s ago] {'artist_name': 'Bad Bunny'}

Row 603: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny).
; dropped

{'artist_name': 'Bad Bunny'}
2025-05-14 15:05:43,124 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,125 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,126 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,126 INFO sqlalchemy.engine.Engine [cached since 1.994s ago] {'artist_name': 'XXXTENTACION'}

Row 604: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, XXXTENTACION).
; dropped

{'artist_name': 'XXXTENTACION'}
2025-05-14 15:05:43,128 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,128 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,129 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,129 INFO sqlalchemy.engine.Engine [cached since 1.996s ago] {'artist_name': 'Dua Lipa'}

Row 605: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Dua Lipa).
; dropped

{'artist_name': 'Dua Lipa'}
2025-05-14 15:05:43,131 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,131 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,132 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,132 INFO sqlalchemy.engine.Engine [cached since 1.999s ago] {'artist_name': 'Avicii'}

Row 606: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Avicii).
; dropped

{'artist_name': 'Avicii'}
2025-05-14 15:05:43,133 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,133 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,134 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,134 INFO sqlalchemy.engine.Engine [cached since 2.001s ago] {'artist_name': 'Olivia Rodrigo'}

Row 607: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Olivia Rodrigo).
; dropped

{'artist_name': 'Olivia Rodrigo'}
2025-05-14 15:05:43,135 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,136 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,136 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,136 INFO sqlalchemy.engine.Engine [cached since 2.003s ago] {'artist_name': 'YEAT'}

Row 608: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, YEAT).
; dropped

{'artist_name': 'YEAT'}
2025-05-14 15:05:43,137 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,138 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,138 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,139 INFO sqlalchemy.engine.Engine [cached since 2.006s ago] {'artist_name': 'C. Tangana'}

Row 609: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, C. Tangana).
; dropped

{'artist_name': 'C. Tangana'}
2025-05-14 15:05:43,140 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,140 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,141 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,141 INFO sqlalchemy.engine.Engine [cached since 2.008s ago] {'artist_name': 'The Chainsmokers, Coldplay'}

Row 610: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Chainsmokers, Coldplay).
; dropped

{'artist_name': 'The Chainsmokers, Coldplay'}
2025-05-14 15:05:43,142 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,142 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,143 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,143 INFO sqlalchemy.engine.Engine [cached since 2.01s ago] {'artist_name': 'The Chainsmokers, Halsey'}

Row 611: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Chainsmokers, Halsey).
; dropped

{'artist_name': 'The Chainsmokers, Halsey'}
2025-05-14 15:05:43,144 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,144 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,145 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,145 INFO sqlalchemy.engine.Engine [cached since 2.012s ago] {'artist_name': 'NMIXX'}

Row 612: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, NMIXX).
; dropped

{'artist_name': 'NMIXX'}
2025-05-14 15:05:43,146 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,146 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,146 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,146 INFO sqlalchemy.engine.Engine [cached since 2.014s ago] {'artist_name': 'AnnenMayKantereit, Giant Rooks'}

Row 613: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, AnnenMayKantereit, Giant Rooks).
; dropped

{'artist_name': 'AnnenMayKantereit, Giant Rooks'}
2025-05-14 15:05:43,147 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,148 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,148 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,148 INFO sqlalchemy.engine.Engine [cached since 2.015s ago] {'artist_name': 'Jack Harlow'}

Row 614: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Jack Harlow).
; dropped

{'artist_name': 'Jack Harlow'}
2025-05-14 15:05:43,149 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,150 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,150 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,150 INFO sqlalchemy.engine.Engine [cached since 2.018s ago] {'artist_name': 'Danny Ocean'}

Row 615: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Danny Ocean).
; dropped

{'artist_name': 'Danny Ocean'}
2025-05-14 15:05:43,151 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,152 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,152 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,152 INFO sqlalchemy.engine.Engine [cached since 2.019s ago] {'artist_name': 'Daddy Yankee, Bad Bunny'}

Row 616: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Daddy Yankee, Bad Bunny).
; dropped

{'artist_name': 'Daddy Yankee, Bad Bunny'}
2025-05-14 15:05:43,153 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,154 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,154 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,154 INFO sqlalchemy.engine.Engine [cached since 2.021s ago] {'artist_name': 'Shawn Mendes'}

Row 617: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Shawn Mendes).
; dropped

{'artist_name': 'Shawn Mendes'}
2025-05-14 15:05:43,155 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,156 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,156 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,156 INFO sqlalchemy.engine.Engine [cached since 2.023s ago] {'artist_name': 'Lil Tjay'}

Row 618: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lil Tjay).
; dropped

{'artist_name': 'Lil Tjay'}
2025-05-14 15:05:43,158 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,159 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,159 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,160 INFO sqlalchemy.engine.Engine [cached since 2.027s ago] {'artist_name': 'Willow'}

Row 619: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Willow).
; dropped

{'artist_name': 'Willow'}
2025-05-14 15:05:43,160 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,161 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,161 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,161 INFO sqlalchemy.engine.Engine [cached since 2.028s ago] {'artist_name': 'IVE'}

Row 620: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, IVE).
; dropped

{'artist_name': 'IVE'}
2025-05-14 15:05:43,162 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,163 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,163 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,163 INFO sqlalchemy.engine.Engine [cached since 2.03s ago] {'artist_name': 'Feid, Alejo, Robi'}

Row 621: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Feid, Alejo, Robi).
; dropped

{'artist_name': 'Feid, Alejo, Robi'}
2025-05-14 15:05:43,164 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,165 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,165 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,165 INFO sqlalchemy.engine.Engine [cached since 2.032s ago] {'artist_name': 'Paulo Londra'}

Row 622: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Paulo Londra).
; dropped

{'artist_name': 'Paulo Londra'}
2025-05-14 15:05:43,166 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,166 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,167 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,167 INFO sqlalchemy.engine.Engine [cached since 2.034s ago] {'artist_name': 'Demi Lovato'}

Row 623: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Demi Lovato).
; dropped

{'artist_name': 'Demi Lovato'}
2025-05-14 15:05:43,168 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,168 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,169 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,169 INFO sqlalchemy.engine.Engine [cached since 2.036s ago] {'artist_name': 'Camila Cabello, Willow'}

Row 624: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Camila Cabello, Willow).
; dropped

{'artist_name': 'Camila Cabello, Willow'}
2025-05-14 15:05:43,170 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,170 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,170 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,171 INFO sqlalchemy.engine.Engine [cached since 2.038s ago] {'artist_name': 'Troye Sivan'}

Row 625: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Troye Sivan).
; dropped

{'artist_name': 'Troye Sivan'}
2025-05-14 15:05:43,172 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,172 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,173 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,173 INFO sqlalchemy.engine.Engine [cached since 2.04s ago] {'artist_name': 'Matuï¿½ï¿½, Wiu, '}

Row 626: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Matuï¿½ï¿½, Wiu, ).
; dropped

{'artist_name': 'Matuï¿½ï¿½, Wiu, '}
2025-05-14 15:05:43,174 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,175 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,175 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,175 INFO sqlalchemy.engine.Engine [cached since 2.042s ago] {'artist_name': 'De La Ghetto, Duki, Quevedo'}

Row 627: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, De La Ghetto, Duki, Quevedo).
; dropped

{'artist_name': 'De La Ghetto, Duki, Quevedo'}
2025-05-14 15:05:43,176 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,176 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,177 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,177 INFO sqlalchemy.engine.Engine [cached since 2.044s ago] {'artist_name': 'Lil Baby'}

Row 628: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lil Baby).
; dropped

{'artist_name': 'Lil Baby'}
2025-05-14 15:05:43,178 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,178 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,179 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,179 INFO sqlalchemy.engine.Engine [cached since 2.046s ago] {'artist_name': 'Charlie Puth'}

Row 629: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Charlie Puth).
; dropped

{'artist_name': 'Charlie Puth'}
2025-05-14 15:05:43,180 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,180 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,181 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,181 INFO sqlalchemy.engine.Engine [cached since 2.048s ago] {'artist_name': 'Yahritza Y Su Esencia'}

Row 630: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Yahritza Y Su Esencia).
; dropped

{'artist_name': 'Yahritza Y Su Esencia'}
2025-05-14 15:05:43,182 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,182 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,183 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,183 INFO sqlalchemy.engine.Engine [cached since 2.05s ago] {'artist_name': 'Daddy Yankee'}

Row 631: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Daddy Yankee).
; dropped

{'artist_name': 'Daddy Yankee'}
2025-05-14 15:05:43,184 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,184 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,185 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,185 INFO sqlalchemy.engine.Engine [cached since 2.052s ago] {'artist_name': 'Luï¿½ï¿½sa Sonza, MC Frog, Dj Gabriel do Borel, Davi K'}

Row 632: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Luï¿½ï¿½sa Sonza, MC Frog, Dj Gabriel do Borel, Davi K).
; dropped

{'artist_name': 'Luï¿½ï¿½sa Sonza, MC Frog, Dj Gabriel do Borel, Davi K'}
2025-05-14 15:05:43,186 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,186 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,187 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,187 INFO sqlalchemy.engine.Engine [cached since 2.054s ago] {'artist_name': 'Harry Styles'}

Row 633: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Harry Styles).
; dropped

{'artist_name': 'Harry Styles'}
2025-05-14 15:05:43,188 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,188 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,189 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,189 INFO sqlalchemy.engine.Engine [cached since 2.056s ago] {'artist_name': 'Ed Sheeran, J Balvin'}

Row 634: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ed Sheeran, J Balvin).
; dropped

{'artist_name': 'Ed Sheeran, J Balvin'}
2025-05-14 15:05:43,190 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,190 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,191 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,191 INFO sqlalchemy.engine.Engine [cached since 2.058s ago] {'artist_name': 'teto'}

Row 635: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, teto).
; dropped

{'artist_name': 'teto'}
2025-05-14 15:05:43,192 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,192 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,193 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,193 INFO sqlalchemy.engine.Engine [cached since 2.06s ago] {'artist_name': 'Stray Kids'}

Row 636: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Stray Kids).
; dropped

{'artist_name': 'Stray Kids'}
2025-05-14 15:05:43,194 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,194 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,194 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,195 INFO sqlalchemy.engine.Engine [cached since 2.062s ago] {'artist_name': 'Shawn Mendes'}

Row 637: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Shawn Mendes).
; dropped

{'artist_name': 'Shawn Mendes'}
2025-05-14 15:05:43,195 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,196 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,196 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,196 INFO sqlalchemy.engine.Engine [cached since 2.064s ago] {'artist_name': 'Blackbear, BoyWithUke'}

Row 638: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Blackbear, BoyWithUke).
; dropped

{'artist_name': 'Blackbear, BoyWithUke'}
2025-05-14 15:05:43,197 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,198 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,198 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,198 INFO sqlalchemy.engine.Engine [cached since 2.065s ago] {'artist_name': 'Harry Styles'}

Row 639: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Harry Styles).
; dropped

{'artist_name': 'Harry Styles'}
2025-05-14 15:05:43,199 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,200 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,200 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,200 INFO sqlalchemy.engine.Engine [cached since 2.067s ago] {'artist_name': 'Pharrell Williams, Nile Rodgers, Daft Punk'}

Row 640: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Pharrell Williams, Nile Rodgers, Daft Punk).
; dropped

{'artist_name': 'Pharrell Williams, Nile Rodgers, Daft Punk'}
2025-05-14 15:05:43,201 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,202 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,202 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,202 INFO sqlalchemy.engine.Engine [cached since 2.069s ago] {'artist_name': 'Doja Cat'}

Row 641: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Doja Cat).
; dropped

{'artist_name': 'Doja Cat'}
2025-05-14 15:05:43,203 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,203 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,204 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,204 INFO sqlalchemy.engine.Engine [cached since 2.071s ago] {'artist_name': "Jordan Fisher, Josh Levi, Finneas O'Connell, 4*TOWN (From Disney and Pixarï¿½ï¿½ï¿½s Turning Red), Topher Ngo, Grayson Vill"}

Row 642: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Jordan Fisher, Josh Levi, Finneas O'Connell, 4*TOWN (From Disney...).
; dropped

{'artist_name': "Jordan Fisher, Josh Levi, Finneas O'Connell, 4*TOWN (From Disney and Pixarï¿½ï¿½ï¿½s Turning Red), Topher Ngo, Grayson Vill"}
2025-05-14 15:05:43,205 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,205 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,205 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,206 INFO sqlalchemy.engine.Engine [cached since 2.073s ago] {'artist_name': 'BIGBANG'}

Row 643: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, BIGBANG).
; dropped

{'artist_name': 'BIGBANG'}
2025-05-14 15:05:43,207 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,207 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,207 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,207 INFO sqlalchemy.engine.Engine [cached since 2.075s ago] {'artist_name': 'Ed Sheeran'}

Row 644: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ed Sheeran).
; dropped

{'artist_name': 'Ed Sheeran'}
2025-05-14 15:05:43,208 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,209 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,209 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,209 INFO sqlalchemy.engine.Engine [cached since 2.076s ago] {'artist_name': 'Justin Bieber'}

Row 645: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Justin Bieber).
; dropped

{'artist_name': 'Justin Bieber'}
2025-05-14 15:05:43,210 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,210 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,211 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,211 INFO sqlalchemy.engine.Engine [cached since 2.078s ago] {'artist_name': 'Kendrick Lamar'}

Row 646: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar).
; dropped

{'artist_name': 'Kendrick Lamar'}
2025-05-14 15:05:43,212 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,212 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,212 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,213 INFO sqlalchemy.engine.Engine [cached since 2.08s ago] {'artist_name': 'Lizzo'}

Row 647: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lizzo).
; dropped

{'artist_name': 'Lizzo'}
2025-05-14 15:05:43,214 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,214 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,214 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,215 INFO sqlalchemy.engine.Engine [cached since 2.082s ago] {'artist_name': 'Kendrick Lamar, Blxst, Amanda Reifer'}

Row 648: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar, Blxst, Amanda Reifer).
; dropped

{'artist_name': 'Kendrick Lamar, Blxst, Amanda Reifer'}
2025-05-14 15:05:43,216 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,216 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,216 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,216 INFO sqlalchemy.engine.Engine [cached since 2.084s ago] {'artist_name': 'Bad Bunny'}

Row 649: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny).
; dropped

{'artist_name': 'Bad Bunny'}
2025-05-14 15:05:43,217 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,218 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,218 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,218 INFO sqlalchemy.engine.Engine [cached since 2.085s ago] {'artist_name': 'Kendrick Lamar'}

Row 650: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar).
; dropped

{'artist_name': 'Kendrick Lamar'}
2025-05-14 15:05:43,219 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,219 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,220 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,220 INFO sqlalchemy.engine.Engine [cached since 2.087s ago] {'artist_name': 'Kendrick Lamar, Sampha'}

Row 651: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar, Sampha).
; dropped

{'artist_name': 'Kendrick Lamar, Sampha'}
2025-05-14 15:05:43,221 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,221 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,221 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,222 INFO sqlalchemy.engine.Engine [cached since 2.089s ago] {'artist_name': 'Kendrick Lamar'}

Row 652: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar).
; dropped

{'artist_name': 'Kendrick Lamar'}
2025-05-14 15:05:43,222 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,223 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,223 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,223 INFO sqlalchemy.engine.Engine [cached since 2.09s ago] {'artist_name': 'Bad Bunny'}

Row 653: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny).
; dropped

{'artist_name': 'Bad Bunny'}
2025-05-14 15:05:43,224 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,225 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,225 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,225 INFO sqlalchemy.engine.Engine [cached since 2.092s ago] {'artist_name': 'Kendrick Lamar, Kodak Black'}

Row 654: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar, Kodak Black).
; dropped

{'artist_name': 'Kendrick Lamar, Kodak Black'}
2025-05-14 15:05:43,226 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,226 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,227 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,227 INFO sqlalchemy.engine.Engine [cached since 2.094s ago] {'artist_name': 'Tony Dize, Bad Bunny'}

Row 655: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Tony Dize, Bad Bunny).
; dropped

{'artist_name': 'Tony Dize, Bad Bunny'}
2025-05-14 15:05:43,228 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,228 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,228 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,228 INFO sqlalchemy.engine.Engine [cached since 2.096s ago] {'artist_name': 'Kendrick Lamar'}

Row 656: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar).
; dropped

{'artist_name': 'Kendrick Lamar'}
2025-05-14 15:05:43,229 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,230 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,230 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,230 INFO sqlalchemy.engine.Engine [cached since 2.097s ago] {'artist_name': 'Buscabulla, Bad Bunny'}

Row 657: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Buscabulla, Bad Bunny).
; dropped

{'artist_name': 'Buscabulla, Bad Bunny'}
2025-05-14 15:05:43,231 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,232 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,232 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,232 INFO sqlalchemy.engine.Engine [cached since 2.099s ago] {'artist_name': 'Bad Bunny'}

Row 658: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny).
; dropped

{'artist_name': 'Bad Bunny'}
2025-05-14 15:05:43,233 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,233 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,234 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,234 INFO sqlalchemy.engine.Engine [cached since 2.101s ago] {'artist_name': 'Kendrick Lamar, Taylour Paige'}

Row 659: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar, Taylour Paige).
; dropped

{'artist_name': 'Kendrick Lamar, Taylour Paige'}
2025-05-14 15:05:43,235 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,235 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,235 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,236 INFO sqlalchemy.engine.Engine [cached since 2.103s ago] {'artist_name': 'Kendrick Lamar, Sam Dew, Baby Keem'}

Row 660: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar, Sam Dew, Baby Keem).
; dropped

{'artist_name': 'Kendrick Lamar, Sam Dew, Baby Keem'}
2025-05-14 15:05:43,236 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,237 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,237 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,237 INFO sqlalchemy.engine.Engine [cached since 2.104s ago] {'artist_name': 'Bad Bunny'}

Row 661: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny).
; dropped

{'artist_name': 'Bad Bunny'}
2025-05-14 15:05:43,238 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,238 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,238 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,239 INFO sqlalchemy.engine.Engine [cached since 2.106s ago] {'artist_name': 'Bad Bunny, The Marï¿½ï'}

Row 662: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny, The Marï¿½ï).
; dropped

{'artist_name': 'Bad Bunny, The Marï¿½ï'}
2025-05-14 15:05:43,239 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,240 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,240 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,240 INFO sqlalchemy.engine.Engine [cached since 2.108s ago] {'artist_name': 'Kendrick Lamar'}

Row 663: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar).
; dropped

{'artist_name': 'Kendrick Lamar'}
2025-05-14 15:05:43,241 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,242 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,242 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,242 INFO sqlalchemy.engine.Engine [cached since 2.109s ago] {'artist_name': 'Bad Bunny'}

Row 664: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny).
; dropped

{'artist_name': 'Bad Bunny'}
2025-05-14 15:05:43,243 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,243 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,244 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,244 INFO sqlalchemy.engine.Engine [cached since 2.111s ago] {'artist_name': 'Kendrick Lamar, Ghostface Killah, Summer Walker'}

Row 665: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar, Ghostface Killah, Summer Walker).
; dropped

{'artist_name': 'Kendrick Lamar, Ghostface Killah, Summer Walker'}
2025-05-14 15:05:43,245 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,245 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,246 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,246 INFO sqlalchemy.engine.Engine [cached since 2.113s ago] {'artist_name': 'Bad Bunny'}
{'artist_name': 'Bad Bunny'}

Row 666: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny).
; dropped

2025-05-14 15:05:43,247 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,247 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,248 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,248 INFO sqlalchemy.engine.Engine [cached since 2.115s ago] {'artist_name': 'Polima WestCoast, Pailita'}

Row 667: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Polima WestCoast, Pailita).
; dropped

{'artist_name': 'Polima WestCoast, Pailita'}
2025-05-14 15:05:43,249 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,249 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,250 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,250 INFO sqlalchemy.engine.Engine [cached since 2.117s ago] {'artist_name': 'Bad Bunny'}

Row 668: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny).
; dropped

{'artist_name': 'Bad Bunny'}
2025-05-14 15:05:43,251 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,252 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,252 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,252 INFO sqlalchemy.engine.Engine [cached since 2.12s ago] {'artist_name': 'Bad Bunny'}

Row 669: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny).
; dropped

{'artist_name': 'Bad Bunny'}
2025-05-14 15:05:43,253 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,254 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,254 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,255 INFO sqlalchemy.engine.Engine [cached since 2.122s ago] {'artist_name': 'Bad Bunny, Tainy'}

Row 670: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny, Tainy).
; dropped

{'artist_name': 'Bad Bunny, Tainy'}
2025-05-14 15:05:43,256 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,256 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,256 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,257 INFO sqlalchemy.engine.Engine [cached since 2.124s ago] {'artist_name': 'Jack Harlow'}

Row 671: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Jack Harlow).
; dropped

{'artist_name': 'Jack Harlow'}
2025-05-14 15:05:43,258 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,258 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,259 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,259 INFO sqlalchemy.engine.Engine [cached since 2.126s ago] {'artist_name': 'Bad Bunny'}

Row 672: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bad Bunny).
; dropped

{'artist_name': 'Bad Bunny'}
2025-05-14 15:05:43,260 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,261 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,261 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,261 INFO sqlalchemy.engine.Engine [cached since 2.128s ago] {'artist_name': 'Panic! At The Disco'}

Row 673: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Panic! At The Disco).
; dropped

{'artist_name': 'Panic! At The Disco'}
2025-05-14 15:05:43,262 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,263 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,263 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,263 INFO sqlalchemy.engine.Engine [cached since 2.131s ago] {'artist_name': 'Kendrick Lamar, Tanna Leone'}
{'artist_name': 'Kendrick Lamar, Tanna Leone'}

Row 674: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar, Tanna Leone).
; dropped

2025-05-14 15:05:43,266 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,267 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,267 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,267 INFO sqlalchemy.engine.Engine [cached since 2.135s ago] {'artist_name': 'PSY, Suga'}

Row 675: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, PSY, Suga).
; dropped

{'artist_name': 'PSY, Suga'}
2025-05-14 15:05:43,268 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,269 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,269 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,270 INFO sqlalchemy.engine.Engine [cached since 2.137s ago] {'artist_name': 'Benson Boone'}

Row 676: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Benson Boone).
; dropped

{'artist_name': 'Benson Boone'}
2025-05-14 15:05:43,270 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,271 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,271 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,271 INFO sqlalchemy.engine.Engine [cached since 2.139s ago] {'artist_name': 'Kendrick Lamar'}

Row 677: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar).
; dropped

{'artist_name': 'Kendrick Lamar'}
2025-05-14 15:05:43,273 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,273 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,274 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,274 INFO sqlalchemy.engine.Engine [cached since 2.141s ago] {'artist_name': 'Mï¿½ï¿½ne'}

Row 678: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Mï¿½ï¿½ne).
; dropped

{'artist_name': 'Mï¿½ï¿½ne'}
2025-05-14 15:05:43,275 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,276 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,276 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,276 INFO sqlalchemy.engine.Engine [cached since 2.143s ago] {'artist_name': 'KALUSH'}

Row 679: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, KALUSH).
; dropped

{'artist_name': 'KALUSH'}
2025-05-14 15:05:43,277 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,278 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,278 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,278 INFO sqlalchemy.engine.Engine [cached since 2.145s ago] {'artist_name': 'The Kid Laroi'}

Row 680: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Kid Laroi).
; dropped

{'artist_name': 'The Kid Laroi'}
2025-05-14 15:05:43,279 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,280 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,281 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,281 INFO sqlalchemy.engine.Engine [cached since 2.148s ago] {'artist_name': 'Kendrick Lamar'}

Row 681: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar).
; dropped

{'artist_name': 'Kendrick Lamar'}
2025-05-14 15:05:43,282 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,283 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,283 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,284 INFO sqlalchemy.engine.Engine [cached since 2.151s ago] {'artist_name': 'Kendrick Lamar'}

Row 682: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar).
; dropped

{'artist_name': 'Kendrick Lamar'}
2025-05-14 15:05:43,285 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,285 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,286 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,286 INFO sqlalchemy.engine.Engine [cached since 2.153s ago] {'artist_name': 'Future'}

Row 683: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Future).
; dropped

{'artist_name': 'Future'}
2025-05-14 15:05:43,287 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,288 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,289 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,289 INFO sqlalchemy.engine.Engine [cached since 2.156s ago] {'artist_name': 'Kendrick Lamar'}

Row 684: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar).
; dropped

{'artist_name': 'Kendrick Lamar'}
2025-05-14 15:05:43,291 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,292 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,292 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,293 INFO sqlalchemy.engine.Engine [cached since 2.16s ago] {'artist_name': 'Luciano'}
{'artist_name': 'Luciano'}

Row 685: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Luciano).
; dropped

2025-05-14 15:05:43,294 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,295 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,296 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,296 INFO sqlalchemy.engine.Engine [cached since 2.163s ago] {'artist_name': 'Kendrick Lamar'}

Row 686: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar).
; dropped

{'artist_name': 'Kendrick Lamar'}
2025-05-14 15:05:43,298 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,298 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,299 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,299 INFO sqlalchemy.engine.Engine [cached since 2.166s ago] {'artist_name': 'Shae Gill, Ali Sethi'}

Row 687: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Shae Gill, Ali Sethi).
; dropped

{'artist_name': 'Shae Gill, Ali Sethi'}
2025-05-14 15:05:43,300 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,301 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,302 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,302 INFO sqlalchemy.engine.Engine [cached since 2.169s ago] {'artist_name': 'Kendrick Lamar, Beth Gibbons'}

Row 688: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar, Beth Gibbons).
; dropped

{'artist_name': 'Kendrick Lamar, Beth Gibbons'}
2025-05-14 15:05:43,304 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,305 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,305 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,305 INFO sqlalchemy.engine.Engine [cached since 2.173s ago] {'artist_name': 'Sech, Mora'}
{'artist_name': 'Sech, Mora'}

Row 689: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Sech, Mora).
; dropped

2025-05-14 15:05:43,308 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,309 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,309 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,309 INFO sqlalchemy.engine.Engine [cached since 2.177s ago] {'artist_name': 'MNEK, Jax Jones'}

Row 690: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, MNEK, Jax Jones).
; dropped

{'artist_name': 'MNEK, Jax Jones'}
2025-05-14 15:05:43,311 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,312 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,313 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,313 INFO sqlalchemy.engine.Engine [cached since 2.18s ago] {'artist_name': 'Ugly Dray, Tesla Jnr'}
{'artist_name': 'Ugly Dray, Tesla Jnr'}

Row 691: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ugly Dray, Tesla Jnr).
; dropped

2025-05-14 15:05:43,316 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,317 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,317 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,317 INFO sqlalchemy.engine.Engine [cached since 2.185s ago] {'artist_name': 'Justin Bieber, Don Toliver'}

Row 692: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Justin Bieber, Don Toliver).
; dropped

{'artist_name': 'Justin Bieber, Don Toliver'}
2025-05-14 15:05:43,319 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,319 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,320 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,320 INFO sqlalchemy.engine.Engine [cached since 2.187s ago] {'artist_name': 'Jessi'}

Row 693: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Jessi).
; dropped

{'artist_name': 'Jessi'}
2025-05-14 15:05:43,321 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,322 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,322 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,323 INFO sqlalchemy.engine.Engine [cached since 2.19s ago] {'artist_name': 'Chanel'}

Row 694: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Chanel).
; dropped

{'artist_name': 'Chanel'}
2025-05-14 15:05:43,325 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,326 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,326 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,326 INFO sqlalchemy.engine.Engine [cached since 2.194s ago] {'artist_name': 'LE SSERAFIM'}
{'artist_name': 'LE SSERAFIM'}

Row 695: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, LE SSERAFIM).
; dropped

2025-05-14 15:05:43,329 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,329 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,330 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,330 INFO sqlalchemy.engine.Engine [cached since 2.197s ago] {'artist_name': 'Leah Kate'}

Row 696: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Leah Kate).
; dropped

{'artist_name': 'Leah Kate'}
2025-05-14 15:05:43,333 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,334 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,334 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,335 INFO sqlalchemy.engine.Engine [cached since 2.202s ago] {'artist_name': 'Sam Ryder'}

Row 697: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Sam Ryder).
; dropped

{'artist_name': 'Sam Ryder'}
2025-05-14 15:05:43,336 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,337 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,337 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,337 INFO sqlalchemy.engine.Engine [cached since 2.205s ago] {'artist_name': 'HA SUNG WOON, Jimin'}

Row 698: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, HA SUNG WOON, Jimin).
; dropped

{'artist_name': 'HA SUNG WOON, Jimin'}
2025-05-14 15:05:43,340 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,342 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,343 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,344 INFO sqlalchemy.engine.Engine [cached since 2.211s ago] {'artist_name': 'The Goo Goo Dolls'}

Row 699: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, The Goo Goo Dolls).
; dropped

{'artist_name': 'The Goo Goo Dolls'}
2025-05-14 15:05:43,346 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,347 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,347 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,347 INFO sqlalchemy.engine.Engine [cached since 2.214s ago] {'artist_name': 'Kendrick Lamar'}

Row 700: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kendrick Lamar).
; dropped

{'artist_name': 'Kendrick Lamar'}
2025-05-14 15:05:43,348 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,349 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,351 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,351 INFO sqlalchemy.engine.Engine [cached since 2.218s ago] {'artist_name': 'Kevin Kaarl'}

Row 701: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kevin Kaarl).
; dropped

{'artist_name': 'Kevin Kaarl'}
2025-05-14 15:05:43,353 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,354 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,355 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,355 INFO sqlalchemy.engine.Engine [cached since 2.222s ago] {'artist_name': 'Taylor Swift'}

Row 702: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:43,356 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,357 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,357 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,357 INFO sqlalchemy.engine.Engine [cached since 2.224s ago] {'artist_name': 'Suki Waterhouse'}

Row 703: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Suki Waterhouse).
; dropped

{'artist_name': 'Suki Waterhouse'}
2025-05-14 15:05:43,358 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,358 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,359 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,359 INFO sqlalchemy.engine.Engine [cached since 2.227s ago] {'artist_name': 'Lauren Spencer Smith'}

Row 704: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lauren Spencer Smith).
; dropped

{'artist_name': 'Lauren Spencer Smith'}
2025-05-14 15:05:43,360 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,361 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,361 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,361 INFO sqlalchemy.engine.Engine [cached since 2.228s ago] {'artist_name': 'BTS'}

Row 705: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, BTS).
; dropped

{'artist_name': 'BTS'}
2025-05-14 15:05:43,362 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,362 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,362 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,363 INFO sqlalchemy.engine.Engine [cached since 2.23s ago] {'artist_name': 'BTS'}

Row 706: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, BTS).
; dropped

{'artist_name': 'BTS'}
2025-05-14 15:05:43,364 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,364 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,365 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,365 INFO sqlalchemy.engine.Engine [cached since 2.232s ago] {'artist_name': 'Harry Styles'}

Row 707: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Harry Styles).
; dropped

{'artist_name': 'Harry Styles'}
2025-05-14 15:05:43,366 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,367 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,367 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,368 INFO sqlalchemy.engine.Engine [cached since 2.235s ago] {'artist_name': 'Harry Styles'}

Row 708: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Harry Styles).
; dropped

{'artist_name': 'Harry Styles'}
2025-05-14 15:05:43,368 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,369 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,369 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,369 INFO sqlalchemy.engine.Engine [cached since 2.236s ago] {'artist_name': 'BTS'}

Row 709: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, BTS).
; dropped

{'artist_name': 'BTS'}
2025-05-14 15:05:43,370 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,370 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,371 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,371 INFO sqlalchemy.engine.Engine [cached since 2.238s ago] {'artist_name': 'Doja Cat'}

Row 710: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Doja Cat).
; dropped

{'artist_name': 'Doja Cat'}
2025-05-14 15:05:43,372 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,372 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,373 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,373 INFO sqlalchemy.engine.Engine [cached since 2.24s ago] {'artist_name': 'Pharrell Williams, Tyler, The Creator, 21 Savage'}

Row 711: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Pharrell Williams, Tyler, The Creator, 21 Savage).
; dropped

{'artist_name': 'Pharrell Williams, Tyler, The Creator, 21 Savage'}
2025-05-14 15:05:43,374 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,375 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,375 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,376 INFO sqlalchemy.engine.Engine [cached since 2.243s ago] {'artist_name': 'Calvin Harris, Dua Lipa, Young Thug'}

Row 712: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Calvin Harris, Dua Lipa, Young Thug).
; dropped

{'artist_name': 'Calvin Harris, Dua Lipa, Young Thug'}
2025-05-14 15:05:43,376 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,377 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,377 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,377 INFO sqlalchemy.engine.Engine [cached since 2.245s ago] {'artist_name': 'BTS'}

Row 713: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, BTS).
; dropped

{'artist_name': 'BTS'}
2025-05-14 15:05:43,378 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,379 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,379 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,379 INFO sqlalchemy.engine.Engine [cached since 2.247s ago] {'artist_name': 'Harry Styles'}
{'artist_name': 'Harry Styles'}

Row 714: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Harry Styles).
; dropped

2025-05-14 15:05:43,381 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,382 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,382 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,383 INFO sqlalchemy.engine.Engine [cached since 2.25s ago] {'artist_name': 'Nengo Flow, Anuel Aa, Chris Jedi, Chencho Corleone'}
{'artist_name': 'Nengo Flow, Anuel Aa, Chris Jedi, Chencho Corleone'}

Row 715: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Nengo Flow, Anuel Aa, Chris Jedi, Chencho Corleone).
; dropped

2025-05-14 15:05:43,384 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,385 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,385 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,386 INFO sqlalchemy.engine.Engine [cached since 2.253s ago] {'artist_name': 'Kanye West, XXXTENTACION'}

Row 716: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kanye West, XXXTENTACION).
; dropped

{'artist_name': 'Kanye West, XXXTENTACION'}
2025-05-14 15:05:43,387 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,387 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,388 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,388 INFO sqlalchemy.engine.Engine [cached since 2.255s ago] {'artist_name': 'Musical Youth'}

Row 717: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Musical Youth).
; dropped

{'artist_name': 'Musical Youth'}
2025-05-14 15:05:43,390 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,390 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,391 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,391 INFO sqlalchemy.engine.Engine [cached since 2.258s ago] {'artist_name': 'Bizarrap, Villano Antillano'}

Row 718: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Bizarrap, Villano Antillano).
; dropped

{'artist_name': 'Bizarrap, Villano Antillano'}
2025-05-14 15:05:43,392 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,393 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,393 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,393 INFO sqlalchemy.engine.Engine [cached since 2.261s ago] {'artist_name': 'Harry Styles'}

Row 719: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Harry Styles).
; dropped

{'artist_name': 'Harry Styles'}
2025-05-14 15:05:43,395 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,395 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,396 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,396 INFO sqlalchemy.engine.Engine [cached since 2.263s ago] {'artist_name': 'Harry Styles'}

Row 720: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Harry Styles).
; dropped

{'artist_name': 'Harry Styles'}
2025-05-14 15:05:43,397 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,398 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,399 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,399 INFO sqlalchemy.engine.Engine [cached since 2.266s ago] {'artist_name': 'Halsey'}

Row 721: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Halsey).
; dropped

{'artist_name': 'Halsey'}
2025-05-14 15:05:43,400 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,401 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,402 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,402 INFO sqlalchemy.engine.Engine [cached since 2.27s ago] {'artist_name': 'BYOR, Imanbek'}

Row 722: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, BYOR, Imanbek).
; dropped

{'artist_name': 'BYOR, Imanbek'}
2025-05-14 15:05:43,404 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,405 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,406 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,406 INFO sqlalchemy.engine.Engine [cached since 2.273s ago] {'artist_name': 'Harry Styles'}

Row 723: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Harry Styles).
; dropped

{'artist_name': 'Harry Styles'}
2025-05-14 15:05:43,408 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,409 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,410 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,410 INFO sqlalchemy.engine.Engine [cached since 2.277s ago] {'artist_name': 'Harry Styles'}

Row 724: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Harry Styles).
; dropped

{'artist_name': 'Harry Styles'}
2025-05-14 15:05:43,411 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,412 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,412 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,413 INFO sqlalchemy.engine.Engine [cached since 2.28s ago] {'artist_name': 'Sleepy hallow, 347aidan'}

Row 725: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Sleepy hallow, 347aidan).
; dropped

{'artist_name': 'Sleepy hallow, 347aidan'}
2025-05-14 15:05:43,415 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,415 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,416 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,416 INFO sqlalchemy.engine.Engine [cached since 2.283s ago] {'artist_name': 'Paloma Faith'}

Row 726: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Paloma Faith).
; dropped

{'artist_name': 'Paloma Faith'}
2025-05-14 15:05:43,417 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,418 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,418 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,418 INFO sqlalchemy.engine.Engine [cached since 2.286s ago] {'artist_name': 'Lady Gaga'}

Row 727: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lady Gaga).
; dropped

{'artist_name': 'Lady Gaga'}
2025-05-14 15:05:43,419 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,420 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,420 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,421 INFO sqlalchemy.engine.Engine [cached since 2.288s ago] {'artist_name': 'Harry Styles'}

Row 728: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Harry Styles).
; dropped

{'artist_name': 'Harry Styles'}
2025-05-14 15:05:43,422 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,422 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,423 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,423 INFO sqlalchemy.engine.Engine [cached since 2.29s ago] {'artist_name': 'Ozuna, Tiago pzk'}

Row 729: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ozuna, Tiago pzk).
; dropped

{'artist_name': 'Ozuna, Tiago pzk'}
2025-05-14 15:05:43,424 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,424 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,425 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,425 INFO sqlalchemy.engine.Engine [cached since 2.292s ago] {'artist_name': 'Childish Gambino'}

Row 730: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Childish Gambino).
; dropped

{'artist_name': 'Childish Gambino'}
2025-05-14 15:05:43,426 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,426 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,427 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,427 INFO sqlalchemy.engine.Engine [cached since 2.294s ago] {'artist_name': 'David Guetta, Ella Henderson, Becky Hill'}

Row 731: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, David Guetta, Ella Henderson, Becky Hill).
; dropped

{'artist_name': 'David Guetta, Ella Henderson, Becky Hill'}
2025-05-14 15:05:43,428 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,428 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,429 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,429 INFO sqlalchemy.engine.Engine [cached since 2.296s ago] {'artist_name': 'Joji'}

Row 732: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Joji).
; dropped

{'artist_name': 'Joji'}
2025-05-14 15:05:43,430 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,430 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,431 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,431 INFO sqlalchemy.engine.Engine [cached since 2.298s ago] {'artist_name': 'Duki'}

Row 733: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Duki).
; dropped

{'artist_name': 'Duki'}
2025-05-14 15:05:43,432 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,432 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,433 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,433 INFO sqlalchemy.engine.Engine [cached since 2.3s ago] {'artist_name': 'Sidhu Moose Wala'}
{'artist_name': 'Sidhu Moose Wala'}

Row 734: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Sidhu Moose Wala).
; dropped

2025-05-14 15:05:43,434 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,435 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,435 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,435 INFO sqlalchemy.engine.Engine [cached since 2.302s ago] {'artist_name': 'Victor Cibrian'}

Row 735: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Victor Cibrian).
; dropped

{'artist_name': 'Victor Cibrian'}
2025-05-14 15:05:43,436 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,437 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,437 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,437 INFO sqlalchemy.engine.Engine [cached since 2.304s ago] {'artist_name': 'Metallica'}

Row 736: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Metallica).
; dropped

{'artist_name': 'Metallica'}
2025-05-14 15:05:43,442 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,450 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,461 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,466 INFO sqlalchemy.engine.Engine [cached since 2.333s ago] {'artist_name': 'Beyoncï¿'}

Row 737: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Beyoncï¿).
; dropped

{'artist_name': 'Beyoncï¿'}
2025-05-14 15:05:43,468 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,469 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,473 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,481 INFO sqlalchemy.engine.Engine [cached since 2.348s ago] {'artist_name': 'De La Ghetto, Feid, Polima WestCoast, Paloma Mami, Pailita'}
{'artist_name': 'De La Ghetto, Feid, Polima WestCoast, Paloma Mami, Pailita'}

Row 738: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, De La Ghetto, Feid, Polima WestCoast, Paloma Mami, Pailita).
; dropped

2025-05-14 15:05:43,492 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,493 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,502 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,511 INFO sqlalchemy.engine.Engine [cached since 2.378s ago] {'artist_name': 'Drake'}
{'artist_name': 'Drake'}

Row 739: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Drake).
; dropped

2025-05-14 15:05:43,527 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,528 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,528 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,529 INFO sqlalchemy.engine.Engine [cached since 2.396s ago] {'artist_name': 'Yung Gravy'}

Row 740: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Yung Gravy).
; dropped

{'artist_name': 'Yung Gravy'}
2025-05-14 15:05:43,530 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,530 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,531 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,531 INFO sqlalchemy.engine.Engine [cached since 2.398s ago] {'artist_name': 'Lasso'}

Row 741: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lasso).
; dropped

{'artist_name': 'Lasso'}
2025-05-14 15:05:43,532 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,532 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,533 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,533 INFO sqlalchemy.engine.Engine [cached since 2.4s ago] {'artist_name': 'Nayeon'}

Row 742: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Nayeon).
; dropped

{'artist_name': 'Nayeon'}
2025-05-14 15:05:43,534 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,535 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,535 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,535 INFO sqlalchemy.engine.Engine [cached since 2.403s ago] {'artist_name': 'Schï¿½ï¿½rze, DJ R'}

Row 743: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Schï¿½ï¿½rze, DJ R).
; dropped

{'artist_name': 'Schï¿½ï¿½rze, DJ R'}
2025-05-14 15:05:43,537 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,537 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,538 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,538 INFO sqlalchemy.engine.Engine [cached since 2.405s ago] {'artist_name': 'j-hope'}

Row 744: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, j-hope).
; dropped

{'artist_name': 'j-hope'}
2025-05-14 15:05:43,540 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,541 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,541 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,541 INFO sqlalchemy.engine.Engine [cached since 2.409s ago] {'artist_name': "Guns N' Roses"}

Row 745: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Guns N' Roses).
; dropped

{'artist_name': "Guns N' Roses"}
2025-05-14 15:05:43,543 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,543 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,544 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,544 INFO sqlalchemy.engine.Engine [cached since 2.411s ago] {'artist_name': 'Burna Boy'}

Row 746: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Burna Boy).
; dropped

{'artist_name': 'Burna Boy'}
2025-05-14 15:05:43,545 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,546 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,547 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,547 INFO sqlalchemy.engine.Engine [cached since 2.414s ago] {'artist_name': 'Drake'}

Row 747: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Drake).
; dropped

{'artist_name': 'Drake'}
2025-05-14 15:05:43,548 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,549 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,550 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,550 INFO sqlalchemy.engine.Engine [cached since 2.417s ago] {'artist_name': 'Kanye West, Lil Durk, Cardi B'}

Row 748: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kanye West, Lil Durk, Cardi B).
; dropped

{'artist_name': 'Kanye West, Lil Durk, Cardi B'}
2025-05-14 15:05:43,551 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,552 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,554 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,554 INFO sqlalchemy.engine.Engine [cached since 2.422s ago] {'artist_name': 'L7nnon, DJ Biel do Furduncinho, Bianca'}
{'artist_name': 'L7nnon, DJ Biel do Furduncinho, Bianca'}

Row 749: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, L7nnon, DJ Biel do Furduncinho, Bianca).
; dropped

2025-05-14 15:05:43,558 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,559 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,559 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,560 INFO sqlalchemy.engine.Engine [cached since 2.427s ago] {'artist_name': 'Anitta, Tini, Becky G'}

Row 750: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Anitta, Tini, Becky G).
; dropped

{'artist_name': 'Anitta, Tini, Becky G'}
2025-05-14 15:05:43,561 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,562 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,562 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,562 INFO sqlalchemy.engine.Engine [cached since 2.43s ago] {'artist_name': 'Nessa Barrett'}

Row 751: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Nessa Barrett).
; dropped

{'artist_name': 'Nessa Barrett'}
2025-05-14 15:05:43,564 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,565 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,565 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,566 INFO sqlalchemy.engine.Engine [cached since 2.433s ago] {'artist_name': 'LF System'}

Row 752: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, LF System).
; dropped

{'artist_name': 'LF System'}
2025-05-14 15:05:43,567 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,568 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,568 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,569 INFO sqlalchemy.engine.Engine [cached since 2.436s ago] {'artist_name': 'Mc Vitin Da Igrejinha, MC Tairon, DJ Win'}

Row 753: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Mc Vitin Da Igrejinha, MC Tairon, DJ Win).
; dropped

{'artist_name': 'Mc Vitin Da Igrejinha, MC Tairon, DJ Win'}
2025-05-14 15:05:43,569 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,570 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,571 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,571 INFO sqlalchemy.engine.Engine [cached since 2.439s ago] {'artist_name': 'Rels B'}
{'artist_name': 'Rels B'}

Row 754: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Rels B).
; dropped

2025-05-14 15:05:43,573 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,574 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,574 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,575 INFO sqlalchemy.engine.Engine [cached since 2.442s ago] {'artist_name': 'Drake, DJ Khaled, Lil Baby'}
{'artist_name': 'Drake, DJ Khaled, Lil Baby'}

Row 755: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Drake, DJ Khaled, Lil Baby).
; dropped

2025-05-14 15:05:43,577 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,578 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,579 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,580 INFO sqlalchemy.engine.Engine [cached since 2.447s ago] {'artist_name': 'Feid'}

Row 756: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Feid).
; dropped

{'artist_name': 'Feid'}
2025-05-14 15:05:43,582 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,583 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,621 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,636 INFO sqlalchemy.engine.Engine [cached since 2.503s ago] {'artist_name': 'Duki'}

Row 757: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Duki).
; dropped

{'artist_name': 'Duki'}
2025-05-14 15:05:43,653 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,662 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,675 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,685 INFO sqlalchemy.engine.Engine [cached since 2.552s ago] {'artist_name': 'Beyoncï¿'}

Row 758: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Beyoncï¿).
; dropped

{'artist_name': 'Beyoncï¿'}
2025-05-14 15:05:43,696 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,699 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,701 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,701 INFO sqlalchemy.engine.Engine [cached since 2.568s ago] {'artist_name': 'Ghost'}

Row 759: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ghost).
; dropped

{'artist_name': 'Ghost'}
2025-05-14 15:05:43,704 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,705 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,705 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,706 INFO sqlalchemy.engine.Engine [cached since 2.573s ago] {'artist_name': 'NewJeans'}

Row 760: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, NewJeans).
; dropped

{'artist_name': 'NewJeans'}
2025-05-14 15:05:43,707 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,709 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,710 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,711 INFO sqlalchemy.engine.Engine [cached since 2.578s ago] {'artist_name': 'Rex Orange County'}

Row 761: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Rex Orange County).
; dropped

{'artist_name': 'Rex Orange County'}
2025-05-14 15:05:43,714 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,714 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,715 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,715 INFO sqlalchemy.engine.Engine [cached since 2.582s ago] {'artist_name': 'Sofia Carson'}

Row 762: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Sofia Carson).
; dropped

{'artist_name': 'Sofia Carson'}
2025-05-14 15:05:43,716 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,717 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,718 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,718 INFO sqlalchemy.engine.Engine [cached since 2.585s ago] {'artist_name': 'Grupo Marca Registrada, Junior H'}

Row 763: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Grupo Marca Registrada, Junior H).
; dropped

{'artist_name': 'Grupo Marca Registrada, Junior H'}
2025-05-14 15:05:43,719 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,719 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,720 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,720 INFO sqlalchemy.engine.Engine [cached since 2.587s ago] {'artist_name': 'Kanye West'}

Row 764: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kanye West).
; dropped

{'artist_name': 'Kanye West'}
2025-05-14 15:05:43,721 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,722 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,722 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,722 INFO sqlalchemy.engine.Engine [cached since 2.59s ago] {'artist_name': 'Calvin Harris, Halsey, Pharrell Williams, Justin Timberlake'}

Row 765: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Calvin Harris, Halsey, Pharrell Williams, Justin Timberlake).
; dropped

{'artist_name': 'Calvin Harris, Halsey, Pharrell Williams, Justin Timberlake'}
2025-05-14 15:05:43,724 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,724 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,725 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,725 INFO sqlalchemy.engine.Engine [cached since 2.592s ago] {'artist_name': 'Luis R Conriquez, La Adictiva'}

Row 766: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Luis R Conriquez, La Adictiva).
; dropped

{'artist_name': 'Luis R Conriquez, La Adictiva'}
2025-05-14 15:05:43,726 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,727 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,727 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,728 INFO sqlalchemy.engine.Engine [cached since 2.595s ago] {'artist_name': 'David Guetta, Shakira, Black Eyed Peas'}

Row 767: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, David Guetta, Shakira, Black Eyed Peas).
; dropped

{'artist_name': 'David Guetta, Shakira, Black Eyed Peas'}
2025-05-14 15:05:43,729 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,729 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,730 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,730 INFO sqlalchemy.engine.Engine [cached since 2.597s ago] {'artist_name': 'Melody, Ana Castela, Dj Chris No Beat'}

Row 768: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Melody, Ana Castela, Dj Chris No Beat).
; dropped

{'artist_name': 'Melody, Ana Castela, Dj Chris No Beat'}
2025-05-14 15:05:43,731 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,732 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,732 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,733 INFO sqlalchemy.engine.Engine [cached since 2.6s ago] {'artist_name': 'Lewis Capaldi'}

Row 769: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lewis Capaldi).
; dropped

{'artist_name': 'Lewis Capaldi'}
2025-05-14 15:05:43,734 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,735 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,736 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,736 INFO sqlalchemy.engine.Engine [cached since 2.603s ago] {'artist_name': 'Kanye West'}

Row 770: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Kanye West).
; dropped

{'artist_name': 'Kanye West'}
2025-05-14 15:05:43,737 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,738 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,738 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,739 INFO sqlalchemy.engine.Engine [cached since 2.606s ago] {'artist_name': 'TWICE'}

Row 771: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, TWICE).
; dropped

{'artist_name': 'TWICE'}
2025-05-14 15:05:43,741 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,742 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,742 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,743 INFO sqlalchemy.engine.Engine [cached since 2.61s ago] {'artist_name': 'Armani White'}

Row 772: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Armani White).
; dropped

{'artist_name': 'Armani White'}
2025-05-14 15:05:43,744 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,745 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,745 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,745 INFO sqlalchemy.engine.Engine [cached since 2.613s ago] {'artist_name': 'Feid'}

Row 773: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Feid).
; dropped

{'artist_name': 'Feid'}
2025-05-14 15:05:43,747 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,748 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,748 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,748 INFO sqlalchemy.engine.Engine [cached since 2.615s ago] {'artist_name': 'Oxlade'}

Row 774: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Oxlade).
; dropped

{'artist_name': 'Oxlade'}
2025-05-14 15:05:43,750 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,751 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,751 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,752 INFO sqlalchemy.engine.Engine [cached since 2.619s ago] {'artist_name': 'Feid'}

Row 775: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Feid).
; dropped

{'artist_name': 'Feid'}
2025-05-14 15:05:43,753 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,754 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,754 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,755 INFO sqlalchemy.engine.Engine [cached since 2.622s ago] {'artist_name': 'Steve Lacy'}

Row 776: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Steve Lacy).
; dropped

{'artist_name': 'Steve Lacy'}
2025-05-14 15:05:43,756 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,757 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,758 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,758 INFO sqlalchemy.engine.Engine [cached since 2.625s ago] {'artist_name': 'Coldplay'}

Row 777: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Coldplay).
; dropped

{'artist_name': 'Coldplay'}
2025-05-14 15:05:43,759 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,760 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,760 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,761 INFO sqlalchemy.engine.Engine [cached since 2.628s ago] {'artist_name': 'Coldplay'}

Row 778: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Coldplay).
; dropped

{'artist_name': 'Coldplay'}
2025-05-14 15:05:43,762 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,762 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,763 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,763 INFO sqlalchemy.engine.Engine [cached since 2.63s ago] {'artist_name': 'YEAT'}

Row 779: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, YEAT).
; dropped

{'artist_name': 'YEAT'}
2025-05-14 15:05:43,764 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,765 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,765 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,766 INFO sqlalchemy.engine.Engine [cached since 2.633s ago] {'artist_name': 'Yandel, Feid'}

Row 780: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Yandel, Feid).
; dropped

{'artist_name': 'Yandel, Feid'}
2025-05-14 15:05:43,767 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,768 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,768 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,768 INFO sqlalchemy.engine.Engine [cached since 2.636s ago] {'artist_name': 'PnB Rock'}

Row 781: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, PnB Rock).
; dropped

{'artist_name': 'PnB Rock'}
2025-05-14 15:05:43,770 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,770 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,771 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,771 INFO sqlalchemy.engine.Engine [cached since 2.638s ago] {'artist_name': 'Ovy On The Drums, Quevedo'}

Row 782: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ovy On The Drums, Quevedo).
; dropped

{'artist_name': 'Ovy On The Drums, Quevedo'}
2025-05-14 15:05:43,772 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,773 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,773 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,773 INFO sqlalchemy.engine.Engine [cached since 2.641s ago] {'artist_name': 'Feid'}

Row 783: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Feid).
; dropped

{'artist_name': 'Feid'}
2025-05-14 15:05:43,775 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,775 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,776 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,776 INFO sqlalchemy.engine.Engine [cached since 2.643s ago] {'artist_name': 'Lil Yachty'}

Row 784: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lil Yachty).
; dropped

{'artist_name': 'Lil Yachty'}
2025-05-14 15:05:43,777 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,778 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,779 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,779 INFO sqlalchemy.engine.Engine [cached since 2.646s ago] {'artist_name': 'Mï¿½ï¿½ne'}

Row 785: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Mï¿½ï¿½ne).
; dropped

{'artist_name': 'Mï¿½ï¿½ne'}
2025-05-14 15:05:43,780 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,781 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,781 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,781 INFO sqlalchemy.engine.Engine [cached since 2.649s ago] {'artist_name': 'Marshmello, Juice WRLD'}

Row 786: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Marshmello, Juice WRLD).
; dropped

{'artist_name': 'Marshmello, Juice WRLD'}
2025-05-14 15:05:43,783 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,783 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,784 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,784 INFO sqlalchemy.engine.Engine [cached since 2.651s ago] {'artist_name': 'Fran C, Polima WestCoast, Nickoog Clk, Pablito Pesadilla'}

Row 787: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Fran C, Polima WestCoast, Nickoog Clk, Pablito Pesadilla).
; dropped

{'artist_name': 'Fran C, Polima WestCoast, Nickoog Clk, Pablito Pesadilla'}
2025-05-14 15:05:43,785 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,787 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,787 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,788 INFO sqlalchemy.engine.Engine [cached since 2.655s ago] {'artist_name': '(G)I-DLE'}

Row 788: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, (G)I-DLE).
; dropped

{'artist_name': '(G)I-DLE'}
2025-05-14 15:05:43,788 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,789 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,789 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,789 INFO sqlalchemy.engine.Engine [cached since 2.657s ago] {'artist_name': 'Southstar'}

Row 789: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Southstar).
; dropped

{'artist_name': 'Southstar'}
2025-05-14 15:05:43,790 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,791 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,791 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,791 INFO sqlalchemy.engine.Engine [cached since 2.658s ago] {'artist_name': 'girl in red'}

Row 790: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, girl in red).
; dropped

{'artist_name': 'girl in red'}
2025-05-14 15:05:43,792 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,793 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,793 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,793 INFO sqlalchemy.engine.Engine [cached since 2.661s ago] {'artist_name': 'Lizzo'}

Row 791: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lizzo).
; dropped

{'artist_name': 'Lizzo'}
2025-05-14 15:05:43,794 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,795 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,795 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,795 INFO sqlalchemy.engine.Engine [cached since 2.662s ago] {'artist_name': 'Ed Sheeran'}

Row 792: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ed Sheeran).
; dropped

{'artist_name': 'Ed Sheeran'}
2025-05-14 15:05:43,796 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,796 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,797 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,797 INFO sqlalchemy.engine.Engine [cached since 2.664s ago] {'artist_name': 'BLACKPINK'}

Row 793: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, BLACKPINK).
; dropped

{'artist_name': 'BLACKPINK'}
2025-05-14 15:05:43,798 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,798 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,799 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,799 INFO sqlalchemy.engine.Engine [cached since 2.666s ago] {'artist_name': 'Lil Baby'}

Row 794: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Lil Baby).
; dropped

{'artist_name': 'Lil Baby'}
2025-05-14 15:05:43,800 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,801 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,801 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,801 INFO sqlalchemy.engine.Engine [cached since 2.668s ago] {'artist_name': 'Luciano, Aitch, Bï¿½'}

Row 795: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Luciano, Aitch, Bï¿½).
; dropped

{'artist_name': 'Luciano, Aitch, Bï¿½'}
2025-05-14 15:05:43,802 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,802 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,803 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,803 INFO sqlalchemy.engine.Engine [cached since 2.67s ago] {'artist_name': 'MC Ryan SP, Love Funk, Mc Paiva ZS'}

Row 796: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, MC Ryan SP, Love Funk, Mc Paiva ZS).
; dropped

{'artist_name': 'MC Ryan SP, Love Funk, Mc Paiva ZS'}
2025-05-14 15:05:43,804 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,804 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,805 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,805 INFO sqlalchemy.engine.Engine [cached since 2.672s ago] {'artist_name': 'Drake, 21 Savage'}

Row 797: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Drake, 21 Savage).
; dropped

{'artist_name': 'Drake, 21 Savage'}
2025-05-14 15:05:43,806 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,807 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,807 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,808 INFO sqlalchemy.engine.Engine [cached since 2.675s ago] {'artist_name': 'Drake, Travis Scott, 21 Savage'}

Row 798: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Drake, Travis Scott, 21 Savage).
; dropped

{'artist_name': 'Drake, Travis Scott, 21 Savage'}
2025-05-14 15:05:43,809 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,810 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,811 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,812 INFO sqlalchemy.engine.Engine [cached since 2.679s ago] {'artist_name': 'Taylor Swift'}

Row 799: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:43,813 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,813 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,814 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,814 INFO sqlalchemy.engine.Engine [cached since 2.681s ago] {'artist_name': 'Taylor Swift'}

Row 800: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:43,815 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,816 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,816 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,817 INFO sqlalchemy.engine.Engine [cached since 2.684s ago] {'artist_name': 'Drake, 21 Savage'}

Row 801: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Drake, 21 Savage).
; dropped

{'artist_name': 'Drake, 21 Savage'}
2025-05-14 15:05:43,818 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,818 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,818 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,819 INFO sqlalchemy.engine.Engine [cached since 2.686s ago] {'artist_name': 'Taylor Swift'}

Row 802: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:43,819 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,820 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,820 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,820 INFO sqlalchemy.engine.Engine [cached since 2.687s ago] {'artist_name': 'Drake, 21 Savage'}

Row 803: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Drake, 21 Savage).
; dropped

{'artist_name': 'Drake, 21 Savage'}
2025-05-14 15:05:43,821 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,822 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,822 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,822 INFO sqlalchemy.engine.Engine [cached since 2.69s ago] {'artist_name': 'Drake, 21 Savage'}

Row 804: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Drake, 21 Savage).
; dropped

{'artist_name': 'Drake, 21 Savage'}
2025-05-14 15:05:43,824 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,824 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,825 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,825 INFO sqlalchemy.engine.Engine [cached since 2.692s ago] {'artist_name': 'Taylor Swift'}

Row 805: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:43,826 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,827 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,827 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,827 INFO sqlalchemy.engine.Engine [cached since 2.695s ago] {'artist_name': 'Ludwig Goransson, Foudeqush'}

Row 806: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Ludwig Goransson, Foudeqush).
; dropped

{'artist_name': 'Ludwig Goransson, Foudeqush'}
2025-05-14 15:05:43,829 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,830 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,830 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,830 INFO sqlalchemy.engine.Engine [cached since 2.697s ago] {'artist_name': 'Drake, 21 Savage'}

Row 807: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Drake, 21 Savage).
; dropped

{'artist_name': 'Drake, 21 Savage'}
2025-05-14 15:05:43,831 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,832 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,832 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,832 INFO sqlalchemy.engine.Engine [cached since 2.7s ago] {'artist_name': 'Jin'}

Row 808: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Jin).
; dropped

{'artist_name': 'Jin'}
2025-05-14 15:05:43,834 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,835 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,835 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,835 INFO sqlalchemy.engine.Engine [cached since 2.702s ago] {'artist_name': 'Drake'}

Row 809: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Drake).
; dropped

{'artist_name': 'Drake'}
2025-05-14 15:05:43,836 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,837 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,837 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,837 INFO sqlalchemy.engine.Engine [cached since 2.705s ago] {'artist_name': 'Drake, 21 Savage'}

Row 810: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Drake, 21 Savage).
; dropped

{'artist_name': 'Drake, 21 Savage'}
2025-05-14 15:05:43,838 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,839 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,839 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,839 INFO sqlalchemy.engine.Engine [cached since 2.706s ago] {'artist_name': 'Taylor Swift'}

Row 811: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:43,840 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,840 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,841 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,841 INFO sqlalchemy.engine.Engine [cached since 2.708s ago] {'artist_name': 'Selena Gomez'}

Row 812: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Selena Gomez).
; dropped

{'artist_name': 'Selena Gomez'}
2025-05-14 15:05:43,842 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,842 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,843 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,843 INFO sqlalchemy.engine.Engine [cached since 2.71s ago] {'artist_name': 'Taylor Swift'}

Row 813: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Taylor Swift).
; dropped

{'artist_name': 'Taylor Swift'}
2025-05-14 15:05:43,844 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,844 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,845 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,845 INFO sqlalchemy.engine.Engine [cached since 2.712s ago] {'artist_name': 'Feid, Paulo Londra'}

Row 814: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Feid, Paulo Londra).
; dropped

{'artist_name': 'Feid, Paulo Londra'}
2025-05-14 15:05:43,846 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,847 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,847 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,848 INFO sqlalchemy.engine.Engine [cached since 2.715s ago] {'artist_name': 'Feid, Sech, Jhayco'}

Row 815: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Feid, Sech, Jhayco).
; dropped

{'artist_name': 'Feid, Sech, Jhayco'}
2025-05-14 15:05:43,850 INFO sqlalchemy.engine.Engine COMMIT
2025-05-14 15:05:43,851 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 15:05:43,852 INFO sqlalchemy.engine.Engine INSERT INTO artists (artist_name) VALUES (%(artist_name)s)
2025-05-14 15:05:43,853 INFO sqlalchemy.engine.Engine [cached since 2.72s ago] {'artist_name': 'Burna Boy'}

Row 816: integrity error inserting into artists: null value in column "artist_id" of relation "artists" violates not-null constraint
DETAIL:  Failing row contains (null, Burna Boy).
; dropped

{'artist_name': 'Burna Boy'}
2025-05-14 15:05:43,854 INFO sqlalchemy.engine.Engine COMMIT
Data insertion complete!

In [55]:
total_rows = len(dataframe)
for tbl_name in table_order:
    s = lookup[tbl_name]["stats"]
    dropped_pct = (s["dropped"] / s["attempt"]) * 100 if s["attempt"] else 0
    print(
        f"{tbl_name}: dropped {s['dropped']}/{s['attempt']} rows ({dropped_pct:.1f}%) during load"
    )

artists: dropped 817/817 rows (100.0%) during load
tracks: dropped 0/0 rows (0.0%) during load